{% extends "base.html" %}
{% load static %}

{% block title %}About the Project{% endblock %}

{% block body_class %}about{% endblock %}

{% block header %}
  {{ block.super }}
  <nav class="sub-nav horizontal">
  </nav>
{% endblock %}

{% block content %}

<section class="theme-light">
    <div class="partial-width">
        <h1>Introduction</h1>
    </div>
</section>

<section class="theme-light">
    <h2>About the Project</h2>
<p>
The Harvard Law School Library uniquely owns and manages approximately one million pages of documents relating to the trial of military and political leaders of Nazi Germany before the International Military Tribunal (IMT) and the subsequent twelve trials of other accused Nazi war criminals before the United States Nuremberg Military Tribunals (NMT) during the period 1945-49.  Considered by many to be the most significant series of trials in history, these trials were established to prosecute those in authority in the Nazi regime for war crimes and crimes against humanity, to document those atrocities so that a permanent historical record would be created, and to establish a standard of conduct acceptable in time of war.</p>

<p>The documents -- which include trial transcripts and full trial exhibits and related materials -- have been studied by lawyers, scholars and other researchers in the areas of history, ethics, genocide, and war crimes, and are of particular interest to officials and students of current international tribunals involving war crimes and crimes against humanity.</p>

<p>To preserve the contents of these documents -- which are now too fragile to be handled -- and to provide expanded access to this material, the Library has undertaken a multi-stage digitization project, originally conceived in the late 1990s and implemented in stages since then.  The Nuremberg Trials Project is an open-access initiative to create, present and make accessible digitized images of the Library's Nuremberg documents, document descriptions, associated transcripts in both full-text and image formats and general information about the trials.</p>

<p>The documents include transcripts recording the full protocol of courtroom activity over the course of each trial, indictments, arraignments, opening and closing statements, trial briefs, the documents submitted into evidence by both prosecution and defense, as well as the much larger set of source documents from which the trial exhibits were selected for use by lawyers.</p>

<p>While the document collection is primarily text-based, we have also included over 200 digitized photographs from the Nuremberg Tribunals from the Harvard Library's Visual Information Access (VIA) catalog.</p>

</section>
<section class="theme-light">
<h2>Materials Currently Provided by the Project</h2>
<p>
The Nuremberg Trials Project currently provides access to the document record for five and transcripts for four of the United States Nuremberg Military Tribunals: NMT 1 (Medical Case: U.S.A. v. Karl Brandt et al.), NMT 2 (Milch Case: U.S.A. v. Erhard Milch), NMT 3 (Justice Case: USA v. Josef Altstoetter et al. 1947), NMT 4 (The Pohl Case: U.S.A. v. Pohl et al.) and NMT 7 (The Hostage Case (USA v. Wilhelm List et al. 1947-48).</p>

<p>You can search for material and view it in a variety of ways. For example, you can search for a specific document or a group of documents, review the document analysis information for those documents and then inspect the associated document images. Or you can begin with the transcript and use it as a roadmap to the document collection, linking out to the documents cited in context or search the full text via keyword.</p>

</section>
{% endblock %}
