{% extends "base.html" %}
{% load static %}

{% block title %} Approaches to the Collection {% endblock %}

{% block body_class %}approaches fixed-nav{% endblock %}

{% block header %}
  {{ block.super }}
  <nav class="sub-nav horizontal">
    <li>
      <a href="#doc_analysis">Document Analysis</a>
    </li>
    <li>
      <a href="#data_structure">Data Structure</a>
    </li>
    <li>
      <a href="#doc_structure">Document Structure</a>
    </li>
    <li>
      <a href="#ef_doc_groups">Evidence File Document Groups</a>
    </li>
    <li>
      <a href="#ef_doc_analysts">Evidence File Document Analysts</a>
    </li>
  </nav>
{% endblock %}

{% block content %}
<div class="sub-nav-padding"></div>
<section class="theme-light">   
  <div class="partial-width">
  <h1>Documents</h1>  
    <p class="intro"> 
        Document structure and schema used in analyzing documents
    </p>
    </div>  
</section>
<section class="theme-light">
  <h2>Analysis</h2>
  <div class="anchor" id="doc_analysis"></div>
  <h3>Method Used for the Analysis</h3>

  <p>The information provided about each document in a display of search results, as well
  as the elements that are searchable, derive from the HLSL database built up from the
  analysis of documents in the Nuremberg Collection. Most of the search elements, such as
  personal author or date of document, are taken directly from parallel fields in the
  database; keyword search is a search that draws upon multiple database fields,
  including authors, titles, notes, defendants concerned, and subjects. The analysis has
  been done document by document, with nearly all of the analytical information being
  drawn or derived from each text.</p>

  <p>Reference works have been used for some purposes, but the most important means of
  clarifying an individual document has been the related material in the collection. For
  a trial exhibit, for example, the trial transcript provides not only a trial date and
  transcript page reference, but also (usually) a clear statement of the subjects and
  defendants in regard to which the exhibit was submitted--something that the text of the
  document does not always make clear. In addition, any ambiguity, omission, or even a
  typographical error in a single document can often be corrected by referring to the
  trial transcript and/or other versions of the same text in the collection; a misprint
  in a trial exhibit, for example, can be corrected by checking the photostat or other
  version of the same text in the Evidence Files. The combination of the Case Files
  (trial documents), the trial transcript, and the Evidence Files (NO, PS, etc.) has
  allowed us to fill many gaps (such as the full name of a person mentioned by surname
  only) and correct many small errors (such as mistyped dates and numbers) in the
  documents. In the database, we correct small errors silently; when correcting a larger
  error, the error and the correction are indicated in the "Notes" field of the
  database.</p>

  <p>Trial documents are analyzed in slightly more detail than the evidence file
  documents. For trial documents we note the trial issues (a prosecution charge or a
  defense response) and the defendant(s) to which the document relates. Since evidence
  file documents are not part of any one trial, these attributes do not apply.</p>
  
  <div class="anchor" id="data_structure"></div>
  <h3>Database Fields for Each Document</h3>

  <ul>
    <li><strong>Item number</strong>: This unique identifying number is generated
    automatically by the database program.</li>

    <li><strong>Descriptive title</strong>: This usually begins with a genre term
    indicating the nature or category of a documents (e.g., affidavit, article, brief,
    extract, letter, list, memorandum) and a short statement indicating the subject area.
    For example, "Memorandum concerning the euthanasia program." Only subjects related to
    trial issues are noted, and there is a premium on brevity.</li>

    <li><strong>Literal title</strong>: If present; many documents have no title.</li>

    <li><strong>Personal author</strong>: The author's name, with a title or other
    identifying information if available. This information is usually drawn from the
    document itself, but often other documents provide additional information.</li>

    <li><strong>Institutional or group author</strong>: Provided if the document was
    produced by an agency or group or another collective source (e.g., laws published in
    the official state gazette).</li>

    <li><strong>Document date</strong>: Day, month, and year, when known.</li>

    <li><strong>IMT/NMT document code</strong>: If the document was drawn from the coded
    collections of war crimes evidence (e.g., NO or PS), the code letters and number are
    given.</li>

    <li><strong>Notes</strong>: Clarifying information is provided if the document is
    difficult to identify or categorize, or if a major error in the text has been
    corrected.</li>

    <li><strong>Photographs</strong>: If present, these are noted with a general
    description.</li>

    <li><strong>Language</strong>: English, German, or other.</li>

    <li><strong>Box and folder number</strong>: The physical location of the document;
    for internal use only.</li>

    <li><strong>Pages</strong>: The number of pages is noted.</li>

    <li><strong>Trial or Non-trial document</strong>: Indicates whether the document
    comes from the case files of a particular trial (trial documents), or from the
    evidence files assembled by the war crimes staff (non-trial documents).</li>

    <li><strong>Source of document</strong>: For trial documents, the case files of a
    particular trial; for non-trial documents, the particular evidence set (or other
    material) to which the document belongs.</li>

    <li><strong>Version of document</strong>: For trial documents, the English language
    case files; for non-trial documents, the particular version of a text (the staff
    evidence analysis, photostat of the original, English typescript, or German
    typescript).</li>

    <li><strong>Exhibit number, document number, and document book number of trial
    documents</strong>: Applies to case files only, specifying the prosecution or defense
    exhibit number, document number, and document book number.</li>

    <li><strong>Subjects of trial documents</strong>: Applies to case files only;
    indicates the subject areas of the document that are relevant for the trial. Other
    subjects are not indicated.</li>

    <li><strong>Defendants concerned in trial documents</strong>: Applies to case files
    only; indicates which defendants are involved or relevant to the subjects covered by
    the document.</li>

    <li><strong>Trial citations</strong>: Dates and pages in the trial transcript where
    the document is mentioned or used. Not all documents are mentioned in the transcript
    (e.g., briefs presented to the tribunal), and not all mentions are recorded; we try
    to provide one citation, but not necessarily more.</li>
  </ul>
</section>

<section class="theme-light">
  <div class="anchor" id="doc_structure"></div>
  <h2 id="doc_structure"> Documents Related to the Nuremberg Trials </h2>
  <div class="three-column-layout serif">
    <div class="column">
      <h3> Trial Documents </h3>
      <p>
        Trial documents, or case file documents, are briefs, transcripts of oral arguments, document books of evidence exhibits, and other documents that were used in the course of the trial (or, in a few cases, prepared for use but not finally used in the trial). The bulk of the trial documents are the briefs presented by the defense and prosecution for and against each defendant, and the document books containing texts of the written evidence presented as exhibits.
      </p>
      <p>
        Prosecution document books are organized by subject (e.g., euthanasia or the sterilization experiments in Case 1), while the defense document books are organized by individual defendants (e.g., Dr. Becker-Freyseng). This difference reflects the way the two sides presented their cases: The prosecution presented evidence about the various crimes in succession, citing the various defendants charged  with responsibility for each one (e.g., the defendants implicated in the freezing experiments), and each defendant presented a separate case concerning the charges he or she faced (e.g., the several charges against Viktor Brack).
      </p>
      <p>
        Nearly all of the prosecution exhibits, and many of the defense exhibits, were derived from material in the Evidence Files (see following section), so that trial documents and evidence file documents often provide the same text in multiple forms, with the trial document text in English and the evidence file text in English, German, and occasionally other languages. Sometimes the trial document text is a brief extract from a much longer full text in the evidence files. While the evidence files contain the material available for use in all the trials, the trial documents are those actually used in a particular trial.
      </p>
    </div>
    <div class="column">
      <h3> Evidence File Documents </h3>
      <p>
        The Evidence Files are collections of documents assembled by the IMT and NMT staffs for possible use in the Nuremberg trials. These files provided nearly all of the documentary evidence used by the prosecution and some of the evidence used by defendants. (Most defense evidence was assembled by individual defense attorneys and is represented only in the Case Files.) If a document was selected for use, English and German typescripts were extracted from the Evidence Files, or prepared separately, and placed in the Case Files used by the prosecution and defense attorneys; thus the same text often appears in both groups but any particular document belongs to one group or the other.
      </p>
      <p>
        A full set of an Evidence File documents consists of four items: a photostat of the original document (usually but not always in German); a Staff Evidence Analysis identifying and analyzing the document; an English translation and typescript of the text; and a German typescript of the text.
      </p>
      <p>
        The Evidence Files supplement the trial documents (case files) in two different ways. When a document is found in both groups, the Evidence File set adds information not contained in the Case File's English typescript: the Staff Evidence Analysis indicates how the IMT/NMT staff, and therefore the prosecution, identified and interpreted the document; the photostat contains visual clues such as letterheads, time-stamps, and manuscript annotations that clarify the text; and the German typescript assists in making comparisons between the German original and the English translation (the photostat text is often difficult to read). And when the document is missing from the Case Files, the Evidence Files provide a good substitute.
      </p>
    </div>
    <div class="column">
      <p>
        Prosecution document books are organized by subject (e.g., euthanasia or the sterilization
        experiments in Case 1), while the defense document books are organized by individual
        defendants (e.g., Dr. Becker-Freyseng). This difference reflects the way the two sides
        presented their cases: The prosecution presented evidence about the various crimes in
        succession, citing the various defendants charged with responsibility for each one (e.g.,
        the defendants implicated in the freezing experiments), and each defendant presented a
        separate case concerning the charges he or she faced (e.g., the several charges against
        Viktor Brack).
      </p>
      <p>
        Nearly all of the prosecution exhibits, and many of the defense exhibits, were derived
        from material in the Evidence Files (see following section).
      </p>
    </div>
  </div>
  <div class="center-text">
    <h4>Full set of documents for Evidence File NO-208</h4>
    <p class="hint">Click on each document to view it in the Document Viewer.</p>
  </div>
  <div class="four-column-layout">
    <div class="column">
      <a class="unstyled" href="/documents/1264-letter-to-heinrich-himmler?q=hlsl:1264#p.1">
        <img src="{% static 'images/approaches/document-photostat.png' %}" />
      </a>
      <p class="caption">Photostat of original document</p>
    </div>
    <div class="column">
      <a class="unstyled" href="/documents/1265-letter-to-heinrich-himmler?q=hlsl:1265#p.1">
        <img src="{% static 'images/approaches/document-german.png' %}" />
      </a>
      <p class="caption">German typescript</p>
    </div>
    <div class="column">
      <a class="unstyled" href="/documents/1266-letter-to-heinrich-himmler?q=hlsl:1266#p.1">
        <img src="{% static 'images/approaches/document-english.png' %}" />
      </a>
      <p class="caption">English translation</p>
    </div>
    <div class="column">
      <a class="unstyled" href="/documents/1263-letter-to-heinrich-himmler?q=hlsl:1263#p.1">
        <img src="{% static 'images/approaches/document-analysis.png' %}" />
      </a>
      <p class="caption">Staff analysis</p>
    </div>
  </div>
  <div class="center-text">
    <h4>Trial Document</h4>
    <p class="hint">
      This Case File Document (Trial Document) was derived from the English translation of
      <br />
      Evidence File NO-208. Click to view it in the Document Viewer.
    </p>
  </div>
  <div class="centered-column">
    <a class="unstyled" href="/documents/119-letter-to-heinrich-himmler?q=hlsl:119#p.1">
      <img src="{% static 'images/approaches/document-exhibit.png' %}" />
    </a>
    <p class="caption">Prosecution Exhibit No. 166, Medical Case</p>
  </div>
</section>

<section class="theme-light">  
  <div class="anchor" id="ef_doc_groups"></div>
  <h2>Evidence File Document Groups</h2>
  <p>These evidence sets were assembled by various war crimes staffs for use in the IMT
  and NMT. The six "N" groups were assembled by the NMT staff; the others were assembled
  for the IMT.</p>

  <p>The subject area indicated for each group is approximate rather than strictly
  literal:</p>

  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td>C</td>

      <td>Crimes (IMT; collected by British Admiralty)</td>
    </tr>

    <tr>
      <td>D</td>

      <td>Industry (IMT, British prosecution)</td>
    </tr>

    <tr>
      <td>EC</td>

      <td>Economics (IMT)</td>
    </tr>

    <tr>
      <td valign="top">ECH</td>

      <td>Economics-Heidelberg (IMT, Heidelberg Document Center)</td>
    </tr>

    <tr>
      <td valign="top">ECR</td>

      <td>Economics-Reichskreditkassen (IMT, Rosenheim Document Center)</td>
    </tr>

    <tr>
      <td>L</td>

      <td>London (IMT; collected in London)</td>
    </tr>

    <tr>
      <td valign="top">M</td>

      <td>Melvin (IMT) (Melvin Jones, Assistant Prosecutor of the United Kingdom)</td>
    </tr>

    <tr>
      <td valign="top">NG</td>

      <td>Nuremberg Government (NMT; concerning Nazi government agencies)</td>
    </tr>

    <tr>
      <td valign="top">NI</td>

      <td>Nuremberg Industrialist (NMT; concerning industry and finance, including NID
      for Dresdener Bank and NIK for Krupp)</td>
    </tr>

    <tr>
      <td>NM</td>

      <td>Nuremberg Miscellaneous (NMT)</td>
    </tr>

    <tr>
      <td valign="top">NO</td>

      <td>Nuremberg Organizations (NMT; concerning Nazi organizations such as the
      SS)</td>
    </tr>

    <tr>
      <td valign="top">NOKW&nbsp;</td>

      <td>Nuremberg High Command (NMT; concerning the Oberkommando der Wehrmacht)</td>
    </tr>

    <tr>
      <td>NP</td>

      <td>Nuremberg Propaganda (NMT)</td>
    </tr>

    <tr>
      <td valign="top">PS</td>

      <td>Paris-Storey (IMT) (Col. R. Storey, Documentation Division, Paris; the
      principal US collection for the IMT)</td>
    </tr>

    <tr>
      <td valign="top">R</td>

      <td>Rothschild (IMT) (Lt. Rothschild; from OSS collection in London)</td>
    </tr>

    <tr>
      <td valign="top">TC</td>

      <td>Treaty Committee (IMT; documents concerning international agreements)</td>
    </tr>
  </table>
</section>

<section>    
  <div class="anchor" id="ef_doc_analysts"></div>
  <h2 id="ef_doc_analysts">Evidence Document Analysts in the Office of the Chief of Counsel for War
  Crimes</h2>

  <p>Staff Evidence Analysts worked for both the IMT and the NMT war crimes staffs,
  preparing brief identification and analysis forms (Staff Evidence Analysis forms) for
  the evidence file document sets (NO, PS, R, etc.). In some cases the full name of the
  analyst is not known.</p>Bierer, Walter<br />
  Blakeslee, R. C.<br />
  Brandt, Wolfgang L.<br />
  Bretscher, Paul<br />
  Buchsbaum, John<br />
  Carter, Mary E.<br />
  Charlier, Roger<br />
  Cohn<br />
  Cornuz, J. L.<br />
  Cunningham, E. V.<br />
  Czeisler, Vincent<br />
  Eitner, Lorenz<br />
  Farmakis, Marina<br />
  Favarger, Guy<br />
  Fehl, Maria R.<br />
  Fenstermacher, Nancy H.<br />
  Fiskus, Dr. H.<br />
  Fite, Katherine.<br />
  Flesch, Peter<br />
  Gumpel, S.<br />
  H., E. R.<br />
  Haney, Trude B.<br />
  Hardy, A. G.<br />
  Hartman, Ludwig<br />
  Heilig, Bruno<br />
  Houtz, M. J.<br />
  Ippen, Charles E.<br />
  Jasinski, Ellinor F.<br />
  Karp<br />
  Krantz, S.<br />
  Landmann, Frederick<br />
  Lang, Olga<br />
  Margen, Dorit<br />
  Markov, Demetrius K.<br />
  Mayer, Goetz<br />
  Mosse, Dr.<br />
  Murphy, M. A.<br />
  Natlacen-Malec, Mark<br />
  Opel, F.<br />
  Petersen, A. L.<br />
  Petterson, Lucille<br />
  Pinion, Barbara M.<br />
  Popper, R.<br />
  Reitzer, William<br />
  Sachs, Henry<br />
  Salgo, Margit<br />
  Schafer, Mark<br />
  Schirmer, A.<br />
  Schlaepfer, O.<br />
  Schonfeld, Tibor<br />
  Siebenschein, Paul S.<br />
  Standring, Enid M.<br />
  Stewart, Elisabeth M.<br />
  Thormann, Wolfgang<br />
  Ungar, Herbert<br />
  Wachenheimer, Hedy<br />
  Weldon, Lt.<br />
  Wolf, Frank G.<br />
  Wolfson, Manfred<br />
  Young, Frank W.<br />
  Zucker, Adolph<br />
</section>

{% endblock %}
