{% extends "base.html" %}
{% load static %}

{% block title %} People {% endblock %}

{% block body_class %}about{% endblock %}

{% block header %}
  {{ block.super }}
  <nav class="sub-nav horizontal">
    <li>
      <a href="#summary">Summary</a>
    </li>
    <li>
      <a href="#persons">Persons Involved</a>
    </li>
    <li>
      <a href="#chronology_overview">Chronology Overview</a>
    </li>
    <li>
      <a href="#indictment">Indictment</a>
    </li>
    <li>
      <a href="#wvha">WVHA Organisation</a>
    </li>
    <li>
      <a href="#concentration_camps">Concentration Camps</a>
    </li>
    <li>
      <a href="#ef_groups">Evidence File Groups</a>
    </li>
    <li>
      <a href="#chronology_detailed">Detailed Chronology</a>
    </li>
  </nav>
{% endblock %}

{% block content %}
<section class="theme-light">
    <div class="partial-width">
        <h1>NMT Case 4</h1>
        <p class="intro">U.S.A. v. Pohl et al.<p>
    </div>
</section>
<section class="theme-light">
        <div class="anchor" id="summary"></div>
        <h2>Summary</h2><br />
        <p>In NMT Case 4, U.S.A. v. Pohl et al., Oswald Pohl and seventeen other
        officials of the SS Economic and Administrative Main Office (Wirtschafts und
        Verwaltungshauptant, WVHA) were charged with conspiracy to commit war crimes and
        crimes against humanity, war crimes, crimes against humanity, and membership in a
        criminal organization. The crimes occurred in the concentration camps and labor
        camps of the SS in Germany and the occupied territories, which the WVHA managed
        from 1942 to 1945. According to the prosecution, approximately 10,000,000 persons
        were imprisoned in these camps. Specific charges included: imprisonment of
        civilians, nationals of foreign countries, and prisoners of war; exploitation of
        inmates as laborers; medical experiments conducted on prisoners; extermination of
        the Jews; sterilization; mistreatment of prisoners of war; euthanasia; and
        deportation of foreign nationals and plundering of their property. (These charges
        reflected two different forces in the SS system, which sometimes overlapped and
        sometimes competed against each other: The program of generating revenue for the
        SS by exploiting captive labor for profit, and the program of punishing and
        exterminating those considered enemies of the Nazi state.) Pohl was the chief of
        the WVHA, with August Frank and Georg Loerner as deputies. The other defendants
        were officials in the Amtsgruppen and Aemter (office groups and offices)
        responsible for specific aspects of the concentration camps and related
        operations of the SS. A few defendants were also charged with responsibility for
        crimes allegedly committed by their military units while they were on active
        military duty.</p>
    </section>
    <section class="theme-light">
        <div class="anchor" id="persons"></div>
        <h2>Persons Involved</h2>
          <h3>Military Tribunal II</h3>
            <p class="list">
              Robert M. Toms, presiding (Third Judicial Circuit, Detroit,
              Michigan)<br />
              Fitzroy D. Phillips (Superior Court, 13th District, North
              Carolina)<br />
              Michael A. Musmanno (Court of Common Pleas, Allegheny County,
              Pennsylvania)<br />
              John J. Speight, alternate (attorney, Alabama)<br />
          <h3>Prosecution</h3>
            <p class="list">
              Telford Taylor, Chief of Counsel for War Crimes<br />
              James M. McHaney, chief, SS division<br />
              Jack W. Robbins, chief prosecutor for Case 4<br />
              Hans Froelich, prosecutor<br />
              Baucum Fulkerson, prosecutor<br />
              William I. Hart, prosecutor<br />
              James R. Higgins, prosecutor<br />
              Julius I. Rudolph, Jr., prosecutor<br />
              Daniel J. Shiller, deputy director, SS division<br />
              Peter W. Walton, prosecutor<br />
              Erik Ortmann, interrogator<br />
              Kurt Ponger, interrogator<br />
              Paul Siebenschein, research and analysis<br />
              Howell Webb, research and analysis<br />
              Larry Wolff, interrogator<br />
              Hans Wolffsohn, research and analysis<br />
              Frank Young, research and analysis</li>
            </p>
          <h3>Defendants (WVHA Amtsgruppe = Office Group; Aemter = Offices)</h3>
            <p class="list">
              Hans Hienrich Baier, executive officer of Amtsgruppe W, WVHA, SS
              Oberfuehrer. Verdict: Guilty on counts 2, 3, 4. Prison term: 10 years,
              commuted to time served (1951).<br />
              Dr. Hans Bobermin, Chief of Office 2 of Amtsgruppe W, WVHA, SS
              Obersturmbannfuehrer. Verdict: Guilty on counts 2, 3, 4. Prison term: 20
              years, reduced to 15 years.<br />
              Franz Eirenschmalz</b>, Chief of Office 6 of Amtsgruppe C, WVHA, SS
              Standartenfuehrer. Verdict: Guilty on counts 2, 3, 4. Death penalty;
              commuted to 9 years.<br />
              Heinz Karl Fanslau</b>, Chief of Amtsgruppe A, WVHA, SS
              Brigadefuehrer, Waffen SS. Verdict: Guilty on counts 2, 3, 4. Prison term:
              25 years, reduced to 20 years, commuted to 15 years.<br />
              August Frank</b>, Deputy Chief of WVHA, Chief of Amtsgruppe A, WVHA,
              SS Obergruppen- fuehrer, Waffen SS. Verdict: Guilty on counts 2, 3, 4. Life
              in prison, commuted to 15 years.<br />
              Dr. Hans Hohberg</b>, auditor for executive office of Amtsgruppe W,
              WVHA. Verdict: Guilty on counts 2 and 3. Prison term: 10 years, commuted to
              time served (1951).<br />
              Max Kiefer</b>, Deputy chief of Amtsgruppe C, Chief of Office 2 of
              Amtsgruppe C, WVHA, SS Obersturmbannfuehrer. Verdict: Guilty on counts 2,
              3, 4. Prison term: life in prison, reduced to 20 years, commuted to time
              served (1951).<br />
              Horst Klein</b>, Chief of Office 8 of Amtsgruppe W, WVHA, SS
              Obersturmbannfuehrer. Verdict: Acquitted on counts 2, 3, 4.<br />
              Georg Loerner</b>, Deputy Chief of WVHA, Chief of Amtsgruppe B,
              WVHA, SS Gruppenfuehrer, Waffen SS. Verdict: Guilty on counts 2, 3, 4.
              Death penalty, reduced to life in prison, commuted to 15 years.<br />
              Hans Loerner</b>, Chief of Office 1 of Amtsgruppe A, WVHA, SS
              Oberfuehrer. Verdict: Guilty on counts 2, 3, 4. Prison term: 10 years,
              commuted to time served (1951).<br />
              Karl Mummenthey</b>, Chief of Office 1 of Amtsgruppe W, WVHA, SS
              Obersturmbannfuehrer. Verdict: Guilty on counts 2, 3, 4. Life in prison,
              commuted to 20 years.<br />
              Oswald Pohl</b>, Chief of WVHA and Amtsgruppe W, WVHA, SS
              Obergruppenfuehrer, Waffen SS. Verdict: Guilty on counts 2, 3, 4. Death
              penalty.<br />
              Dr. Hermann Pook</b>, Office 3 (chief dentist) of Amtsgruppe D,
              WVHA, Waffen SS Obersturmbannfuehrer. Verdict: Guilty on counts 2, 3, 4.
              Prison term: 10 years, commuted to time served (1951).<br />
              Rudolf Scheide</b>, Chief of Office 5 of Amtsgruppe B, WVHA, SS
              Standartenfuehrer. Verdict: Acquitted on counts 2, 3, 4.<br />
              Karl Sommer</b>, Deputy Chief of Office 2 of Amtsgruppe D, WVHA, SS
              Sturmbannfuehrer. Verdict: Guilty on counts 2, 3, 4. Death penalty,
              commuted to life in prison, then reduced to 20 years.<br />
              Erwin Tschentscher</b>, Deputy Chief of Amtsgruppe B, Chief of
              Office 1 of Amtsgruppe B, WVHA, SS Standartenfuehrer. Verdict: Guilty on
              counts 2, 3, 4. Prison term: 10 years, commuted to time served (1951).<br />
              Josef Vogt</b>, Chief of Office 4 of Amtsgruppe A, WVHA, SS
              Standartenfuehrer. Verdict: Acquitted on counts 2, 3, 4.<br />
              Dr. Leo Volk</b>, adviser to Pohl, head of legal section in
              executive office of Amtsgruppe W, WVHA, SS Hauptsturmfuehrer. Verdict:
              Guilty on counts 2 and 3; acquitted on count 4. Prison term: 10 years,
              commuted to 8 years.
            </p>
          <h3>Defense attorneys (in defendant order)</h3>
            <p class="list">
              Baier: Dr. Stefan Fritsch and Dr. Georg Menzel; Menzel and Dr.
              Oskar von Jagwitz<br />
              Bobermin: Dr. Hans Gawlik and Dr. Gerhard Klinnert<br />
              Eirenschmalz: Dr. Bolko von Stein and Dr. Oskar von Jagwitz; Dr.
              Robert Servatius<br />
              Fanslau: Dr. Curt-Ferdinand von Stakelberg<br />
              Frank: Dr. Gerhard Rauschenbach and Johann Schaetzler<br />
              Hohberg: Dr. Willi Heim and Dr. Wilhelm Maas; Dr. Ernst
              Schulte<br />
              Kiefer: Dr. Erich Mayer and Dr. Ferdinand Leis<br />
              Klein: Dr. Friedrich Bergold and Dr. Oskar Ficht<br />
              G. Loerner: Dr. Carl Haensel and Dr. Heinz Mueller-Torgow<br />
              H. Loerner: Dr. Gerhard Rauschenbach and Johann Schaetzler; Dr.
              Wilhelm Schmidt<br />
              Mummenthey, Karl: Dr. Georg Froeschmann and Dr. Karl Pracht<br />
              Pohl: Dr. Alfred Seidl and Dr. Georg Gierl<br />
              Pook: Dr. Paul Ratz<br />
              Scheide: Dr. Karl Hoffmann<br />
              Sommer: Dr. Eduard Belzer and Dr. Joseph Mayer; Dr. Karl
              Hoffman<br />
              Tsentscher: Dr. Hans Pribilla and Helmut Eisenblaetter<br />
              Vogt: Dr. Wilhelm Schmidt<br />
              Volk: Dr. Hans Gawlik and Dr. Gerhard Klinnert<br />
            </p>
        </section>
        <section class="theme-light">
        <div class="anchor" id="chronology_overview"></div>
        <h2>Chronology Overview</h2>
<table class="table-trial-chronology"><br />
<tr><td>   13 Jan 1947</td><td>Indictment submitted</td></tr>
<tr><td>   10 Mar 1947</td><td>Arraignment</td></tr>
<tr><td>    8 Apr 1947</td><td>Prosecution opening statement; Pros. doc book 1 (defendants)</td></tr>
<tr><td>    9 Apr 1947</td><td>Pros. doc books 2-3 (WVHA ), 4 (concentration camps)</td></tr>
<tr><td>   10 Apr 1947</td><td>Pros. doc books 5-6 (concentration camps), 7 (medical experiments)</td></tr>
<tr><td>   11 Apr 1947</td><td>Pros. doc book 9 (medical experiments)</td></tr>
<tr><td>   16 Apr 1947</td><td>Pros. doc books 8 (medical experiments), 10 (euthanasia)</td></tr>
<tr><td>17-18 Apr 1947</td><td>Pros. doc books 11-13 (forced labor)</td></tr>
<tr><td>18-25 Apr 1947</td><td>Pros. doc books 14-17 (SS industries)</td></tr>
<tr><td>   25 Apr 1947</td><td>Pros. doc book 18, 18A, 19 (extermination and expropriation of the Jews), 20 Warsaw ghetto</td></tr>
<tr><td>   14 May 1947</td><td>Pros. doc. book 21 (additional documents)</td></tr>
<tr><td>14-15 May 1947</td><td>Defense opening statements</td></tr>
<tr><td>   16 May - 5 Jun 1947</td><td>Pohl defense</td></tr>
<tr><td> 5-10 Jun 1947</td><td>Frank defense</td></tr>
<tr><td>10-12 Jun 1947</td><td>Fanslau defense</td></tr>
<tr><td>12-13 June 1947</td><td>H. Loerner defense</td></tr>
<tr><td>13-17 June 1947</td><td>Vogt defense</td></tr>
<tr><td>17-20 June 1947</td><td>G. Loerner defense</td></tr>
<tr><td>20-24 June 1947</td><td>Tschentscher defense</td></tr>
<tr><td>24-26 June 1947</td><td>Kiefer defense</td></tr>
<tr><td>26-28 June 1947</td><td>Eirenschmalz defense</td></tr>
<tr><td>    8 June - 2 July 1947</td><td>Sommer defense</td></tr>
<tr><td> 2-10 July 1947</td><td>Pook defense</td></tr>
<tr><td>10-11 July 1947</td><td>Scheide defense</td></tr>
<tr><td>11-21 July 1947</td><td>Hohberg defense</td></tr>
<tr><td>   18 July 1947</td><td>Tribunal ruling on Count One</td></tr>
<tr><td>21-25 July 1947</td><td>Baier defense</td></tr>
<tr><td>25-30 July 1947</td><td>Volk defense</td></tr>
<tr><td>   30 July - 7 Aug 1947</td><td>Mummenthey defense</td></tr>
<tr><td> 7-12 Aug 1947</td><td>Bobermin defense</td></tr>
<tr><td>12-15 Aug 1947</td><td>Klein defense</td></tr>
<tr><td>   18 Aug -</td></tr>
<tr><td>   16 Sep 1947</td><td>Additional witnesses and documents (prosecution and defense)</td></tr>
<tr><td>   17 Sep 1947</td><td>Prosecution closing statement</td></tr>
<tr><td>17-20 Sep 1947</td><td>Defense closing statements (attorneys)</td></tr>
<tr><td>   22 Sep 1947</td><td>Defendants' final statements</td></tr>
<tr><td>    3 Oct 1947</td><td>Prosecution closing briefs (in English) submitted</td></tr>
<tr><td>    3 Nov 1947</td><td>Judgments and sentences</td></tr>
<tr><td>    7 June 1948</td><td>Military Governor order to reconvene for revision of judgment</td></tr>
<tr><td>   14 July 1948</td><td>Tribunal order authorizing additional defense briefs</td></tr>
<tr><td>   11 Aug 1948</td><td>Supplementary judgments and sentences</td></tr>
<tr><td>   30 Apr, 11 May 1949</td><td>Confirmation and revision of sentences by Military Governor</td></tr>
<tr><td>    2 May 1949</td><td>Denial of writ of habeas corpus by U.S.S.C.</td></tr>
<tr><td>   31 Jan 1951</td><td>Sentences revised by U.S. High Commissioner McCloy</td></tr>
</table>
</section>
<section class="theme-light">
        <div class="anchor" id="indictment"></div>
        <h2>Indictment</h2>
          <strong>Count 1</strong>
            <ol>
              <li>Conspiracy to commit war crimes and crimes against humanity, including:
              financing the SS; operation of concentration camps and labor camps, and the
              imprisonment, enslavement, torture, and murder of inmates; supply of inmate
              labor to German enterprises; use of inmates for medical experiments
              (epidemic jaundice, food, freezing, high altitude, malaria, phlegmon,
              poison gas, polygal, seawater, sterilization, sulfanilamide, typhus);</li>
              <li>participation in the extermination of the Jews;</li>
              <li>sterilization of targeted groups;</li>
              <li>mistreatment of prisoners of war;</li>
              <li>participation in the euthanasia program;</li>
              <li>deportation of citizens of occupied territories, plundering of their
              property, and exploitation of their labor.</li>
            </ol>
          <br />
          <strong>Count 2</strong>
            <ol>
              <li>War crimes.</li>
              <li>Crimes against citizens of occupied territories and prisoners of war
              between Sep 1939 and Apr 1945, including: imprisonment in concentration and
              labor camps; excessive work and inadequate care in the camps; mistreatment
              in transports and marches; murder, torture, and ill-treatment of inmates;
              medical experiments on inmates; sterilization of inmates; plundering of
              property; deportation of civilians and resettlement of "Aryans" in occupied
              territories; mass executions of Jews, Poles, and Russians; and persecution
              of clergymen, intellectuals, and other elements of targeted
              nationalities.</li>
            </ol>
          <br />
          <strong>Count 3</strong>
            <ol>
              <li>Crimes against humanity.</li>
              <li>Crimes against German civilians and nationals of other countries under
              German civil government between Sep 1939 and April 1945, including the acts
              specified in counts 1 and 2.</li>
            </ol>
          <br />
          <strong>Count 4</strong>
            <ol>
              <li>Membership in a criminal organization. All of the defendants except
              Hohberg were charged with membership in the SS.</li>
            </ol>
    </section>
    <section class="theme-light">
        <div class="anchor" id="wvha"></div>
        <h3>WVHA Organization and Officials</h3><br />
        <p>The SS Wirtschafts und Verwaltungshauptamt (WVHA; Economic and Administrative
        Main Office) was established in March 1942, with Pohl as its chief. It took the
        place of several previous offices, including the Administrative Department
        (Verwaltungsamt) of the SS Central Office (SS Hauptamt), the Department of Budget
        and Buildings (Hauptamt Haushalt und Bauten), and the Inspector of Concentration
        Camps (Inspekteur der Konzentrationslager). The WVHA had five Amtsgruppen (office
        groups), each divided into Aemter (offices). Amtsgruppe A, headed first by Frank
        and later by Fanslau, was responsible for finance and administration of the WVHA
        and other elements of the SS. Amtsgruppe B, headed by Georg Loerner, was
        responsible for food, supplies, raw materials, and equipment for the SS and
        concentration camps. Amtsgruppe C, headed by SS Gen. Hans Kammler, was
        responsible for buildings, grounds, and construction, including those in
        concentration camps. Amtsgruppe D, headed by SS Gen. Richard Gluecks, was
        responsible for the administration of the concentration camps. Amtsgruppe W,
        headed by Pohl and Georg Loerner, was responsible for the business enterprises of
        the SS.</p>
    </section>
    <section class="theme-light">
          <h2>WVHA organizational chart and outline</h2><br />
        <pre>
                                     Chief of WVHA
                                     Oswald Pohl
                                     deputies:
                                     A. Frank (until 1943)
                                     G. Loerner (1943-45)
                                     

Amtsgr. A          Amtsgr. B          Amtsgr. C          Amtsgr. D          Amtsgr. W
Administration     Supplies           Construction       Conc. camps        Econ. enterprises
A. Frank (-1944)   G. Loerner         Kammler            Gluecks            Pohl
Fanslau (1944-45)  dep. Tsentscher    dep. Schleiff,     dep. Liebehenschel dep. G. Loerner
                   asst. Manzen-      Kiefer             dep. Maurer        staff W: Hohberg,
                   berger                                asst. Harbaum      Baier, Volk
                                                                
Amt. A-1           Amt. B-1           Amt. C-1           Amt. D-1           Amt. W-1
Budgets            Food               General            Central office     Minerals-Reich
H. Loerner         Tsentscher         Sesemann           Liebehenschel      Mummenthey
                                      Rall               R. Hoess 43-45
                                     
Amt. A-2           Amt. B-2           Amt. C-2           Amt. D-2           Amt. W-2
Finance/payroll    Clothing           Special            Inmate labor       Minerals-East
Kukatsch (1942)    Lechler            Kiefer             Maurer             Bobermin
H. Loerner (43-45)                                       dep. Sommer                    

Amt. A-3           Amt. B-3           Amt. C-3           Amt. D-3           Amt. W-3
Legal              Housing            Technical          Medical            Food
Salpeter (1942)    Koberlein          Floto              Lolling            Rabineck (1942)
Frank                                 Wirtz              dental: Pook       Moeckel

Amt. A-4           Amt. B-4           Amt. C-4           Amt. D-4           Amt. W-4
Audits             Raw materials      Art projects       Camp admin.        Timber
Vogt               Weggel             Schneider          Burger (1942)      May
                                      Blaschek           Kaindl             Opperbeck
                                   
Amt. A-5           Amt. B-5           Amt. C-5           Legal Dept.        Amt. W-5
Personnel          Transport          Inspectorate       Wiener             Agric./forest/fish.
Fanslau            Scheide            Noell                                 Vogel
                                      Lenzer
                                             
                                      Amt. C-6                              Amt. W-6
                                      Maintenance                           Textiles/leather
                                      Eirenschmalz                          Lechler
                                     
                                                                            Amt. W-7
                                                                            Books/pictures
                                                                            Mischke
                                                                           
                                                                            Amt. W-8
                                                                            Special projects
                                                                            Salpeter
                                                                            Klein
</font>
</pre>
</section>
<section class="theme-light">

<h2>Defendants associated with WVHA and its Office Groups</h2>

            <ul class="list">
              <li><b>WVHA</b>: Pohl (chief), Frank (deputy), G. Loerner (deputy).</li>

              <li><b>Amtsgruppe A (SS administration/finance)</b>: Frank (chief), Fanslau
              (chief), H. Loerner, Vogt.</li>

              <li><b>Amtsgruppe B (SS supplies)</b>: G. Loerner (chief), Tschentscher
              (deputy), Scheide.</li>

              <li><b>Amtsgruppe C (SS construction)</b>: Kiefer, Eirenschmalz.</li>

              <li><b>Amtsgruppe D (concentration camp administration)</b>: Sommer,
              Pook.</li>

              <li><b>Amtsgruppe W (SS businesses)</b>: Pohl (chief), G. Loerner (deputy),
              Hohberg (auditor), Baier (exec. asst.), Volk (legal dept.), Mummenthey,
              Bobermin, Klein.</li>
            </ul>
          </li>
        </ul>
    </section>
    <section class="theme-list">

          <h2>Other persons and institutions involved in the WVHA and its
        activities</h2>

            <ul class="list">
              <li><b>Burger, Wilhelm</b>, Office 4 (administration) in Amtsgruppe D,
              WVHA</li>

              <li><b>DAW</b> (Deutsche Ausruestungwerke), German Equipment Works</li>

              <li><b>DWB</b> (Deutsche Wirtschaftsbetriebe), German Economic
              Enterprises</li>

              <li><b>DEST</b> (Deutsche Erd und Steinwerke), German Earth and Stone
              Works</li>

              <li><b>Eichmann, K. Adolf</b>, Chief of Office IV-B-4 ("Jewish Questions"),
              RSHA (Reich Security Main Office)</li>

              <li><b>Eicke, Theodor</b>, commandant at Dachau, 1933, Inspector of
              Concentration Camps, 1934-39</li>

              <li><b>Globocnik, Odilo</b>, Austrian. SS chief in Lublin, Poland; manager
              of OSTI and chief of Polish concentration camps.</li>

              <li><b>Gluecks, Richard, Gen.</b>, Inspector of Concentration Camps,
              1939-45, Chief of Amts. D, WVHA</li>

              <li><b>Heydrich, Reinhard</b>, Chief of the Reich Security Main Office (SS
              police and security agencies), 1939-42; chief of Gestapo, 1934-39</li>

              <li><b>Himmler, Heinrich</b>, Reichsfuehrer-SS and Chief of Police</li>

              <li><b>Hoess, Rudolf</b>, Office 1 in Amts. D, WVHA, 1943-45; officer at
              Dauchau 1934-38, at Sachsenhausen, 1938-40, commandant at Auschwitz
              1940-43</li>

              <li><b>Horn, Max, Dr.</b>, manager of OSTI</li>

              <li><b>Kaltenbrunner, Ernst</b>, chief of Reich Security Main Office
              (RSHA), 1943-45.</li>

              <li><b>Kammler, Hans, Dr.</b>, Chief of Amts. C, WVHA (construction)</li>

              <li><b>Krueger, Friedrich</b>, SS Police commander in Poland</li>

              <li><b>Liebehenschel</b>, camp inspectorate, Chief of Office 1, Amts. D;
              Auschwitz</li>

              <li><b>Lolling, Enno, Dr.</b>, Office 3 (medical dept.) in Amts. D</li>

              <li><b>Maurer, Gerhardt</b>, Office 2 in Amts. D, WVHA (allocation of
              inmate labor), 1942-45</li>

              <li><b>Mueller, Heinrich</b>, Chief of Secret State Police (Gestapo),
              office IV in RSHA</li>

              <li><b>Opperbeck, Josef</b>, Chief of Office 4, Amts. W, WVHA OSTI, Ost
              Industrie Work (East Industries), established to exploit Polish-Jewish
              labor and property, 1943-44</li>

              <li><b>Pister, Hermann</b>, Commandant of Buchenwald 1941-44</li>

              <li><b>Reinhard Action</b>, program of confiscating Jewish wealth; also
              applied to the extermination of the Jews. Named after Reinhard Heydrich,
              chief of RSHA. In case 4, the term is applied to the confiscation
              program.</li>

              <li><b>RSHA</b>, Reich Security Main Office. Primary SS security and police
              agencies, including the Gestapo. Chiefs: Reinhard Heydrich, 1939-42;
              Heinrich Himmler, 1942-43; Ernst Kaltenbrunner, 1943-45.</li>

              <li><b>Salpeter, Dr. Walter</b>, Office 3 (legal) in Amts. A, WVHA</li>

              <li><b>Vogel, Heinrich</b>, chief of office W-5 (agricultural enterprises),
              WVHA</li>
            </ul>
</section>
<section class="theme-light">
        <div class="anchor" id="concentration_camps"></div>
        <h2>Concentration Camps</h2>

        <p>Central administration: See Amtsgruppe D in WVHA chart (above). All of the
        camps except Herzogenbusch were within the wartime expanded Reich borders.
        Information drawn from L. L. Snyder, Encyclopedia of the Third Reich (1976) and
        C. Zentner and F. Beduerftig, Encyclopedia of the Third Reich (1997). The SS also
        maintained over 150 labor camps during the war. Most of the concentration camps
        employed forced labor for construction work, armaments work, manufacturing, and
        agriculture, including some work-to-death regimes (notably in the quarry
        operations); many of the camps were the site of medical experiments and
        euthanasia operations. The large camps had many satellite sub-camps for work
        projects. The Polish camps were extermination camps, but selective executions
        (including the killing of Jews, Poles, Russians, and disabled persons) were also
        conducted at camps within Germany. The commandants and other senior officers of
        the camps were generally prosecuted at local war crimes trials, notably the trial
        of Rudolf Hoess and his subordinates at Auschwitz.</p>

        <ul class="list">
          <li><b>Auschwitz</b>, Poland; labor and extermination camp, est 1940.
          Commandant: Rudolf Hoess, Arthur Liebehenschel, Josef Kramer, Heinrich Schwarz,
          Fritz Hartjenstein, Richard Baer. Sub-camps: Auschwitz 1: political prisoners.
          Auschwitz 2: Birkenau (extermination). Auschwitz 3: Monowitz (labor camp "Buna"
          for I. G. Farben). The 3 camps were administratively separated in 1943. 1.1 -
          1.5 million killed.</li>

          <li><b>Belzec</b>, Poland; extermination camp, 1941-1943. Commandants:
          Christian Wirth, Gottfried Hering. 600,000 killed. Bergen-Belsen, 1943-45.
          Commandants: Rudolf Haas, Josef Kramer. Primarily a holding camp for Jews
          awaiting transfer or exchange; at end of war received inmates evacuated from
          other camps.</li>

          <li><b>Buchenwald</b>, near Weimar, est 1937. Commandants: Karl Koch, Hermann
          Pister. Chief admin. officer: Barnewald. Camp doctor: W. Hoven. Labor camp;
          medical experiments; selective executions.</li>

          <li><b>Chelmno</b> (or <b>Kulmhof</b>), Poland; extermination camp, 1941-1944.
          Commandants: Herbert Lange, Hans Bothmann. 150,000 killed.</li>

          <li><b>Dachau</b>, near Munich; est Mar 1933. Commandants: Hilmar Waeckerle,
          Theodor Eicke. 150 branches in southern Germany and Austria. Primarily for
          political prisoners. Training center for SS and concentration camp officials.
          Medical experiments. 32,000 killed.</li>

          <li><b>Flossenburg</b>, near Weiden; est 1938. Commandants: Jakob Weiseborn,
          Egon Zill, Max Koenig, Karl Kuenster. Labor camp, including work-to-death
          quarry operation.</li>

          <li><b>Gross-Rosen</b>, near Striegau. Commandants: Johannes Hassebroek, Arthur
          Roedl, Wilhelm Gideon. Labor camp, primarily in munitions industry.</li>

          <li><b>Herzogenbusch</b>, the Netherlands, 1943-44. Sub-camp for women: Vught.
          Camp for Dutch prisoners and hostages; transit camp for Jews shipped to
          extermination camps.</li>

          <li><b>Maidanek</b> or <b>Majdanek</b> (Lublin), Poland, 1941-44; extermination
          camp. Commandants: Karl Koch, Hermann Florstedt, Martin Weiss, Max Koegel. More
          than 200,000 killed.</li>

          <li><b>Mauthausen</b>, Austria, 1938-45. Commandants: Albert Sauer, Franz
          Ziereis, 1944-45. Work camp. More than 71,000 killed.</li>

          <li><b>Natzweiler</b>, near Strasbourg, 1941-44. Work camp; medical
          experiments. Commandants: Egon Zill, Fritz Hartjenstein, Hans Huettig, Heinrich
          Schwarz. More than 5,000 killed.</li>

          <li><b>Neuengamme</b> near Hamburg, 1938-45. Commandants: Martin Weiss, Max
          Pauly. Labor camp for armaments. 56,000 killed.</li>

          <li><b>Papenburg</b> or <b>Emsland camps</b>, near the Netherlands, 1934-45.
          Camp for criminals and later political prisoners. Managed by the Justice
          Ministry rather than the concentration camp administration.</li>

          <li><b>Ravensbrueck</b>, near Fuerstenberg, 1939-45. Camp for women, with a
          small sub-camp for men. Commandants: Max Koegel, Fritz Suhren. Work camp;
          medical experiments; selective executions.</li>

          <li><b>Sachsenhausen</b>, including Oranienburg, near Berlin; est 1936.
          Commandants: Hermann Baranowski, Hans Loritz, Walter Eisfeld, Anton Kaindl.
          Work camp; selective executions; medical experiments.</li>

          <li><b>Sobibor</b>, Poland, 1942-43. Commandants: Richard Thomalla, Franz
          Stangl, Franz Reichleitner. Extermination camp. More than 150,000 killed.</li>

          <li><b>Stutthof</b>, Poland, 1942-45. Commandants: Max Pauly, Paul Hoppe. Labor
          and extermination camp.</li>

          <li><b>Theresienstadt</b> (or <b>Terezin</b>), Czechoslovakia. 1941-45.
          Commandants: Siegfried Seidl, Anton Burger, Karl Rahm. Created as a model or
          "show" camp; became transit camp for extermination of Jews.</li>

          <li><b>Treblinka</b>, Poland. extermination camp, 1941-1943. Commandants:
          Irmfried Eberl, Franz Stangl, Kurt Franz. 750,000 - 900,000 killed.</li>
        </ul>
    </section>
    <section class="list">
        <div class="anchor" id="ef_groups"></div>
        <h2>Evidence File Groups Used in the Trial</h2>

        <ul class="list">
          <li><b>L</b> London (collected in London)</li>

          <li><b>NG</b> Nuremberg Government</li>

          <li><b>NI</b> Nuremberg Industrialists</li>

          <li><b>NO</b> Nuremberg Organizations (primarily the SS and its agencies)</li>

          <li><b>PS</b> Paris-Storey (U.S. evidence used in the IMT)</li>

          <li><b>R</b> Rothschild</li>
        </ul>
</section>
<section class="theme-light">
    <div class="anchor" id="chronology_detailed"></div>
    <h2>Detailed Chronology</h2>
    <table class="table-trial-chronology">
<tr><td>    13 Jan 1947</td><td>Indictment submitted</td><td></td></tr>
<tr><td>    10 Mar 1947</td><td>Arraignment: indictment read </td><td>1-12</td></tr>
<tr><td>    </td><td>Arraignment: pleas </td><td>12-19</td></tr>
<tr><td>     8 Apr 1947</td><td>Prosecution opening statement</td><td>1-88</td></tr>
<tr><td>     8 Apr 1947</td><td>Pros. doc book 1: Documents, persons, and organizations </td><td>90-102</td></tr>
<tr><td>     9 Apr 1947</td><td>Pros. doc. books 2-3: WVHA organization </td><td>103-125, 126-153</td></tr>
<tr><td>     9 Apr 1947</td><td>Pros. doc. books 2-3: doc. book 4 (concentration camps)</td><td>153-169</td></tr>
<tr><td>    10 Apr 1947</td><td>Karl Kahr (P) </td><td>173-207</td></tr>
<tr><td>    10 Apr 1947</td><td>Pros. doc books 5-6 (concentration camps) </td><td>208-223, 223-231</td></tr>
<tr><td>    </td><td>doc. book 7 (medical experiments)</td><td>232-275</td></tr>
<tr><td>    11 Apr 1947</td><td>Victor Abend (P) </td><td>252-273</td></tr>
<tr><td>    11 Apr 1947</td><td>Bernhard Lauber (P) </td><td>282-297</td></tr>
<tr><td>11, 14 Apr 1947</td><td>Jerzy Bielski (P) </td><td>302-19, 341-399</td></tr>
<tr><td>11, 15 Apr 1947</td><td>Pros. doc book 9 (medical experiments) </td><td>320-333, 511-529</td></tr>
<tr><td>    14 Apr 1947</td><td>Joseph Krysiak </td><td>399-440</td></tr>
<tr><td>    15 Apr 1947</td><td>Albert H. Kruse (P) </td><td>442-510</td></tr>
<tr><td>    16 Apr 1947</td><td>Pros. doc books 8 (medical experiments), 10 (euthanasia) </td><td>530-551, 552-570</td></tr>
<tr><td>    17 Apr 1947</td><td>Pros. doc books 11-12 (forced labor) </td><td>571-595, 596-625</td></tr>
<tr><td>    18 Apr 1947</td><td>Pros. doc books 13 (forced labor), 14 (SS industries) </td><td>625-653, 653-56</td></tr>
<tr><td>    18 Apr 1947</td><td>Chaim Balizki (P) </td><td>631-641</td></tr>
<tr><td>    21 Apr 1947</td><td>Herbert Engler (P) </td><td>659-720</td></tr>
<tr><td> 21-23 Apr 1947</td><td>Eugen Kogon (P) </td><td>720-923</td></tr>
<tr><td> 23-24 Apr 1947</td><td>Josef Ackerman (P) </td><td>929-992</td></tr>
<tr><td> 24-25 Apr 1947</td><td>Pros doc books 14</td><td>cont., 993-999</td></tr>
<tr><td> </td><td>15-17 (SS industries) </td><td>999-1031</td></tr>
<tr><td>    25 Apr 1947</td><td>Pros doc book 18, 18A, 19 (Extermination of the Jews) </td><td>1032-1070</td></tr>
<tr><td>    </td><td>doc. book 20 (Warsaw ghetto)</td><td>1075-1084</td></tr>
<tr><td>    14 May 1947</td><td>Pros doc book 21 (additional documents) </td><td>1088-1092</td></tr>
<tr><td>    14 May 1947</td><td>Defense begins </td><td>1092</td></tr>
<tr><td>    </td><td>Opening statements:</td><td></td></tr>
<tr><td></td><td class="cell-indent">Pohl</td><td>1099-1121</td></tr>
<tr><td></td><td class="cell-indent">Fanslau</td><td>1122-31</td></tr>
<tr><td></td><td class="cell-indent">Eirenschmalz</td><td>1132-33</td></tr>
<tr><td></td><td class="cell-indent">Sommer</td><td>1133-40</td></tr>
<tr><td></td><td class="cell-indent">Hohberg</td><td>1143-50</td></tr>
<tr><td></td><td class="cell-indent">Frank</td><td>1150-61</td></tr>
<tr><td></td><td class="cell-indent">H. Loerner</td><td>1161-63</td></tr>
<tr><td></td><td class="cell-indent">Tschentscher</td><td>1164-69</td></tr>
<tr><td></td><td class="cell-indent">Vogt</td><td>1170-75</td></tr>
<tr><td></td><td class="cell-indent">G. Loerner</td><td>1176-84 </td></tr>
<tr><td> 15 May 1947</td><td>Defense opening statements:</td><td></td></tr>
<tr><td> </td><td class="cell-indent">Scheide</td><td>1187-1200</td></tr>
<tr><td> </td><td class="cell-indent">Klein</td><td>1200-07</td></tr>
<tr><td> </td><td class="cell-indent">Volk</td><td>1207-16</td></tr>
<tr><td> </td><td class="cell-indent">Bobermin</td><td>1216-22</td></tr>
<tr><td> </td><td class="cell-indent">Kiefer</td><td>1223-29</td></tr>
<tr><td> </td><td class="cell-indent">Baier</td><td>1230-32</td></tr>
<tr><td> </td><td class="cell-indent">Mummenthey</td><td>1233-35</td></tr>
<tr><td> </td><td class="cell-indent">Pook</td><td>1237-1251</td></tr>
<tr><td>    16 May - 5 June 1947</td><td>Oswald Pohl defense </td><td>1253-2230</td></tr>
<tr><td>    16 May - 3 June 1947</td><td>O. Pohl (D) </td><td>1253-2040</td></tr>
<tr><td>     3 June 1947</td><td>Kurt Schmidt-Klevenow (D) </td><td>2041-2090</td></tr>
<tr><td>   3-5 June 1947</td><td>Karl Wolff (D) </td><td>2090-2206</td></tr>
<tr><td>     5 June 1947</td><td>Rudolf Brandt (D) </td><td>2207-2229</td></tr>
<tr><td>  5-10 June 1947</td><td>August Frank defense </td><td>2231-2487</td></tr>
<tr><td>  5-10 June 1947</td><td>A. Frank (D) </td><td>2231-2487; 7410-7417</td></tr>
<tr><td> 10-12 June 1947</td><td>Heinz Fanslau defense </td><td>2488-2675</td></tr>
<tr><td>    10 June 1947</td><td>Johann Stein (D) </td><td>2489-2530</td></tr>
<tr><td> 11-12 June 1947</td><td>H. Fanslau (D) </td><td>2531-2675</td></tr>
<tr><td> 12-13 June 1947</td><td>Hans Loerner defense </td><td>2675-2756</td></tr>
<tr><td> 12-13 June 1947</td><td>Hans Loerner (D) </td><td>2675-2756</td></tr>
<tr><td> 13-17 June 1947</td><td>Josef Vogt defense </td><td>2756-2916</td></tr>
<tr><td> 13-17 June 1947</td><td>Josef Vogt (D) </td><td>2757-2916</td></tr>
<tr><td> 17-20 June 1947</td><td>Georg Loerner defense </td><td>2916-3151</td></tr>
<tr><td> 17-20 June 1947</td><td>Georg Loerner (D) </td><td>2916-3151</td></tr>
<tr><td> 20-24 June 1947</td><td>Erwin Tschentscher defense </td><td>3151-3297</td></tr>
<tr><td> 20-24 June 1947</td><td>Erwin Tschentscher (D) </td><td>3152-3261</td></tr>
<tr><td>    24 June 1947</td><td>Walter Hoyer (D) </td><td>3262-3278</td></tr>
<tr><td>    24 June 1947</td><td>Arnold J. H. Ertel (D) </td><td>3279-3295</td></tr>
<tr><td> 24-26 June 1947</td><td>Max Kiefer defense </td><td>3297-3419</td></tr>
<tr><td> 24-26 June 1947</td><td>Max Kiefer (D) </td><td>3297-3417</td></tr>
<tr><td> 26-28 June 1947</td><td>Franz Eirenschmalz defense </td><td>3419-3598</td></tr>
<tr><td> 26-27 June 1947</td><td>Franz Eirenschmalz (D) </td><td>3421-3564</td></tr>
<tr><td> 27-28 June 1947</td><td>Wolfgang Grosch (D) </td><td>3565-3597</td></tr>
<tr><td>    28 June - 2 July 1947</td><td>Karl Sommer defense </td><td>3598-3878</td></tr>
<tr><td>    28 June 1947</td><td>Georg Rammler (D) </td><td>3600-3639</td></tr>
<tr><td>    28 June 1947</td><td>Joachim Caesar (D) </td><td>3639-3652</td></tr>
<tr><td>    30 June - 2 July 1947</td><td>Karl Sommer (D) </td><td>3653-3878</td></tr>
<tr><td>  2-10 July 1947</td><td>Hermann Pook defense </td><td>3878-4091</td></tr>
<tr><td>   2-9 July 1947</td><td>Hermann Pook (D) </td><td>3879-4067</td></tr>
<tr><td>  9-10 July 1947</td><td>Paul Reutter (D) </td><td>4067-4091</td></tr>
<tr><td> 10-11 July 1947</td><td>Rudolf Scheide defense, with Scheide documents </td><td>4091-4213</td></tr>
<tr><td> 10-11 July 1947</td><td>Rudolf Scheide (D) </td><td>4091-4203</td></tr>
<tr><td> 11-21 July 1947</td><td>Hans Hohberg defense </td><td>4214-4657</td></tr>
<tr><td> 11-18 July 1947</td><td>Hans K. Hohberg (D) </td><td>4215-4584</td></tr>
<tr><td>    18 July 1947</td><td>Tribunal ruling on Count One </td><td>4589-4590</td></tr>
<tr><td>    18 July 1947</td><td>Max Wolf (D) </td><td>4591-4629</td></tr>
<tr><td>    18 July 1947</td><td>Heinrich Tenbergen (D) </td><td>4632-4655</td></tr>
<tr><td> 21-25 July 1947</td><td>Hans Baier defense </td><td>4657-4995</td></tr>
<tr><td> 21-22 July 1947</td><td>Hermann Karoli (D) </td><td>4658-4769</td></tr>
<tr><td> 22-25 July 1947</td><td>Hans Baier (D) </td><td>4770-4995</td></tr>
<tr><td> 25-30 July 1947</td><td>Leo Volk defense </td><td>4995-5282</td></tr>
<tr><td> 25-30 July 1947</td><td>Leo Volk (D) </td><td>4995-5282</td></tr>
<tr><td>    30 July - 7 Aug 1947</td><td>Karl Mummenthey defense </td><td>5283-5772</td></tr>
<tr><td> 30-31 July 1947</td><td>Heinz Schwarz (D) </td><td>5284-5381</td></tr>
<tr><td>    31 July, 4 Aug 1947</td><td>Helmut Bickel (D) </td><td>5381-5512</td></tr>
<tr><td>   4-7 Aug 1947</td><td>Karl Mummenthey (D) </td><td>5512-5769</td></tr>
<tr><td>  7-12 Aug 1947</td><td>Hans Bobermin defense </td><td>5772-6029</td></tr>
<tr><td>     7 Aug 1947</td><td>Max Winkler (D) </td><td>5773-5815</td></tr>
<tr><td>  7-12 Aug 1947</td><td>Hans Bobermin (D) </td><td>5816-6029</td></tr>
<tr><td> 12-15 Aug 1947</td><td>Horst Klein defense </td><td>6029-6307</td></tr>
<tr><td>    12 Aug 1947</td><td>Helga von Rouppert (D) </td><td>6034-6068</td></tr>
<tr><td> 12-13 Aug 1947</td><td>H. Klein documents </td><td>6068-6089</td></tr>
<tr><td> 13-15 Aug 1947</td><td>Horst Klein (D) </td><td>6090-6115, 6125-6237, 6264-6307</td></tr>
<tr><td>    13 Aug 1947</td><td>Larry Wolff (T) </td><td>6115-6125</td></tr>
<tr><td>    15 Aug 1947</td><td>Discussion of final arguments and briefs </td><td>6238-6264</td></tr>
<tr><td>    18 Aug 1947</td><td>Friedrich Bergold (D) </td><td>6312</td></tr>
<tr><td>    18 Aug 1947</td><td>Hubert Karl (P) </td><td>6316-6347, 6352-6371</td></tr>
<tr><td> 18-20 Aug 1947</td><td>Guenther Otto (P) </td><td>6371-6501, 6527-6562</td></tr>
<tr><td>    20 Aug 1947</td><td>Wolfgang Sanner (P) </td><td>6503-6527</td></tr>
<tr><td> 20-21 Aug 1947</td><td>Arnold Sauer (P) </td><td>6563-6607</td></tr>
<tr><td>    21 Aug 1947</td><td>Camille Sachs (P) </td><td>6610-6639</td></tr>
<tr><td>    21 Aug 1947</td><td>Heinrich Ebbers (P) </td><td>6640-6646</td></tr>
<tr><td>    21 Aug 1947</td><td>Heinrich Schwartz (T) </td><td>6647-6669</td></tr>
<tr><td> 21-22 Aug 1947</td><td>Konrad Morgen (D, for Scheide) </td><td>6669-6753</td></tr>
<tr><td>    25 Aug 1947</td><td>Oswald Pohl (D) </td><td>6759-6786</td></tr>
<tr><td>    25 Aug 1947</td><td>Karl Steichele (D, for Fanslau) </td><td>6787-6814</td></tr>
<tr><td>    25 Aug 1947</td><td>Franz Freitag (D) </td><td>6815-6826</td></tr>
<tr><td>    25 Aug 1947</td><td>Pros. doc. books 22-25 (exhibits 522-619) </td><td>6833-6834</td></tr>
<tr><td> 25-26 Aug 1947</td><td>Defense documents:</td><td></td></tr>
<tr><td> </td><td class="cell-indent">Fanslau </td><td>6835-42</td></tr>
<tr><td> </td><td class="cell-indent">Frank</td><td>6843-52</td></tr>
<tr><td> </td><td class="cell-indent">H. Loerner</td><td>6852-55</td></tr>
<tr><td> </td><td class="cell-indent">G. Loerner</td><td>6855-64</td></tr>
<tr><td> </td><td class="cell-indent">Sommer</td><td>6865-77</td></tr>
<tr><td> </td><td class="cell-indent">Hohberg</td><td>6878-6888</td></tr>
<tr><td> </td><td class="cell-indent">Mummenthey</td><td>6891-6910</td></tr>
<tr><td>    27 Aug 1947</td><td>Karl Wiedenfeldt (P) </td><td>6911-6973</td></tr>
<tr><td> 27-28 Aug, 3 Sep 1947</td><td>Heinz Fanslau (D) </td><td>6973-7048, 7357-7366</td></tr>
<tr><td> 28-29 Aug 1947</td><td>Erwin Tschentscher (D) </td><td>7049-7103, 7127-7133</td></tr>
<tr><td>    29 Aug 1947</td><td>Anton Goldstein (P) </td><td>7106-7126</td></tr>
<tr><td>    29 Aug 1947</td><td>Willi Schaefer (D) </td><td>7134-7154</td></tr>
<tr><td>    29 Aug 1947</td><td>Erich Mueller  (D) </td><td>7159-7171</td></tr>
<tr><td>     2 Sep 1947</td><td>Pros. doc books 26-28 (exhibits 620-683) </td><td>7178-7200</td></tr>
<tr><td>     2 Sep 1947</td><td>Georg Staminger (D) </td><td>7202-7225</td></tr>
<tr><td>     2 Sep 1947</td><td>Felix Steiner (D) </td><td>7226-7257</td></tr>
<tr><td>     2 Sep 1947</td><td>Hans K. Hohberg (D) </td><td>7258-7269</td></tr>
<tr><td>     3 Sep 1947</td><td>Hermann Karoli (D) </td><td>7270-7273</td></tr>
<tr><td>     3 Sep 1947</td><td>Hans Fritzsche (D) </td><td>7273-7308</td></tr>
<tr><td>     3 Sep 1947</td><td>Solomon Jollek (P) </td><td>7310-7329</td></tr>
<tr><td>     3 Sep 1947</td><td>Wilhelm Krause (D) </td><td>7332-7341</td></tr>
<tr><td>     3 Sep 1947</td><td>Albert Schiatowsky (D) </td><td>7342-7344</td></tr>
<tr><td>     3 Sep 1947</td><td>Ernst Specht (D) </td><td>7344-7345</td></tr>
<tr><td>     3 Sep 1947</td><td>Pros. doc. book 28 (ex 684-696) </td><td>7347-7357</td></tr>
<tr><td>     3 Sep 1947</td><td>Fanslau (D) </td><td>7357-7366</td></tr>
<tr><td>     4 Sep 1947</td><td>Pros. doc. books 29-31 (ex 697-726, 635-639) </td><td>7368-7392, 7418</td></tr>
<tr><td>     4 Sep 1947</td><td>Defense documents:</td><td></td></tr>
<tr><td>     </td><td class="cell-indent">Pohl </td><td>7401-7409</td></tr>
<tr><td>     </td><td class="cell-indent">Tschentscher</td><td>7418-7421</td></tr>
<tr><td>     </td><td class="cell-indent">Mummenthey</td><td>7424-7434</td></tr>
<tr><td>     </td><td class="cell-indent">Baier</td><td>7451-7463</td></tr>
<tr><td>     </td><td class="cell-indent">Eirenschmalz</td><td>7464-7469</td></tr>
<tr><td>     </td><td class="cell-indent">Kiefer</td><td>7469-7470</td></tr>
<tr><td>     4 Sep 1947</td><td>Frank (D) </td><td>7410-7417</td></tr>
<tr><td>     4 Sep 1947</td><td>Georg Loerner (D) </td><td>7423-7424</td></tr>
<tr><td>     4 Sep 1947</td><td>Horst Klein (D) </td><td>7436-7442</td></tr>
<tr><td>     4 Sep 1947</td><td>Leo Volk (D) </td><td>7442-7450</td></tr>
<tr><td>    15 Sep 1947</td><td>Pros. doc. book 33 (ex 727-735) </td><td>7471-7474</td></tr>
<tr><td>    15 Sep 1947</td><td>Defense documents:</td><td></td></tr>
<tr><td>    </td><td class="cell-indent">Frank </td><td>7474-7477</td></tr>
<tr><td>    </td><td class="cell-indent">H. Loerner</td><td>7477-7478</td></tr>
<tr><td>    </td><td class="cell-indent">Pohl</td><td>7478-7483</td></tr>
<tr><td>    </td><td class="cell-indent">Fanslau</td><td>7483-7485, 7495-7496</td></tr>
<tr><td>    </td><td class="cell-indent">Vogt</td><td>7485-7494</td></tr>
<tr><td>    </td><td class="cell-indent">G. Loerner</td><td>7496-7500</td></tr>
<tr><td>    </td><td class="cell-indent">Tschentscher</td><td>7501-7503</td></tr>
<tr><td>    </td><td class="cell-indent">Eirenschmalz</td><td>7503-7511)</td></tr>
<tr><td>    16 Sep 1947</td><td>Defense documents:</td></tr>
<tr><td>    </td><td class="cell-indent">Sommer </td><td>7513-7515</td></tr>
<tr><td>    </td><td class="cell-indent">Pook</td><td>7515-7523</td></tr>
<tr><td>    </td><td class="cell-indent">Hohberg</td><td>7523-7526</td></tr>
<tr><td>    </td><td class="cell-indent">Bobermin</td><td>7528-7542</td></tr>
<tr><td>    </td><td class="cell-indent">Volk</td><td>7542-7545, 7552-7563</td></tr>
<tr><td>    </td><td class="cell-indent">Mummenthey</td><td>7545-7551</td></tr>
<tr><td>    17 Sep 1947</td><td>Prosecution closing statement </td><td>7565-7637</td></tr>
<tr><td>    17 Sep 1947</td><td>Defense closing statements (by attorneys): </td></tr>
<tr><td>    </td><td class="cell-indent">Pohl </td><td>7640-7724</td></tr>
<tr><td>    </td><td class="cell-indent">Frank</td><td>7725-7756</td></tr>
<tr><td>    18 Sep 1947</td><td>Defense closing statements:</td><td></td></tr>
<tr><td>    </td><td class="cell-indent">Fanslau </td><td>7758-7792</td></tr>
<tr><td>    </td><td class="cell-indent">Sommer</td><td>7793-7827</td></tr>
<tr><td>    </td><td class="cell-indent">Bobermin and Volk</td><td>7829</td></tr>
<tr><td>    </td><td class="cell-indent">Hohberg</td><td>7831-7868</td></tr>
<tr><td>    </td><td class="cell-indent">Pook</td><td>7868-7882</td></tr>
<tr><td>    19 Sep 1947</td><td>Defense closing statements:</td><td></td></tr>
<tr><td>    </td><td class="cell-indent">Pook </td><td>7883-7908</td></tr>
<tr><td>    </td><td class="cell-indent">G. Loerner</td><td>7909-7924</td></tr>
<tr><td>    </td><td class="cell-indent">Scheide</td><td>7925-7937</td></tr>
<tr><td>    </td><td class="cell-indent">Vogt</td><td>7937-7939</td></tr>
<tr><td>    </td><td class="cell-indent">Kiefer</td><td>7940</td></tr>
<tr><td>    </td><td class="cell-indent">Tschentscher</td><td>7940</td></tr>
<tr><td>    20 Sep 1947</td><td>Defense closing statements:</td><td></td></tr>
<tr><td>    </td><td class="cell-indent">Mummenthey </td><td>7944-7977</td></tr>
<tr><td>    </td><td class="cell-indent">Klein</td><td>7978-8009</td></tr>
<tr><td>    22 Sep 1947</td><td>Defendants' final statements </td><td>8011-8047</td></tr>
<tr><td>     3 Oct 1947</td><td>Prosecution closing briefs (in English) submitted</td><td></td></tr>
<tr><td>     3 Nov 1947</td><td>Judgments and sentences </td><td>8049-8201 (end of transcript)</td><td></td></tr>
<tr><td>     7 June 1948</td><td>Military Governor order to reconvene for revision of judgment</td><td></td></tr>
<tr><td>    14 July 1948</td><td>Tribunal order authorizing additional defense briefs</td><td></td></tr>
<tr><td>    11 Aug 1948</td><td>Supplementary judgments and sentences</td><td></td></tr>
<tr><td>    30 Apr, 11 May 1949</td><td>Confirmation and revision of sentences by Military Governor</td><td></td></tr>
<tr><td>     2 May 1949</td><td>Denial of writ of habeas corpus by U.S. Supreme Court</td><td></td></tr>
<tr><td>    31 Jan 1951</td><td>Sentences revised by High Commissioner McCloy</td><td></td></tr>
</table>
</section>
{% endblock %}