{% extends "base.html" %}
{% load static %}

{% block title %} People {% endblock %}

{% block body_class %}about{% endblock %}

{% block header %}
  {{ block.super }}
  <nav  aria-label="Topics for NMT-7" class="sub-nav horizontal">
    <li>
      <a href="#summary">Summary</a>
    </li>
    <li>
      <a href="#chronology_overview">Chronology Overview</a>
    </li>
    <li>
      <a href="#persons">Persons Involved</a>
    </li>
    <li>
      <a href="#indictment">Indictment</a>
    </li>
    <li>
      <a href="#judgement">Judgement and Sentences</a>
    </li>
    <li>
        <a href="#places">Key Persons and Places</a>
    </li>
    <li>
      <a href="#chronology_detailed">Detailed Chronology</a>
  </nav>
{% endblock %}

{% block content %}
<section class="theme-light">
    <div class="partial-width">
        <h1>NMT Case 7</h1>
        <p class="intro">The Hostage Case<p>
    </div>
</section>
<section class="theme-light">
<div class="anchor" id="summary"></div>
  <h2>Summary</h2>

  <p>Case 7: The &ldquo;Hostage Case,&rdquo; US v. List et al. 6 boxes of trial
  documents; transcript 10,544 pages. Green Set vol. 11. Covers war crimes committed in
  the Balkans and Norway, including hostage-taking, execution of civilians and POWs,
  destruction of villages, and scorched-earth tactics. July 1947 &ndash; Feb 1948.
  Exhibits: 678 prosecution; 1025 defense.</p>
</section>
<section class="theme-light">
<div class="anchor" id="chronology_overview"></div>
  <h2>Chronology Overview</h2>

  <p>10 May 1947 Indictment filed</p>

  <p>8 July Arraignment</p>

  <p>15 July Prosecution opening statement</p>

  <p>16 July &ndash; 28 Aug Prosecution case (documents and witnesses)</p>

  <p>15-16 Sep Defense opening statements</p>

  <p>16 Sep &ndash; 13 Jan 1948 Defendants&rsquo; cases</p>

  <p>14-22 Jan Rebuttal and final evidence (prosecution and defense)</p>

  <p>3 Feb Prosecution closing statement</p>

  <p>4-9 Feb Defense closing statements</p>

  <p>19 Feb Judgment and sentences</p>

  <p>18 Jan 1949 Sentences affirmed by Military Commander, US Zone</p>

  <p>2 May Ruling by US Supreme Court, denying writs of habeas corpus</p>
</section>
<section class="theme-light">
<div class="anchor" id="persons"></div>
    <h2>Persons Involved</h2>
  <h3>Tribunal (Military Tribunal V)</h3>
<ol class="list">
  <li>Charles F. Wennerstrum, presiding judge; Iowa Supreme Court</li>

  <li>Edward F. Carter, member; Nebraska Supreme Court</li>

  <li>George J. Burke, member; adviser to US district courts on criminal procedure</li>
</ol>
  <h3>Defendants:</h3>
<ol class="list">
  <li>Franz Boehme, general and commander, mountain corps, 1941-45 (committed suicide</li>

  <li>before trial)</li>

  <li>Ernst Dehner, lt. general, infantry, commander, reserve corps, 1943-44</li>

  <li>Hellmuth Felmy, lt. general, air force; commander, Greece, 68th Army Corps,
  1943-44</li>

  <li>Hermann Foertsch, lt. general, chief of staff, Southeast, 1941-44</li>

  <li>Kurt von Geitner, brig. general, chief of staff, Serbia, 1942-44</li>

  <li>Walter Kuntze, lt. general, acting commander, 12th Army, 1941-42</li>

  <li>Hubert Lanz, lt. general and commander, mountain troops, 1940-44</li>

  <li>Ernst von Leyser, lt. general and commander, infantry and mountain corps,
  1943-45</li>

  <li>Wilhelm List, general and commander in southeast, 1941</li>

  <li>Lothar Rendulic, general and commander, Croatia and Norway, 1943-45</li>

  <li>Wilhelm Speidel, lt. general, air force, commander, Greece, 1942-44</li>

  <li>Maximilian von Weichs, general and commander, 1941-45 (case severed from trial due
  to illness)</li>
</ol>

  <h3>Prosecution:</h3>
<ol class="list">
  <li>Telford Taylor, chief of counsel, NMT</li>

  <li>James M. McHaney, deputy chief counsel</li>

  <li>Clark Denney, chief prosecutor</li>

  <li>Theodore F. Fenstermacher, chief prosecutor for Case 7</li>

  <li>George Fulkerson, associate counsel</li>

  <li>Walter Rapp, associate counsel</li>
</ol>
  <h3>Defense counsel:</h3>
<ol class="list">
  <li>Friedrich Bergold, for Boehme</li>

  <li>Stefan Fritsch, for Rendulic</li>

  <li>Hans Gawlick, for Dehner</li>

  <li>Hans Laternser, for List and von Weichs</li>

  <li>Georg Menzel, for Kuntze</li>

  <li>Heinz Mueller-Torgow, for Felmy</li>

  <li>Gerhard Rauschenbach, for Foertsch</li>

  <li>Fritz Sauter, for von Geitner and Lanz</li>

  <li>Edmund Tipp, for von Leyser</li>

  <li>Joseph Weisgerber, for Speidel</li>
</section>
<section class="theme-light">
<div class="anchor" id="indictment"></div>
  <h2>Indictment (four counts, 10 May 1947)</h2>

  <p><em>Introductory paragraph:</em> War crimes and crimes against humanity, including
  murder, ill treatment, and use as slave labor of POWs and civilian populations; plunder
  of public and private property; destruction of cities, towns, and villages; and other
  crimes against civilian populations.</p>

  <p><em>Count One:</em> <em>Hostages.</em> 1. 1939-1945, murder of hundreds of thousands
  of civilians of Greece, Yugoslavia, and Albania, as reprisal for attacks on Germans. 2.
  Torture and murder of partisans as punishment for attacks on Germans. 3. Collective
  punishment (points 1 and 2) used to terrorize, intimidate, weaken, and decimate
  occupied populations. 4. Ratio of punishment of hostages: up to 100 killed for each
  German soldier killed; down to 5 for lesser acts. 5. Twenty-three examples from April
  1941 to August 1944, in Serbia, Croatia, and Greece. 6. Relevant laws cited.</p>

  <p><em>Count Two:</em> <em>Plunder.</em> 7. 1939-1945, plundering and looting of public
  and private property; destruction of cities, towns, and villages and murder of
  inhabitants, in Norway, Greece, Yugoslavia, and Albania. 8. Tactics used to
  pacify-by-terrorism and to degrade the economic potential of the occupied lands. 9.
  Sixteen examples from 1941 to 1944, in Norway, Serbia, Croatia, Greece. 10. Relevant
  laws cited.</p>

  <p><em>Count Three: POWs.</em> 11. 1939-1945, enemy troops from Greece, Yugoslavia, and
  Italy refused quarter, denied status as POWs, and summarily executed. 12. Twelve
  examples from 1941 to 1943, in Yugoslavia, Italy, and Croatia. 13. Relevant laws
  cited.</p>

  <p><em>Count Four: Civilians.</em> 14. 1939-1945, murder, torture, imprisonment in
  concentration camps, forced labor, deportation for slave labor of civilians (including
  communists, democrats, nationalists, Jews, and gypsies) of Greece, Yugoslavia, and
  Albania. 15. Seven examples from 1941 to 1943, in Serbia, Greece, and Croatia. 16.
  Relevant laws cited.</p>
</section>
<section class="theme-light">
<div class="anchor" id="judgement"></div>
  <h2>Judgment and sentences</h2>
<ol class="list">
  <li>Dehner: guilty, count 1; 7 year sentence</li>

  <li>Felmy: guilty, counts 1, 2; 15 year sentence</li>

  <li>Foertsch: acquitted</li>

  <li>Geitner: acquitted</li>

  <li>Kuntze: guilty, counts 1, 3, 4; life sentence</li>

  <li>Lanz: guilty, counts 1, 3; 12 year sentence</li>

  <li>Leyser: guilty, counts 3, 4; 10 year sentence</li>

  <li>List: guilty, counts 1, 3; life sentence</li>

  <li>Rendulic: guilty, counts 1, 3, 4; 20 year sentence</li>

  <li>Speidel: guilty, count 1; 20 year sentence</li>

  <li>Weichs: case severed due to his illness</li>

  <li>Most of those sentenced to prison were released in 1951-52.</li>
</section>
<section class="theme-light">
<div class="anchor" id="places"></div>
  <h2>Key persons and places</h2>

  <h3>Southeast region:</h3>
  <ol class="list">
    <li>Wehrmacht commander, southeast: Wilhelm List, 6 Apr&ndash;15 Oct
  1941;</li>

  <li>Felmy deputy for List, 23 July 23&ndash;August 1941;</li>

  <li>Kuntze acting commander, 17 Oct 1941&ndash;8 Aug 1942;</li>

  <li>Alexander Loehr commander, 8 Aug 1942&ndash;Aug 1943;</li>

  <li>von Weichs, commander in chief southeast (and of Army F), 26 Aug 1943&ndash;March
  1945;</li>

  <li>Foertsch, chief of staff to March 1944</li>
</ol>
  <h3>Serbia:</h3>
  <ol class="list">
    <li> first commanders, 1941: Helmuth Foerster (Apr-May); Ludwig von Schroeder</li>

  <li>(June-July); Heinrich Danckelmann (July-Aug)</li>

  <li>Commanding general and plenipotentiary, Serbia: Lt. General Franz Boehme,</li>

  <li>Sep-Dec 1941;</li>

  <li>Lt. General Paul Bader, 6 Dec 1941- 25 Aug 1943 (previously commander of 65th
  Corps,</li>

  <li>1941);</li>

  <li>military commander southeast (based in Serbia): General Hans Felber, 26 Aug
  1943&ndash;26</li>

  <li>Sep 1994, then Army Group Serbia, Oct 1944</li>

  <li>von Geitner, chief of staff (for Bader and Felber), July 1942-1944</li>

  <li>Administrator (govt.): Dr. Harald Turner (1941-)</li>
</ol>
  <h3>Croatia:</h3>
  <ol class="list">
    <li> Commanding general in Croatia, Major general Rudolf Lueters, to Aug
  1943;</li>

  <li>General Lothar Rendulic, commander (2nd Panzer Army), Aug 1943- June 1944</li>

  <li>plenipotentiary in Croatia: Major General von Glaise-Horstenau</li>

  <li>von Leyser, commander, 15th Mountain Corps, Nov 1943- July 1944 (then Albania,
  21st</li>

  <li>Mtn. Corps, 1944-45)</li>

  <li>Lt. General Dehner, commander, 69th special reserve group, 1943-44</li>

  <li>General Fehn, 21st Mountain Corps, Oct 1943- June 1944 (replacing Bader), then</li>

  <li>commander of 15th Mtn. Corps</li>
</ol>

  <h3>Greece:</h3>
  <ol class="list">
    <li> Felmy, commander, southern Greece, 1941-42(?), commander of 68th Army
  Corps,</li>

  <li>6 June 1943-Oct 1944;</li>

  <li>Lanz, commander of 22nd Mountain Corps, 9 Sep 1943-Oct 1944;</li>

  <li>Wilhelm Speidel, commander, southern Greece, Oct 1942-Sep 1943; commander of</li>

  <li>Greece, Sep 1943-July 1944, followed by Gen. Scheurlen;</li>

  <li>General Loehr, commander, Army Group E (based at Saloniki), Aug 1943-44;</li>

  <li>Bruno Braeuer, commander in Crete, Nov 1942&ndash;June 1944, followed by</li>

  <li>Friedrich-Wilhelm Mueller, July 1944-</li>
</ol>

  <h3>Norway:</h3>
  <ol class="list">
    <li> Rendulic, 20th Mountain Army, June 1944&ndash;1945</li>
</ol>
<h3>Other</h3>
<ol class="list">
  <li>Nationalist/Chetnik leader: Draza Mihailovic (DM)</li>

  <li>Nationalist Greek partisan: Gen. Zervas</li>
</ol>
</section>
<section class="theme-light">
<div class="anchor" id="chronology_detailed"></div>
<h2>Detailed Chronology</h2>
<table class=table-trial-chronology>
<tr><td>Date</td><td>General Content (pros=prosecution; doc=document)</td><td>Pages</td></tr>
<tr><td>08 Jul 1947</td><td>Defendants' pleas (not guilty)</td><td>1-9</td></tr>
<tr><td>15 Jul</td><td>Prosecution opening statement; defense motions</td><td>10-135</td></tr>
<tr><td>16 Jul</td><td>Preliminaries on evidence, exhibit 1; pros doc book1</td><td>136-228</td></tr>
<tr><td>17 Jul</td><td>pros doc books 1-2</td><td>229-323</td></tr>
<tr><td>18 Jul</td><td>pros doc books 2-3</td><td>324-413</td></tr>
<tr><td>21 Jul</td><td>pros doc books 3-4</td><td>414-514</td></tr>
<tr><td>22 Jul</td><td>pros doc books 4, additions to 3, 5-6</td><td>515-609</td></tr>
<tr><td>23 Jul</td><td>pros doc books 6-7</td><td>610-703</td></tr>
<tr><td>24 Jul</td><td>pros doc books 8-9</td><td>704-808</td></tr>
<tr><td>25 Jul</td><td>pros doc book 9, supplementary documents</td><td>809-912</td></tr>
<tr><td>28 Jul</td><td>pros doc books 10-11</td><td>913-1018</td></tr>
<tr><td>29 Jul</td><td>pros doc books 11-12-13</td><td>1019-1117</td></tr>
<tr><td>30 Jul</td><td>pros doc book 13, Z. Iovanovitch testimony</td><td>1118-1201</td></tr>
<tr><td>31 Jul</td><td>Iovanovitch; pros doc books 13-14</td><td>1202-1308</td></tr>
<tr><td>01 Aug</td><td>pros doc books 14-15</td><td>1309-1416</td></tr>
<tr><td>04 Aug</td><td>pros doc book 15</td><td>1417-1435</td></tr>
<tr><td>05 Aug</td><td>misc trial issues</td><td>1436-1444</td></tr>
<tr><td>06 Aug</td><td>pros doc book 16</td><td>1445-1545</td></tr>
<tr><td>07 Aug</td><td>pros doc books 16, 17, 18</td><td>1546-1640</td></tr>
<tr><td>11 Aug</td><td>pros doc book 18, Hans Felber testimony</td><td>1641-1736</td></tr>
<tr><td>12 Aug</td><td>Felber testimony</td><td>1737-1810</td></tr>
<tr><td>13 Aug</td><td>Felber testimony; photos (exhibit 441); pros doc book 19</td><td>1811-1905</td></tr>
<tr><td>14 Aug</td><td>pros doc book 19; Coogan affidavit; Nicolas Neris testimony</td><td>1906-2010</td></tr>
<tr><td>15 Aug</td><td>Neris and Costas Triandafilidis testimony</td><td>2011-2082</td></tr>
<tr><td>16 Aug</td><td>Triandafilidis testimony</td><td>2083-2151</td></tr>
<tr><td>18 Aug</td><td>Triandafilidis and Stephanos Pappas testimony; doc book 20</td><td>2152-2235</td></tr>
<tr><td>19 Aug</td><td>pros doc book 20; Takis Spiliopolous testimony</td><td>2236-2317</td></tr>
<tr><td>20 Aug</td><td>Spiliopolous, Triandafilidis (photos, ex 481) testimony; pros doc book 21</td><td>2318-2415</td></tr>
<tr><td>21 Aug</td><td>proc doc book 21; Johannes Sontis testimony; Greek War Crimes Office docs</td><td>2416-2506</td></tr>
<tr><td>22 Aug</td><td>Greek War Crimes Office docs; pros doc book 22; Ferdinand Jodl testimony; movies on Greece and Norway (ex 509-510)</td><td>2507-2592</td></tr>
<tr><td>25 Aug</td><td>Jodl testimony; pros doc book 23; Arne Dahl testimony</td><td>2593-2680</td></tr>
<tr><td>26 Aug</td><td>Trygve Schance and Ivar Follestad testimony; doc book 23</td><td>2681-2750</td></tr>
<tr><td>27 Aug</td><td>pros doc books 23-25; Yugoslav photos and docs (ex 551-52)</td><td>2751-2864</td></tr>
<tr><td>28 Aug</td><td>Yugoslav docs (ex 552-53); US-Italy docs; doc books 24-25 ; prosecution rests</td><td>2865-2960</td></tr>
<tr><td>15 Sep</td><td>Defense opening statements: List and von Weichs, Kuntze, Lanz,</td><td>2961-3070</td></tr>
<tr><td>16 Sep</td><td>Defense opening statements: Foertsch, von Leyser, Speidel, Rendulic, Dehner, Felmy. List case: List testimony</td><td>3071-3176</td></tr>
<tr><td>17 Sep</td><td>List testimony</td><td>3177-3250</td></tr>
<tr><td>18 Sep</td><td>List testimony</td><td>3251-3284</td></tr>
<tr><td>19 Sep</td><td>List testimony</td><td>3285-3339</td></tr>
<tr><td>22 Sep</td><td>List testimony</td><td>3340-3423</td></tr>
<tr><td>23 Sep</td><td>testimony: List, Gert Feine, D. von Winning</td><td>3424-3504</td></tr>
<tr><td>24 Sep</td><td>Winning testimony; Kuntze case begins</td><td>3505-3567</td></tr>
<tr><td>25 Sep</td><td>Kuntze</td><td>3568-3603</td></tr>
<tr><td>26 Sep</td><td>Kuntze</td><td>3604-3693</td></tr>
<tr><td>06 Oct</td><td>Kuntze; List witness: Rudolf Ibbeken</td><td>3694-3780</td></tr>
<tr><td>07 Oct</td><td>List witnesses: Ibbeken, F. von Sydow, H. Krage</td><td>3781-3865</td></tr>
<tr><td>08 Oct</td><td>List witnesses: Krage, K. Kraeutler, H. von Greiffenberg</td><td>3866-3959</td></tr>
<tr><td>09 Oct</td><td>Greiffenberg testimony; Foertsch case begins</td><td>3960-4053</td></tr>
<tr><td>10 Oct</td><td>Foertsch, doc book 1</td><td>4054-4139</td></tr>
<tr><td>13 Oct</td><td>Foertsch</td><td>4140-4228</td></tr>
<tr><td>14 Oct</td><td>Foertsch</td><td>4229-4314</td></tr>
<tr><td>15 Oct</td><td>Foertsch</td><td>4315-4399</td></tr>
<tr><td>16 Oct</td><td>Foertsch, doc book 2, 3</td><td>4400-4500</td></tr>
<tr><td>17 Oct</td><td>Foertsch, doc book 3</td><td>4501-4597</td></tr>
<tr><td>20 Oct</td><td>Foertsch</td><td>4598-4688</td></tr>
<tr><td>21 Oct</td><td>Foertsch, Mathias Schmettow testimony; Geitner begins, testimony by Gerhard Wollney and Heinrich Bub</td><td>4689-4772</td></tr>
<tr><td>22 Oct</td><td>Bub testimony, Geitner doc book 1</td><td>4773-4856</td></tr>
<tr><td>23 Oct</td><td>Geitner</td><td>4857-4934</td></tr>
<tr><td>24 Oct</td><td>Geitner, doc books 1, 2</td><td>4935-5017</td></tr>
<tr><td>27 Oct</td><td>Geitner doc books 2, 3</td><td>5018-5102</td></tr>
<tr><td>28 Oct</td><td>Geitner case ends; Rendulic begins</td><td>5103-5180</td></tr>
<tr><td>29 Oct</td><td>Rendulic</td><td>5181-5254</td></tr>
<tr><td>30 Oct</td><td>Rendulic, doc book 1, supplement 1</td><td>5255-5336</td></tr>
<tr><td>31 Oct</td><td>Rendulic</td><td>5337-5411</td></tr>
<tr><td>03 Nov</td><td>Rendulic, Ulrich von Varnbuehler testimony</td><td>5412-5495</td></tr>
<tr><td>04 Nov</td><td>Varnbuehler testimony, Rendulic docs, H. Hoelter testimony</td><td>5496-5577</td></tr>
<tr><td>05 Nov</td><td>Rendulic doc book 2, case ends; von Leyser case begins</td><td>5578-5668</td></tr>
<tr><td>06 Nov</td><td>von Leyser, doc books 1-3 (begin)</td><td>5669-5753</td></tr>
<tr><td>07 Nov</td><td>von Leyser</td><td>5754-5843</td></tr>
<tr><td>12 Nov</td><td>von Leyser</td><td>5844-5940</td></tr>
<tr><td>13 Nov</td><td>von Leyser</td><td>5941-6034</td></tr>
<tr><td>14 Nov</td><td>von Leyser</td><td>6035-6130</td></tr>
<tr><td>17 Nov</td><td>von Leyser; H.J. von Besser testimony</td><td>6131-6226</td></tr>
<tr><td>18 Nov</td><td>Besser and G. Kobe testimony</td><td>6227-616</td></tr>
<tr><td>19 Nov</td><td>von Leyser case ends; Lanz case begins</td><td>6316a-6399</td></tr>
<tr><td>20 Nov</td><td>Lanz</td><td>6400-6484a</td></tr>
<tr><td>21 Nov</td><td>Lanz</td><td>6485-6566</td></tr>
<tr><td>24 Nov</td><td>Lanz</td><td>6567-6639</td></tr>
<tr><td>25 Nov</td><td>Lanz</td><td>6640-6726</td></tr>
<tr><td>26 Nov</td><td>Lanz; Georg Lipp testimony</td><td>6727-6820</td></tr>
<tr><td>01 Dec</td><td>Lanz case ends; Felmy case begins</td><td>6821-6898</td></tr>
<tr><td>02 Dec</td><td>Felmy</td><td>6899-6978</td></tr>
<tr><td>03 Dec</td><td>Felmy</td><td>6979-7065</td></tr>
<tr><td>04 Dec</td><td>Felmy</td><td>7066-7141</td></tr>
<tr><td>05 Dec</td><td>Felmy</td><td>7142-7238</td></tr>
<tr><td>08 Dec</td><td>Felmy, G. Altenburg testimony</td><td>7239-7335</td></tr>
<tr><td>09 Dec</td><td>Altenburg, R. Berghofer, J. Lange, Georg Stadtmueller testimony</td><td>7336-7426</td></tr>
<tr><td>10 Dec</td><td>Stadtmueller testimony, Felmy case ends; Speidel case begins</td><td>7427-7507</td></tr>
<tr><td>11 Dec</td><td>Speidel</td><td>7508-7589</td></tr>
<tr><td>12 Dec</td><td>Speidel</td><td>7590-vvvv</td></tr>
<tr><td>15 Dec</td><td>Speidel</td><td>7669-7754</td></tr>
<tr><td>16 Dec</td><td>Speidel</td><td>7755-7858</td></tr>
<tr><td>17 Dec</td><td>Speidel case ends; Dehner case begins (7866)</td><td>7859-7932</td></tr>
<tr><td>18 Dec</td><td>Dehner case</td><td>7933-8005</td></tr>
<tr><td>19 Dec</td><td>Dehner docs, main case ends (8086); Geitner docs</td><td>8006-8093</td></tr>
<tr><td>22 Dec</td><td>Geitner docs</td><td>8094-8172</td></tr>
<tr><td>23 Dec</td><td>Geitner docs; Foertsch docs; Felmy docs</td><td>8173-8262</td></tr>
<tr><td>05 Jan</td><td>Felmy docs; List docs</td><td>8263-8370</td></tr>
<tr><td>06 Jan</td><td>List docs</td><td>8371-8470</td></tr>
<tr><td>07 Jan</td><td>List docs; Weichs case severed; Kuntze docs</td><td>8471-8565</td></tr>
<tr><td>08 Jan</td><td>Kuntze docs; Lanz docs</td><td>8566-8669</td></tr>
<tr><td>09 Jan</td><td>Georg Scheller testimony; docs for Speidel, Dehner, and Rendulic; Julius Ruehm testimony, List docs</td><td>8670-8735</td></tr>
<tr><td>12 Jan</td><td>docs for Speidel, von Leyser, Dehner, Geitner, Felmy; testimony by Xaver Hirschmann and Joseph Kaiser, Foertsch docs</td><td>8736-8815</td></tr>
<tr><td>13 Jan</td><td>Lanz docs, List testimony, docs for Kuntze and Dehner</td><td>8816-8886</td></tr>
<tr><td>14 Jan</td><td>pros rebuttal docs, Erich von dem Bach-Zelewski testimony</td><td>8887-9005</td></tr>
<tr><td>15 Jan</td><td>pros rebuttal docs</td><td>9006-9090</td></tr>
<tr><td>16 Jan</td><td>Hermann Hoth testimony, pros rebuttal docs, Franz von Harling testimony, Hans Reinhardt testimony</td><td>9091-9185</td></tr>
<tr><td>19 Jan</td><td>testimony by A. Winter, E. Lattmann, H. Raymann; pros rebuttal docs; F. Prinz von Schleswig-Holstein-Gluecksberg testimony</td><td>9186-9286</td></tr>
<tr><td>20 Jan</td><td>von Schleswig testimony cont., testimony by Willy Zorn, Ernst Korn, David Bernstein, Willy Finger</td><td>9287-9381</td></tr>
<tr><td>21 Jan</td><td>testimony by W. Finger, Paul Kahlman, Max Pemsel, Heinric von Behr, Hans von Selchow</td><td>9382-9475</td></tr>
<tr><td>22 Jan</td><td>Defense response to rebuttal: List testimony, Rendulic docs and testimony, Leyser and Felmy testimony, Speidel docs, Hans Felber testimony, Dehner docs</td><td>9476-9556</td></tr>
<tr><td>03 Feb</td><td>Pros closing argument</td><td>9557-9718</td></tr>
<tr><td>04 Feb</td><td>Defense final arguments: List</td><td>9719-9874</td></tr>
<tr><td>05 Feb</td><td>Defense: Kuntze, von Leyser, Speidel</td><td>9875-10032</td></tr>
<tr><td>06 Feb</td><td>Defense: Rendulic, Geitner and Lanz</td><td>10033-10193</td></tr>
<tr><td>07 Feb</td><td>Defense: Foertsch, Dehner, Felmy</td><td>10194-10355</td></tr>
<tr><td>09 Feb</td><td>Defense response to pros rebuttal: List, Kuntze, Rendulic, Dehner, Speidel, Lanz and Geitner; pros reply; List statement</td><td>10356-10418</td></tr>
<tr><td>19 Feb</td><td>Tribunal opinion, judgment, and sentences</td><td>10419-10544</td></tr>
</table>
</section>
{% endblock %}
