{% extends "base.html" %}
{% load static %}

{% block title %} People {% endblock %}

{% block body_class %}about{% endblock %}

{% block header %}
  {{ block.super }}
  <nav aria-label="Topics for NMT-1" class="sub-nav horizontal">
    <li>
      <a href="#summary">Summary</a>
    </li>
    <li>
      <a href="#indictments">Indictments</a>
    </li>
    <li>
      <a href="#chronology">Chronology</a>
    </li>
    <li>
      <a href="#persons">Persons Involved</a>
    </li>
    <li>
      <a href="#detailed_chronology">Detailed Chronology</a>
    </li>
  </nav>
{% endblock %}

{% block content %}
<section class="theme-light">
    <div class="partial-width">
        <h1>NMT Case 1</h1>
        <p class="intro">U.S.A. v. Karl Brandt et al.: The Doctors' Trial</p>
    </div>
</section>
<section class="theme-light">
        <div class="anchor" id="summary"></div>
        <h2>Summary</h2>
        <p>The Medical Case, U.S.A. vs. Karl Brandt, et al. (also known as the Doctors'
        Trial), was prosecuted in 1946-47 against twenty-three doctors and administrators
        accused of organizing and participating in war crimes and crimes against humanity
        in the form of medical experiments and medical procedures inflicted on prisoners
        and civilians.</p>
        <p>Karl Brandt, the lead defendant, was the senior medical official of the German
        government during World War II; other defendants included senior doctors and
        administrators in the armed forces and SS. They were indicted on four counts: 1.
        conspiracy to commit war crimes and crimes against humanity; 2. war crimes (i.e.,
        crimes against persons protected by the laws of war, such as prisoners of war);
        3. crimes against humanity (including persons not protected by the laws of war);
        and 4. membership in a criminal organization (the SS).</p>
        <p>The specific crimes charged included more than twelve series of medical
        experiments concerning the effects of and treatments for high altitude
        conditions, freezing, malaria, poison gas, sulfanilamide, bone, muscle, and nerve
        regeneration, bone transplantation, saltwater consumption, epidemic jaundice,
        sterilization, typhus, poisons, and incendiary bombs.</p>
        <p>These experiments were conducted on concentration camp inmates. Other crimes
        involved the killing of Jews for anatomical research, the killing of tubercular
        Poles, and the euthanasia of sick and disabled civilians in Germany and occupied
        territories. The defendants were charged with ordering, supervising, or
        coordinating criminal activities, as well as participating in them directly. The
        fourth count concerned membership in the SS (Schuttzstaffeln) of the Nazi
        regime.</p>
        <p>Karl Brandt and six other defendants were convicted, sentenced to death, and
        executed; nine defendants were convicted and sentenced to terms in prison; and
        seven defendants were acquitted.</p>
        <p>The material presented in this project includes case file documents (the
        briefs and document books created and used in the course of the trial), evidence
        file documents (the evidentiary documents from which the prosecution, and
        occasionally the defendants, derived their exhibits), and the trial
        transcript.</p>
        <p>The trial documents and evidence file documents related to Case 1 amount to
        approximately 2800 documents and 13,000 pages of material.</p>
</section>
<section class="theme-light>
        <div class="anchor" id="indictments"></div>
        <h2>Indictments</h2>
        <p class="module">(25 Oct. 1946)</p>
        <p>Four counts:</p>
        <ol class="list">
          <li><strong>Conspiracy to commit war crimes against humanity:</strong> The
          ordering, planning, and organization of the war crimes and crimes against
          humanity charged in counts two and three. Charged against all of the
          defendants. The tribunal decided not to convict on this charge.</li>
          <li><strong>War crimes:</strong> Charged against all defendants.&nbsp;15
          guilty, 8 acquitted.</li>
          <li><strong>Crimes against humanity:</strong> Charged against all
          defendants.&nbsp;15 guilty, 8 acquitted.</li>
          <li><strong>Membership in a criminal
          organization:&nbsp;&nbsp;</strong>Membership in the SS. Charged against K.
          Brandt, Genzken, Gebhardt, R. Brandt, Mrugowsky, Poppendick, Sievers, Brack,
          Hoven, and Fischer. All found guilty.</li>
        </ol>
        <p>Experiments and other "medical" crimes itemized in counts 2 and 3:</p>
        <ol class="list">
          <li><strong>High-altitude experiments</strong>. March - August 1942. Conducted
          for the German air force to investigate the effect of high-altitude flying;
          experiments were conducted at the Dachau camp using a low-pressure chamber.
          Charged against Becker-Freyseng, K. Brandt, R. Brandt, Gebhardt, Handloser,
          Mrugowsky, Poppendick, Romberg, Ruff, Schroeder, Sievers, and Weltz. Charges
          against K. Brandt, Handloser, Mrugowsky, and Poppendick were withdrawn. R.
          Brandt and Sievers were convicted.</li>
          <li><strong>Freezing experiments</strong>. August 1942 - May 1943. Conducted
          primarily for the German air force to investigate treatments for persons who
          had been severely chilled, using prisoners at the Dachau camp. Charged against
          Becker-Freyseng, K. Brandt, R. Brandt, Gebhardt, Handloser, Mrugowsky,
          Poppendick, Schroeder, Sievers, and Weltz. Becker-Freyseng, K. Brandt,
          Gebhardt, Mrugowsky, Poppendick, and Weltz were acquitted; R. Brandt,
          Handloser, Schroeder, and Sievers were convicted.</li>
          <li><strong>Malaria experiments</strong>. February 1942 - April 1945. Conducted
          to test immunization for and treatment of malaria; experiments were conducted
          on more than 1000 prisoners at Dachau. Charged against Blome, K. Brandt, R.
          Brandt, Gebhardt, Handloser, Mrugowsky, Poppendick, Rostock, and Sievers.
          (Evidence was also presented against Rose, but no judgment was reached.) No
          judgment was made concerning Mrugowsky. Blome, K. Brandt, R. Brandt, Gebhardt,
          Handloser, Poppendick, and Rostock were acquitted; Sievers was convicted.</li>
          <li><strong>Mustard ("lost") gas experiments</strong>. September 1939 - April
          1945. Conducted for the benefit of the German armed forces to investigate
          treatment of injuries caused by Lost (mustard) gas; experiments were conducted
          at Sachsenhausen, Natzweiler, and other camps. Charged against Blome, K.
          Brandt, R. Brandt, Gebhardt, Handloser, Rostock, and Sievers. Blome, Gebhardt,
          Handloser, and Rostock were acquitted; K. Brandt, R. Brandt, and Sievers were
          convicted.</li>
          <li><strong>Sulfanilamide experiments</strong>. July 1942 - September 1943.
          Conducted for the benefit of the German armed forces to test the effectiveness
          of sulfanilamide and other drugs as treatments for infected wounds; experiments
          were conducted at Ravensbrueck. Charged against Becker-Freyseng, Blome, K.
          Brandt, R. Brandt, Fischer, Gebhardt, Genzken, Handloser, Mrugowsky,
          Oberheuser, Poppendick, Rostock, and Schroeder. Charges against
          Becker-Freyseng, Blome, and Schroeder were withdrawn. No judgment was reached
          concerning R. Brandt. Genzken, Poppendick, and Rostock were acquitted; K.
          Brandt, Fischer, Gebhardt, Handloser, Mrugowsky, and Oberheuser were
          convicted.</li>
          <li><strong>Bone, muscle, and nerve regeneration, and bone transplant
          experiments</strong>. September 1942 - December 1943. Conducted for benefit of
          German armed forces, using Polish inmates at the Ravensbrueck camp. Charged
          against K. Brandt, R. Brandt, Fischer, Gebhardt, Handloser, Oberheuser, and
          Rostock. Charge against R. Brandt withdrawn. K. Brandt, Handloser, and Rostock
          were acquitted; Fischer, Gebhardt, and Oberheuser were convicted.</li>
          <li><strong>Seawater experiments</strong>. July - September 1944. Conducted for
          the German air force and navy to test methods of making seawater drinkable;
          experiments were conducted at Dachau. Charged against Becker-Freyseng,
          Beiglboeck, K. Brandt, R. Brandt, Gebhardt, Handloser, Mrugowsky, Poppendick,
          Rostock, Schaefer, Schroeder, and Sievers. The charge against Mrugowsky was
          withdrawn. K. Brandt, R. Brandt, Handloser, Poppendick, Rostock, and Schaefer
          were acquitted; Becker-Freyseng, Beiglboeck, Gebhardt, Schroeder, and Sievers
          were convicted.</li>
          <li><strong>Epidemic jaundice experiments</strong>. June 1943 - January 1945.
          Conducted for the benefit of the German armed forces to investigate causes of
          and inoculations against epidemic jaundice; experiments were conducted on
          Polish prisoners at Sachsenhausen and Natzweiler camps. Charged against
          Becker-Freyseng, K. Brandt, R. Brandt, Gebhardt, Handloser, Mrugowsky,
          Poppendick, Rose, Rostock, Schroeder, and Sievers. Charges against
          Becker-Freyseng, Rose, and Sievers were withdrawn. R. Brandt, Gebhardt,
          Handloser, Mrugowsky, Poppendick, Rostock, and Schroeder were acquitted; K.
          Brandt was convicted.</li>
          <li><strong>Typhus ("spotted fever") and other vaccine experiments</strong>.
          December 1941 - February 1945. Conducted for the benefit of the German armed
          forces to test the effectiveness of vaccines against typhus, smallpox, cholera,
          and other diseases; experiments were conducted at Buchenwald and Natzweiler.
          Charged against Becker-Freyseng, K. Brandt, R. Brandt, Gebhardt, Genzken,
          Handloser, Hoven, Mrugowsky, Poppendick, Rose, Rostock, Schroeder, and Sievers.
          Becker-Freyseng, K. Brandt, Gebhardt, Poppendick, and Rostock were acquitted;
          R. Brandt, Genzken, Handloser, Hoven, Mrugowsky, Rose, Schroeder, and Sievers
          were convicted.</li>
          <li><strong>Poison experiments</strong>. December 1943 and September - October
          1944. Conducted to investigate the effect of various poisons, including poison
          in food and poisoned bullets; experiments were conducted at Buchenwald (food)
          and Sachsenhausen (bullets). Charged against Gebhardt, Genzken, Mrugowsky, and
          Poppendick. Gebhardt, Genzken, and Poppendick were acquitted; Mrugowsky was
          convicted.</li>
          <li><strong>Incendiary bomb experiments</strong>. November 1943 - January 1944.
          Conducted to test pharmaceutical treatments for phosphorus burns; experiments
          were conducted at Buchenwald, involving the infliction of burns by materials
          from incendiary bombs. Charged against Gebhardt, Genzken, Mrugowsky, and
          Poppendick. All were acquitted.</li>
          <li><strong>Sterilization experiments</strong>. March 1941 - January 1945.
          Conducted to develop methods of rapid, large scale sterilization in order to
          ensure the eventual elimination of "enemy" populations while keeping captive
          workers as a labor force during the war. Experiments were planned and/or
          conducted at Auschwitz, Ravensbrueck, and elsewhere employing drugs, x-rays,
          and surgery. Charged against Brack, K. Brandt, R. Brandt, Gebhardt, Mrugowsky,
          Oberheuser, Pokorny, and Poppendick. The charges against Mrugowsky and
          Oberheuser were withdrawn. K. Brandt, Pokorny, and Poppendick were acquitted;
          Brack, R. Brandt, and Gebhardt were convicted.</li>
          <li><strong>Skeleton collection</strong>. June 1943 - September 1944. Conducted
          to complete a skeleton collection for an anatomical research project at the
          Reich University of Strasbourg; one hundred twelve Jews at Auschwitz were
          killed for the purpose. Charged against R. Brandt and Sievers; both were
          convicted.</li>
          <li><strong>Tubercular Polish nationals</strong>. May 1942 - January 1944.
          Polish nationals alleged to have incurable tuberculosis were imprisoned or
          killed on the pretext of protecting the health of Germans in Poland. Charged
          against Blome and R. Brandt; both were acquitted.</li>
          <li><strong>Euthanasia</strong>. September 1939 - April 1945. Involved the
          secret killing of the aged, insane, incurably ill, deformed children, and
          others, beginning at asylums in Germany and later in the camps and occupied
          territories. Charged against Blome, Brack, K. Brandt, and Hoven. Blome was
          acquitted; Brack, K. Brandt, and Hoven were convicted.</li>
        </ol>
        <p>Other charges:</p>
        <ol class="list" start="16">
          <li><strong>Phenol (gas oedema) experiments</strong>. 1942 - 1944. Conducted to
          investigate whether levels of phenol in gas oedema serum caused fatalities
          among wounded soldiers; experiments were conducted on prisoners at Buchenwald.
          Charged against Handloser, Hoven, and Mrugowsky. Handloser was acquitted; Hoven
          and Mrugowsky were convicted.</li>
          <li><strong>Phlegmon experiments</strong>. 1942. Conducted to test treatments
          for sepsis and related diseases, in coordination with sulfanilamide experiments
          at Ravensbrueck; experiments were conducted at Dachau and Auschwitz. Charged
          against Fischer, Oberheuser, and Poppendick; all were acquitted.</li>
          <li><strong>Polygal experiments</strong>. 1943 - 1944. Conducted to test the
          effectiveness of polygal, a blood coagulant, for the treatment of wounds.
          Charged against Blome, Handloser, Poppendick, and Sievers. Blome, Handloser,
          and Poppendick were acquitted; Sievers was convicted.</li>
          <li><strong>Planning, organization, and administration</strong> (of 1-15
          above)</li>
          <li><strong>Conspiracy:</strong> Count 1.</li>
          <li><strong>Membership:</strong> Count 4.</li>
        </ol>
        <p>List of 1-15 taken from Indictment in <em>Trials of War Criminals</em>; 16-18
        charged during trial although not specified in indictment.</p>
</section>
<section>
        <div class="anchor" id="chronology"></div>
        <h2>Chronology of the Medical Case</h3>
<table class="table-trial-chronology">
<tr><td> 25 Oct 1946</td><td>Indictment filed</td></tr>
<tr><td>  5 Nov 1946</td><td>Indictment served</td></tr>
<tr><td> 21 Nov 1946</td><td>Arraignment</td></tr>
<tr><td>  5 Dec 1946</td><td>Defense motion for continuance (Transcript begins)</td></tr>
<tr><td>  9 Dec 1946</td><td>Defense pleas; court procedures</td></tr>
<tr><td>  9 Dec 1946</td><td>Prosecution opening statement</td></tr>
<tr><td> 10 Dec 1946</td><td>Prosecution: Documents, defendants, and organizations</td></tr>
<tr><td> 10 Dec 1946</td><td>Prosecution: High altitude experiments</td></tr>
<tr><td> 11 Dec 1946</td><td>Prosecution: Freezing experiments</td></tr>
<tr><td> 13 Dec 1946</td><td>Prosecution: Malaria experiments</td></tr>
<tr><td> 16 Dec 1946</td><td>Prosecution: Seawater experiments</td></tr>
<tr><td> 16 Dec 1946</td><td>Prosecution: Sterilization experiments</td></tr>
<tr><td> 18 Dec 1946</td><td>Prosecution: Jewish skeletons collection</td></tr>
<tr><td> 19 Dec 1946</td><td>Prosecution: Jaundice experiments</td></tr>
<tr><td> 19 Dec 1946</td><td>Prosecution: Tubercular Poles program</td></tr>
<tr><td> 19 Dec 1946</td><td>Prosecution: Sulfanilamide and bone/muscle experiments</td></tr>
<tr><td>  2 Jan 1947</td><td>Prosecution: Polygal and phlegmon experiments</td></tr>
<tr><td>  2 Jan 1947</td><td>Prosecution: Lost (mustard) gas experiments</td></tr>
<tr><td>  3 Jan 1947</td><td>Prosecution: Typhus and other vaccine experiments</td></tr>
<tr><td> 10 Jan 1947</td><td>Prosecution: Biological warfare experiments</td></tr>
<tr><td> 10 Jan 1947</td><td>Prosecution: Euthanasia program</td></tr>
<tr><td> 28 Jan 1947</td><td>Prosecution: Criminal organization</td></tr>
<tr><td> 29 Jan 1947</td><td>Defense opening statements</td></tr>
<tr><td>  3 Feb 1947</td><td>Defense: Karl Brandt</td></tr>
<tr><td> 11 Feb 1947</td><td>Defense: Siegfried Handloser</td></tr>
<tr><td> 20 Feb 1947</td><td>Defense: Paul Rostock</td></tr>
<tr><td> 25 Feb 1947</td><td>Defense: Oskar Schroeder</td></tr>
<tr><td> 28 Feb 1947</td><td>Defense: Karl Genzken</td></tr>
<tr><td>  4 Mar 1947</td><td>Defense: Karl Gebhardt</td></tr>
<tr><td> 10 Mar 1947</td><td>Defense: Fritz Fischer</td></tr>
<tr><td> 12 Mar 1947</td><td>Defense: Kurt Blome</td></tr>
<tr><td> 21 Mar 1947</td><td>Defense: Rudolf Brandt</td></tr>
<tr><td> 26 Mar 1947</td><td>Defense: Joachim Mrugowsky</td></tr>
<tr><td>  3 Apr 1947</td><td>Defense: Herta Oberheuser</td></tr>
<tr><td>  8 Apr 1947</td><td>Defense: Helmut Poppendick</td></tr>
<tr><td>  9 Apr 1947</td><td>Defense: Wolfram Sievers</td></tr>
<tr><td> 16 Apr 1947</td><td>Defense: Gerhard Rose</td></tr>
<tr><td> 25 Apr 1947</td><td>Defense: Siegfried Ruff</td></tr>
<tr><td>  1 May 1947</td><td>Defense: Hans Romberg</td></tr>
<tr><td>  6 May 1947</td><td>Defense: Georg Weltz</td></tr>
<tr><td>  8 May 1947</td><td>Defense: Viktor Brack</td></tr>
<tr><td> 19 May 1947</td><td>Defense: Hermann Becker-Freyseng</td></tr>
<tr><td> 2 June 1947</td><td>Defense: Konrad Schaefer</td></tr>
<tr><td> 6 June 1947</td><td>Defense: Wilhelm Beiglboeck</td></tr>
<tr><td>21 June 1947</td><td>Defense: Waldemar Hoven</td></tr>
<tr><td>25 June 1947</td><td>Defense: Adolf Pokorny</td></tr>
<tr><td>26 June 1947</td><td>Defense: additional documents</td></tr>
<tr><td>28 June 1947</td><td>Prosecution: rebuttal evidence</td></tr>
<tr><td>30 June 1947</td><td>Defense: additional documents</td></tr>
<tr><td> 1 July 1947</td><td>Prosecution: rebuttal evidence</td></tr>
<tr><td> 2 July 1947</td><td>Defense: additional documents</td></tr>
<tr><td> 3 July 1947</td><td>Prosecution: rebuttal evidence</td></tr>
<tr><td>14 July 1947</td><td>Tribunal ruling on Count One of indictment</td></tr>
<tr><td>14 July 1947</td><td>Prosecution closing statement</td></tr>
<tr><td>14 July 1947</td><td>Defense closing statements</td></tr>
<tr><td>19 July 1947</td><td>Defendants&rsquo; personal statements</td></tr>
<tr><td> 19 Aug 1947</td><td>Tribunal judgment</td></tr>
<tr><td> 20 Aug 1947</td><td>Sentences (transcript ends)</td></tr>
<tr><td> 22 Nov 1947</td><td>Appeals denied by Military Governor of U.S. Zone (Lucius Clay)</td></tr>
<tr><td> 16 Feb 1948</td><td>Appeals denied by U.S. Supreme Court (333 U.S. Reports 836)</td></tr>
<tr><td> 2 June 1948</td><td>Execution of seven defendants sentenced to death</td></tr>
</table>

</section>
<section class="theme-light">
        <div class="anchor" id="persons"></div>
        <h2>Persons Involved in the Medical Case</h2>
        <h3>Defendants</h3>
        <p class="module">(With counts charged and verdicts.)</p>
        <p class="list">
        Becker-Freyseng, Hermann (Medical Inspectorate, Luftwaffe; counts 1, 2, 3; guilty, 20 year prison term)<br />
        Beiglboeck, Wilhelm (Dr., Luftwaffe Medical Service; counts 1, 2, 3; guilty, 15 year prison tem)<br />
        Blome, Kurt (Dr., Office for Public Health; Reich Research Council; counts 1, 2, 3; acquitted)<br />
        Brack, Viktor (Oberdienstleiter, Chancellery; counts 1, 2, 3, 4; guilty, executed 1948)<br />
        Brandt, Karl (Dr., Commissioner for Public Health; Waffen-SS; counts 1, 2, 3, 4; guilty, executed 1948)<br />
        Brandt, Rudolf (SS Obersturmbannfuehrer, Himmler&rsquo;s personal staff; counts 1, 2, 3, 4; guilty, executed 1948)<br />
        Fischer, Fritz (Dr., assistant to Karl Gebhardt; counts 1, 2, 3, 4; guilty, life in prison)<br />
        Gebhardt, Karl (Prof. Dr.; officer in SS and Waffen-SS; counts 1, 2, 3, 4; guilty, executed 1948)<br />
        Genzken, Karl (Dr. surgeon-general, Waffen SS; counts 1, 2, 3, 4; guilty, life in prison)<br />
        Handloser, Siegfried (Prof. Dr., Chief of Armed Forces Medical Service; counts 1, 2, 3; guilty, life in prison)<br />
        Hoven, Waldemar (Dr., physician at Buchenwald; Waffen SS; counts 1, 2, 3, 4; guilty, executed 1948)<br />
        Mrugowsky, Joachim (Dr., Chief of Hygiene Institute, Waffen SS; counts 1, 2, 3, 4; guilty, executed 1948)<br />
        Oberheuser, Herta (Dr., assistant to Karl Gebhardt; counts 1, 2, 3; guilty, 20 year prison term)<br />
        Pokorny, Adolf (Dr.; counts 1, 2, 3; acquitted)<br />
        Poppendick, Helmut (Dr., Race and Settlement Office; SS officer; counts 1, 2, 3, 4; guilty, 10 year prison term)<br />
        Romberg, Hans (Dr., Institute for Aviation Medicine at DVL; counts 1, 2, 3; acquitted)<br />
        Rose, Gerhard (Prof. Dr., Robert Koch Institute; Luftwaffe Medical Service; counts 1, 2, 3; guilty, life in prison)<br />
        Rostock, Paul (Prof., Office for Medical Science and Research; counts 1, 2, 3; acquitted)<br />
        Ruff, Siegfried (Dr., Institute for Aviation Medicine at DVL; counts 1, 2, 3; acquitted)<br />
        Schaefer, Konrad (Dr., Schering AG; Institute for Aviation Medicine; counts 1, 2, 3; acquitted)<br />
        Schroeder, Oskar (Dr., Luftwaffe Medical Service; counts 1, 2, 3; guilty, life in prison)<br />
        Sievers, Wolfram Wolfram (Ahnenerbe Society; Reich Research Council; counts 1, 2, 3, 4; guilty, executed 1948)<br />
        Weltz, Georg (Dr., Institute for Aviation Medicine; counts 1, 2, 3; acquitted)
        </p>
        <h3>Defense Counsel</h3>
        <p class="list">
        Bergler, Dr. Erich (for Sievers)<br />
        Boehm, Dr. Georg (for Poppendick)<br />
        Brenner, Dr. Alfred (for Genzken)<br />
        Dehner, Dr. Walter (for Becker-Freyseng and Schroeder)<br />
        Duerr, Dr. Helmut (for Poppendick)<br />
        Flemming, Dr. Fritz (for Mrugowsky)<br />
        Fritz, Dr. Hans (for Rose)<br />
        Froeschmann, Dr. Georg (for Brack)<br />
        Gawlik, Dr. Hans (for Hoven)<br />
        Gierl, Dr. Georg (for Fischer, Gebhardt, and Oberheuser)<br />
        Hoffmann, Dr. Karl (for Pokorny)<br />
        Kauffmann, Dr. Kurt (for R. Brandt)<br />
        Klinnert, Dr. Gerhard (for Hoven)<br />
        Marx, Dr. Hans (for Becker-Freyseng and Schroeder)<br />
        Merkel, Dr. Rudolf (for Genzken)<br />
        Nelte, Dr. Otto (for Handloser)<br />
        Pelckmann, Dr. Horst (for Schaefer)<br />
        Pribilla, Dr. Hans (for Rostock)<br />
        Sauter, Dr. Fritz (for Blome and Ruff)<br />
        Schmidt, Dr. Rudolf (for K. Brandt)<br />
        Seidl, Dr. Alfred (for Fischer, Gebhardt, and Oberheuser)<br />
        Seraphim, Dr. H. (for Pokorny)<br />
        Servatius, Dr. Robert (for K. Brandt)<br />
        Steinbauer, Dr. Gustav (for Beiglboeck)<br />
        Vorwerk, Dr. Bernd (for Romberg)<br />
        Weissgerber, Dr. Josef (for Sievers)<br />
        Wille, Dr. Siegfried (for Weltz)
        </p>
        <h3>Prosecution Counsel</h3>
        <p class="list">
        Taylor, Telford (Chief of Counsel for War Crimes for all NMT trials)<br />
        McHaney, James (Chief Prosecutor for Case 1)<br />
        Hardy, Alexander (Associate Counsel)<br />
        Horlik-Hochwald, Arnost (Associate Counsel)<br />
        Brown, Glen (Assistant Counsel)<br />
        Johnson, Esther (Assistant Counsel)<br />
        Robbins, Jack (Assistant Counsel)<br />
        Shiller, Daniel (Assistant Counsel)
        </p>
        <h3>Judges</h3>
        <p class="list">
        Beals, Walter, Presiding Judge (Chief Justice of Supreme Court of
        State of Washington)<br />
        Crawford, Johnson, Member (former District Court Judge, Oklahoma)<br />
        Sebring, Harold, Member (Associate Justice of Supreme Court of Florida)<br />
        Swearingen, Victor, Alternate Member (former Special Assistant to U.S. Attorney
        General)
        </p>
        <h3>Other Persons and Organizations Often Mentioned in the Trial</h3>
        <p class="list">
        Gluecks, Richard: SS administrator in charge of concentration camp system.<br />
        Grawitz, Dr. Ernst: Chief physician of the SS.<br />
        Himmler, Heinrich: Chief of the SS; ultimate sponsor of the medical
        experiments.<br />
        Rascher, Dr. Sigmund: Conducted high-altitude experiments at Dachau.<br />
        <br />
        Ahnenerbe ("ancestral heritage") Society: Office in SS, conducted
        quasi-scientific studies.<br />
        SS (Schutzstaffel): Security force in Nazi party; then police and security
        authority in Germany; controlled concentration camps and other coercive
        programs.<br />
        </p>
        <h3>Witnesses</h3>
        <p class="list">
        Eighty-four witnesses testified at the trial. They are listed, with dates and
        trial transcript references, in the <a href=
        "http://nuremberg.law.harvard.edu/php/docs_swi.php?DI=1&amp;text=transcript">table
        of contents</a> of the transcript portion of this project and in the published
        trial report, <em>Trials of War Criminals</em>, vol. 2, pp. 332-35.
        </p>
</section>
<section class="theme-light">
        <div class="anchor" id="detailed_chronology"></div>
        <h2>Detailed Chronology</h3>
<table class="table-trial-chronology">
<tr><td>Date</td><td>Proceedings (Code for witnesses: D = defense; P = prosecution; T = tribunal)</td><td>Pages</td></tr>
<tr><td>21 Nov 1946</td><td>Arraignment and indictment</td><td>01-025</td></tr>
<tr><td>5 Dec 1946</td><td>Defense motion for continuance</td><td>026-039</td></tr>
<tr><td>9 Dec 1946</td><td>Defense pleas</td><td>1-8</td></tr>
<tr><td>9 Dec 1946</td><td>Court procedures</td><td>9-12</td></tr>
<tr><td>9 Dec 1946</td><td>Prosecution opening statement</td><td>12-74</td></tr>
<tr><td>10 Dec 1946</td><td>Prosecution: documents, defendants, and organizations</td><td>75-153</td></tr>
<tr><td>10 Dec 1946</td><td>Prosecution: high altitude experiments</td><td>153-230</td></tr>
<tr><td>11 Dec 1946</td><td>Prosecution: freezing experiments</td><td>230-390</td></tr>
<tr><td>12 Dec 1946</td><td>Witness (P): Wolfgang Lutz</td><td>266-308</td></tr>
<tr><td>13 Dec 1946</td><td>Prosecution: malaria experiments</td><td>390-468</td></tr>
<tr><td>13-16 Dec 1946</td><td>Witness (P): August H. Vieweg</td><td>418-468</td></tr>
<tr><td>16 Dec 1946</td><td>Prosecution: saltwater experiments</td><td>469-506</td></tr>
<tr><td>16 Dec 1946</td><td>Prosecution: sterilization experiments</td><td>507-573</td></tr>
<tr><td>16 Dec 1946</td><td>Witness (P): Chaim Balitzki</td><td>539-544</td></tr>
<tr><td>17 Dec 1946</td><td>Witness (P): Robert Levy</td><td>550-561</td></tr>
<tr><td>17 Dec 1946</td><td>Witness (P): Heinrich W. Stoehr</td><td>574-594</td></tr>
<tr><td>17-18 Dec 1946</td><td>Witness (T): Walter Neff</td><td>595-695</td></tr>
<tr><td>18 Dec 1946</td><td>Prosecution: Jewish skeleton collection</td><td>695-733</td></tr>
<tr><td>18 Dec 1946</td><td>Witness (P): Henri Henri-Pierre</td><td>708-722</td></tr>
<tr><td>19 Dec 1946</td><td>Prosecution: jaundice experiments</td><td>733-745</td></tr>
<tr><td>19 Dec 1946</td><td>Prosecution: tubercular Poles program</td><td>745-760</td></tr>
<tr><td>19 Dec 1946</td><td>Prosecution: sulfanilamide and bone/muscle/nerve experiments</td><td>762-949</td></tr>
<tr><td>19-20 Dec 1946</td><td>Witness (P): Maria Broel-Plater</td><td>785-804</td></tr>
<tr><td>20 Dec 1946</td><td>Witness (P): Leo Alexander</td><td>805-814, 832-838, 848-855, 864-869</td></tr>
<tr><td>20 Dec 1946</td><td>Witness (P): Vladislava Karolewska</td><td>815-832</td></tr>
<tr><td>20 Dec 1947</td><td>Witness (P): Jadwiga Dzido</td><td>838-848</td></tr>
<tr><td>20 Dec 1946</td><td>Witness (P): Maria Kusmierczuk</td><td>856-864</td></tr>
<tr><td>21 Dec 1946</td><td>Witness (P): Leo Michalowski</td><td>871-886</td></tr>
<tr><td>2 Jan 1947</td><td>Prosecution: polygal and phlegmon experiments</td><td>949-995</td></tr>
<tr><td>2 Jan 1947</td><td>Prosecution: lost (mustard) gas experiments</td><td>996-1076</td></tr>
<tr><td>3 Jan 1947</td><td>Witness (P): Ferdinand Hall</td><td>1048-1073</td></tr>
<tr><td>3 Jan 1947</td><td>Prosecution: typhus and other vaccine experiments</td><td>1076-1476</td></tr>
<tr><td>6 Jan 1947</td><td>Witness (P): Henri-Jean Grandjean</td><td>1099-1105, 1119-1120  </td></tr>
<tr><td>6-8 Jan 1947</td><td>Witness (P): Eugen Kogon</td><td>1150-1290</td></tr>
<tr><td>8 Jan 1947</td><td>Witness (P): Georg Hirtz</td><td>1291-1300</td></tr>
<tr><td>8-9 Jan 1947</td><td>Witness (P): Fritz Kirchheimer</td><td>1321-1348</td></tr>
<tr><td>9 Jan 1947</td><td>Witness (P): Edith Schmidt</td><td>1364-1383</td></tr>
<tr><td>10 Jan 1947</td><td>Witness (P): Sofia Maczka</td><td>1430--1462</td></tr>
<tr><td>10 Jan 1947</td><td>Prosecution: biological warfare experiments</td><td>1477-1503</td></tr>
<tr><td>10 Jan 1947</td><td>Prosecution: euthanasia program</td><td>1503-1956</td></tr>
<tr><td>14 Jan 1947</td><td>Witness (P): Ferdinand Roemhild</td><td>1627-1664</td></tr>
<tr><td>15 Jan 1947</td><td>Witness (P): Olga Eyer</td><td>1755-1779</td></tr>
<tr><td>16 Jan 1947</td><td>Witness (P): Walter E. Schmidt</td><td>1816-1863</td></tr>
<tr><td>16-17 Jan 1947</td><td>Witness (P): Fritz Mennecke</td><td>1866-1946</td></tr>
<tr><td>27 Jan 1947</td><td>Witness (P): Werner Leibrandt</td><td>1961-2028</td></tr>
<tr><td>28 Jan 1947</td><td>Prosecution: criminal organization</td><td>2076-2091</td></tr>
<tr><td>29 Jan 1947</td><td>Defense opening statements</td><td>2104-2285</td></tr>
<tr><td>3 Feb 1947</td><td>Defense: Karl Brandt</td><td>2300-2803</td></tr>
<tr><td>3-7 Feb 1947</td><td>Witness (D): Karl Brandt</td><td>2301-2661</td></tr>
<tr><td>7 Feb 1947</td><td>Witness (D): Hans H. Lammers</td><td>2661-2692</td></tr>
<tr><td>7-10 Feb 1947</td><td>Witness (D): Kurt Gutzeit</td><td>2692-2764</td></tr>
<tr><td>11 Feb 1947</td><td>Defense: Siegfried Handloser</td><td>2810-3258</td></tr>
<tr><td>11-18 Feb 1947</td><td>Witness (D): Siegfried Handloser</td><td>2816-3104</td></tr>
<tr><td>18-19 Feb 1947</td><td>Witness (D): Paul Wuerfler</td><td>3106-3144</td></tr>
<tr><td>19 Feb 1947</td><td>Witness (D): Bernhard Schmidt</td><td>3144-3188</td></tr>
<tr><td>19 Feb 1947</td><td>Witness (D): Hans Hartlenben</td><td>3189-3231</td></tr>
<tr><td>20 Feb 1947</td><td>Defense: Paul Rostock</td><td>3258-3468</td></tr>
<tr><td>20-24 Feb 1947</td><td>Witness (D): Paul Rostock</td><td>3258-3430</td></tr>
<tr><td>24 Feb 1947</td><td>Witness (D): Heinz Christensen</td><td>3430-3454</td></tr>
<tr><td>25 Feb 1947</td><td>Witness (D): Maria Karlstetter</td><td>3455-3461</td></tr>
<tr><td>25 Feb 1947</td><td>Defense: Oskar Schroeder</td><td>3468-3773</td></tr>
<tr><td>25[-27] Feb 1947</td><td>Witness (D): Oskar Schroeder</td><td>3469-3582; 3602-3700</td></tr>
<tr><td>26 Feb 1947</td><td>Witness (D): Werner Jentsch</td><td>3582-3602</td></tr>
<tr><td>27-28 Feb 1947</td><td>Witness (D): Herbert Augustinick</td><td>3701-3737</td></tr>
<tr><td>28 Feb 1947</td><td>Witness (D): Fritz Witt</td><td>3740-3753</td></tr>
<tr><td>28 Feb 1947</td><td>Defense: Karl Genzken</td><td>3773-3912</td></tr>
<tr><td>28 Feb, 3 Mar 1947</td><td>Witness (D): Karl Genzken</td><td>3773-3891</td></tr>
<tr><td>4 Mar 1947</td><td>Defense: Karl Gebhardt</td><td>3912-4265</td></tr>
<tr><td>4-10 Mar 1947</td><td>Witness (D): Karl Gebhardt</td><td>3931-4256</td></tr>
<tr><td>10 Mar 1947</td><td>Defense: Fritz Fischer</td><td>4266-4385</td></tr>
<tr><td>10-12 Mar 1947</td><td>Witness (D): Fritz Fischer</td><td>4266-4384</td></tr>
<tr><td>12 Mar 1947</td><td>Defense: Kurt Blome</td><td>4385-4826</td></tr>
<tr><td>12 Mar 1947</td><td>Witness (D): Herbert Kosmehl</td><td>4387-4446</td></tr>
<tr><td>13-21 Mar 1947</td><td>Witness (D): Kurt Blome</td><td>4450-4811</td></tr>
<tr><td>20 Mar 1947</td><td>Witness (D): Henry Pieck</td><td>4722-4755</td></tr>
<tr><td>21 Mar 1947</td><td>Defense: Rudolf Brandt</td><td>4828-4998</td></tr>
<tr><td>21-24 Mar 1947</td><td>Witness (D): August Meine</td><td>4831-4867</td></tr>
<tr><td>24-26 Mar 1947</td><td>Witness (D): Rudolf Brandt</td><td>4869-4994</td></tr>
<tr><td>26 Mar 1947</td><td>Defense: Joachim Mrugowsky</td><td>4999-5475</td></tr>
<tr><td>26-31 Mar 1947</td><td>Witness (D): Joachim Mrugowsky</td><td>5000-5244</td></tr>
<tr><td>31 Mar-1 Apr 1947</td><td>Witness (D): Videslaw Horn</td><td>5245-5333</td></tr>
<tr><td>1-3 Apr 1947</td><td>Witness (D): J. Mrugowsky</td><td>5334-5464</td></tr>
<tr><td>3 Apr 1947</td><td>Defense: Herta Oberheuser</td><td>5476-5530</td></tr>
<tr><td>3, 8 Apr 1947</td><td>Witness (D): Herta Oberheuser</td><td>5478-5528</td></tr>
<tr><td>8 Apr 1947</td><td>Defense: Helmut Poppendick</td><td>5530-5656</td></tr>
<tr><td>8-9 Apr 1947</td><td>Witness (D): Helmut Poppendick</td><td>5530-5651</td></tr>
<tr><td>9 Apr 1947</td><td>Defense: Wolfram Sievers</td><td>5656-6001</td></tr>
<tr><td>9-14 Apr 1947</td><td>Witness (D): Wolfram Sievers</td><td>5656-5869</td></tr>
<tr><td>14 Apr 1947</td><td>Witness (D): Eduard May</td><td>5869-5889</td></tr>
<tr><td>14-15 Apr 1947</td><td>Witness (D): Franz Borkenau</td><td>5890-5908</td></tr>
<tr><td>15 Apr 1947</td><td>Witness (D): Erwin Topf</td><td>5908-5924</td></tr>
<tr><td>15-16 Apr 1947</td><td>Witness (D): Friedrich Hielscher</td><td>5926-5994</td></tr>
<tr><td>16 Apr 1947</td><td>Defense: Gerhard Rose</td><td>6001-6488</td></tr>
<tr><td>16-17 Apr 1947</td><td>Witness (D): Marie L. Block</td><td>6002-6031</td></tr>
<tr><td>17 Apr 1947</td><td>Witness (D): Felix Hoering</td><td>6031-6078</td></tr>
<tr><td>18-25 Apr 1947</td><td>Witness (D): Gerhard Rose</td><td>6081-6484</td></tr>
<tr><td>25 Apr 1947</td><td>Defense: Siegfried Ruff</td><td>6489-6762</td></tr>
<tr><td>25-30 Apr 1947</td><td>Witness (D): Siegfried Ruff</td><td>6490-6739</td></tr>
<tr><td>1 May 1947</td><td>Defense: Hans Romberg</td><td>6763-7033</td></tr>
<tr><td>1-6 May 1947</td><td>Witness (D): Hans Romberg</td><td>6764-7032a</td></tr>
<tr><td>6 May 1947</td><td>Defense: Georg Weltz</td><td>7033-7260</td></tr>
<tr><td>6-8 May 1947</td><td>Witness (D): Georg Weltz</td><td>7035-7254</td></tr>
<tr><td>8 May 1947</td><td>Defense: Viktor Brack</td><td>7261-7774</td></tr>
<tr><td>8-9 May 1947</td><td>Witness (D): Karl H. Hederich</td><td>7262-7291</td></tr>
<tr><td>9, 12 May 1947</td><td>Witness (D): Hermann Pfannmueller</td><td>7291-7412</td></tr>
<tr><td>12-19 May 1947</td><td>Witness (D): Viktor Brack</td><td>7413-7772</td></tr>
<tr><td>19 May 1947</td><td>Defense: Hermann Becker-Freyseng</td><td>7774-8327</td></tr>
<tr><td>19-27 May 1947</td><td>Witness (D): Hermann Becker-Freyseng</td><td>7774-8243</td></tr>
<tr><td>28 May 1947</td><td>Witness (D): Rolf Jaeger</td><td>8244-8255</td></tr>
<tr><td>28-29 May 1947</td><td>Witness (D): Hermann Becker-Freyseng</td><td>8255-8292</td></tr>
<tr><td>2 June 1947</td><td>Defense: Konrad Schaefer</td><td>8327-8572</td></tr>
<tr><td>2 June 1947</td><td>Witness (D): Konrad Schaefer</td><td>8349-8399</td></tr>
<tr><td>3 June 1947</td><td>Witness (D): Franz Vollhardt</td><td>8400-8490</td></tr>
<tr><td>4 June 1947</td><td>Witness (D): Konrad Schaefer</td><td>8494-8571</td></tr>
<tr><td>5-6 June 1947</td><td>Witness (D): Paul F. Dorn</td><td>8574-8665</td></tr>
<tr><td>6 June 1947</td><td>Defense: Wilhelm Beiglboeck</td><td>8665-9761</td></tr>
<tr><td>6-12 June 1947</td><td>Witness (D): Wilhelm Beiglboeck</td><td>8666-9028</td></tr>
<tr><td>12-16 June 1947</td><td>Witness (P): Andrew C. Ivy</td><td>9029-9324</td></tr>
<tr><td>17 June 1947</td><td>Witness (D): Wilhelm Beiglboeck</td><td>9326-9328</td></tr>
<tr><td>17 June 1947</td><td>Witness (P): Joseph Tschofenig</td><td>9329-9363</td></tr>
<tr><td>17 June 1947</td><td>Witness (P): Joseph Vorlicek</td><td>9383-9407</td></tr>
<tr><td>17-20 June 1947</td><td>Witness (D): Eugen Haagen</td><td>9408-9712</td></tr>
<tr><td>21 June 1947</td><td>Witness (D): Ernst Mettbach</td><td>9714-9757</td></tr>
<tr><td>21 June 1947</td><td>Defense: Waldemar Hoven</td><td>9761-10005</td></tr>
<tr><td>21-24 June 1947</td><td>Witness (D): Waldemar Hoven</td><td>9761-10004</td></tr>
<tr><td>25 June 1947</td><td>Defense: Adolf Pokorny</td><td>10006-10155</td></tr>
<tr><td>25-26 June 1947</td><td>Witness (D): Adolf Pokorny</td><td>10007-10109</td></tr>
<tr><td>26 June 1947</td><td>Witness (D): Rudolf Trux</td><td>10110-10120</td></tr>
<tr><td>26 June 1947</td><td>Witness (D): Ernst Koch</td><td>10120-10144</td></tr>
<tr><td>26 June 1947</td><td>Witness (D): Friedrich Jung</td><td>10148-10154</td></tr>
<tr><td>26 June 1947</td><td>Defense: additional documents</td><td>10155-10356</td></tr>
<tr><td>27 June 1947</td><td>Witness (P): Josef Laubinger</td><td>10198-10229</td></tr>
<tr><td>27 June 1947</td><td>Witness (P): Karl Hoellenrainer</td><td>10229-10234</td></tr>
<tr><td>28 June 1947</td><td>Prosecution: rebuttal evidence</td><td>10356-10471</td></tr>
<tr><td>30 June 1947</td><td>Witness (P): Constantyn J. Broers</td><td>10386-10406</td></tr>
<tr><td>30 June 1947</td><td>Witness (P): Gerrid H. Nales</td><td>10409-10471</td></tr>
<tr><td>30 June 1947</td><td>Defense: additional documents</td><td>10471-10551</td></tr>
<tr><td>1 July 1947</td><td>Witness (P): Karl Hoellenrainer</td><td>10508-10544</td></tr>
<tr><td>1 July 1947</td><td>Prosecution: rebuttal evidence</td><td>10552-10594</td></tr>
<tr><td>2 July 1947</td><td>Defense: additional documents</td><td>10601-10694</td></tr>
<tr><td>3 July 1947</td><td>Prosecution: rebuttal evidence</td><td>10695-10716</td></tr>
<tr><td>14 July 1947</td><td>Tribunal ruling on Count One of indictment</td><td>10717-10718</td></tr>
<tr><td>14 July 1947</td><td>Prosecution closing statement</td><td>10718-10796</td></tr>
<tr><td>14 July 1947</td><td>Defense closing statements</td><td>10797-11309</td></tr>
<tr><td>19 July 1947</td><td>Defendants' personal statements</td><td>11310-11358</td></tr>
<tr><td>19 Aug 1947</td><td>Tribunal judgment</td><td>11359-11531</td></tr>
<tr><td>20 Aug 1947</td><td>Sentences</td><td>11532-11538</td></tr>
</table>
</section>
{% endblock %}
