{% extends "base.html" %}
{% load static %}

{% block title %} People {% endblock %}

{% block body_class %}about{% endblock %}

{% block header %}
  {{ block.super }}
  <nav class="sub-nav horizontal">
    <li>
      <a href="#gov">Government</a>
    </li>
    <li>
      <a href="#ss">SS</a>
    </li>
    <li>
      <a href="#nsdap">NSDAP</a>
    </li>
    <li>
      <a href="#military">Military</a>
    </li>
    <li>
      <a href="#alpha">Alphabetical</a>
    </li>
  </nav>
{% endblock %}

{% block content %}
<section class="theme-light">
  <div class="partial-width">
  <h1>People</h1>  
    <p class="intro"> 
        Who was who in Nazi Germany
    </p>
    </div> 
    </section>
    <section class="theme-light">
        <h2></h2><br />
        
  <div class="three-column-layout-people">
    <div class="column">
        <img src="{% static 'images/people/streicher.jpg' %}" width="188" height="280" />
      <p class="caption-people">Julius Streicher</p>
    </div>
    <div class="column">
        <img src="{% static 'images/people/goering.jpg' %}" width="239" height="280"/>
      <p class="caption-people">Hermann Goering</p>
    </div>
    <div class="column">
        <img src="{% static 'images/people/ribbentrop.jpg' %}" width="189" height="280"/>
      <p class="caption-people">Joachim von Ribbentrop</p>
    </div>
  </div>
        <p>This section outlines the organizations and leading individuals in four
        overlapping spheres of Nazi Germany: the Reich ministries (the government); the
        Nazi party; the SS; and the Wehrmacht (the armed forces). Adolf Hitler was the
        head of all four of these sectors, and they became increasingly interconnected
        over time. Reich ministries were often matched by parallel party organizations,
        with the same person in charge of both. The SS began as a party organization but
        took over governmental functions (police and security) and created a military
        branch, the Waffen SS. The Wehrmacht was relatively self-contained as a Reich
        organization, but it held jurisdiction over the Waffen SS in military operations.
        These different institutions frequently competed for jurisdictional power and
        resources; for example, in addition to the Reich economic ministries, the SS took
        over economic enterprises in order to control resources and generate income. Much
        of the information in this section is drawn from the encyclopedias compiled by L.
        L. Snyder and C. Zentner, and from Anatomy of the SS State, editied by E.
        Wiskemann.</p>
        <p>For details on the organization and leaders of the SS Economic and
        Administrative Main Office (WVHA, 1942-45), see the introduction to NMT Case 4,
        USA v. Oswald Pohl et al. For more information on the medical officials, see the
        introduction to NMT Case 1, USA v. Karl Brandt et al. (the Medical Case).</p>
</section>
<section class="theme-light">
        <div class="anchor" id="gov"></div>
        <h2>Government (Reich Chancellery and ministries)</h2>
        <ul>
          <li><strong>Reich Chancellor and Fuehrer</strong>: Adolf Hitler, 1933-45; Karl
          Doenitz, chancellor, 1945</li>
          <li><strong>Vice-Chancellor</strong>: Franz von Papen, 1933</li>
          <li><strong>Reich Chancellery</strong>: Hans Lammers</li>
          <li><strong>Armed Forces High Command (OKW)</strong>: Gen. Wilhelm Keitel,
          chief. See Military (below)</li>
          <li><strong>Presidial Chancellery</strong>: Otto Meissner, chief</li>
          <li><strong>Subordinate offices of the Reich Chancellery included</strong>:
          General inspector for highways; Reich office for regional planning; Reich youth
          leadership; General inspector for the Reich capital; General construction
          councillor for the capital of the movement (Munich); Reich construction
          councillor for the city of Linz</li>
          <li><strong>Plenipotentiary for the Four-Year Plan</strong>: Hermann
          Goering</li>
          <li><strong>Privy Cabinet Council (foreign policy)</strong>: Konstantin von
          Neurath</li>
          <li><strong>Reich Protector for Bohemia and Moravia</strong>: Konstantin von
          Neurath, 1939-43</li>
          <li><strong>General-Governor of Occupied Poland</strong>: Hans Frank</li>
          <li><strong>Ministerial Council for the Defense of the Reich</strong>: Hermann
          Goering</li>
          <li><strong>Reich Foreign Minister</strong>: Konstantin von Neurath, 1932-38;
          Joachim von Ribbentrop, 1938-45.</li>
          <li><strong>Subordinate offices included</strong>: NSDAP Foreign Organization
          (Ernest Bohle), Reich Office for Foreign Trade</li>
          <li><strong>Reich Minister of War</strong>: Adolf Hitler, 1938-1945. See
          Military (below)</li>
          <li><strong>Reich Interior Minister</strong>: Wilhelm Frick. Subordinate
          offices included: Prussian Interior Minister, Reich Labor Service (Konstantin
          Hierl), Reich Publishing Office, Reich Health Office (Dr. Leonard Conti), Reich
          Sports Office. For police and security services, see SS (below)</li>
          <li>
            <strong>Reich Minister for Volk Enlightenment and Propaganda</strong>: Joseph
            Goebbels
            <ul>
              <li><strong>Radio Division</strong>: Hans Fritzsche</li>
            </ul>
          </li>
          <li>
            <strong>Reich Minister for Aviation</strong>: Hermann Goering
            <ul>
              <li><strong>State Secretary</strong>: Erhard Milch</li>
              <li><strong>NS Flying Corps</strong>: Keller</li>
            </ul>
          </li>
          <li><strong>Reich Minister of Finance</strong>: Lutz Schwerin von Krosigk</li>
          <li>
            <strong>Reich Minister of Justice</strong>: Franz Guertner, 1932-41; Franz
            Schlegelberger (acting), 1941-42, Otto Thierack, 1942-45
            <ul>
              <li><strong>Civil Law and Procedure Division</strong>: Josef
              Altstoetter</li>
              <li><strong>Penal Administration Division</strong>: Karl Engert</li>
            </ul>
          </li>
          <li><strong>Reich Minister for Economics</strong>: Walther Funk (also Prussian
          Minister for the Economy and Labor)</li>
          <li>
            <strong>Reich Minister for Armaments and War Production</strong>: Fritz Todt,
            1940-42; Albert Speer, 1942-45
            <ul>
              <li><strong>Central Planning Board</strong>: Albert Speer, Erhard Milch,
              Fritz Sauckel</li>
            </ul>
          </li>
          <li><strong>Reich Minister for Nutrition and Agriculture</strong>: Walther
          Darr&eacute; (also Prussian Agricultural Minister)</li>
          <li><strong>Reich Labor Minister</strong>: Franz Seldte (also Prussian Labor
          Minister)</li>
          <li><strong>Reich Minister for Science, Education, and Public
          Instruction</strong>: Berhard Rust (also Prussian parallel ministry).
          Subordinate offices included: Reich Institute for the History of the New
          Germany, Kaiser Wilhelm Society for the Encouragement of Science (and the
          Kaiser Wilhelm institutes), Reich Research Council (until June 1942).</li>
          <li><strong>Reich Minister for Ecclesiastical Affairs</strong>: Hanns Kerrl (d.
          1941); succeeded by state secretary</li>
          <li><strong>Reich Transportation Minister</strong>: Julius Dorpmueller, 1937-45
          (also Prussian Transportation Minister and chief of the German Railroad).</li>
          <li><strong>Reich Postal Minister</strong>: Wilhelm Ohnesorge. (Research bureau
          conducted military technology development.)</li>
          <li><strong>Reich Minister for the Occupied Eastern Territories</strong>:
          Alfred Rosenberg, 1941-45</li>
          <li><strong>Party Chancellery</strong>: Martin Bormann</li>
          <li><strong>Reich Master Forester</strong>: Hermann Goering</li>
          <li><strong>Reich Treasury</strong>: Mueller, president</li>
          <li><strong>Reich Bank</strong>: Walther Funk, president</li>
          <li><strong>Reich Commissioner for Health and Sanitation</strong>: Dr. Karl
          Brandt</li>
          <li><strong>Plenipotentiary for Labor Allocation</strong>: Fritz Sauckel Reich
          Research Council (under Ministry for Science until June 1942, then independent
          agency under Goering)</li>
          <li><strong>Reich Ministers Without Portfolio</strong>: Neurath, Frank, Hjalmar
          Schacht, Arthur Seyss-Inquart</li>
        </ul>
    </section>
    <section class="theme-light">
        <div class="anchor" id="ss"></div>
        <h2>SS (Schutzstaffel of the NSDAP and Reich police and security
        services)</h2>
        <ul>
          <li><strong>Fuehrer of the SS</strong>: Adolf Hitler</li>
          <li>
            <strong>Reichsfuehrer-SS</strong>: Heinrich Himmler (also Chief of Police in
            the Interior Ministry)
            <ul>
              <li><strong>Chief of staff</strong>: Karl Wolff</li>
            </ul>
          </li>
          <li>
            <strong>Reich Security Main Office (RSHA)</strong>: Reinhardt Heydrich,
            1939-42; Ernst Kaltenbrunner, 1942-45
            <ul>
              <li><strong>Gestapo (Secret State Police; Office Group IV)</strong>: Rudolf
              Diels, 1933-34; Reinhardt Heydrich, 1934; Heinrich Mueller, 1939-45</li>
              <li><strong>SD (Security Service; Sicherheitsdienst)</strong>: Heydrich,
              1932 (intelligence office)</li>
              <li><strong>Sipo (Security Police; Sicherheitspolizei)</strong>: Office
              combining Gestapo and Kripo (RKPA)</li>
              <li><strong>RKPA (Reichs Criminal Police; Office Group V)</strong>: Arthur
              Nebe, 1939</li>
              <li><strong>Secret Service for Foreign Countries (Office Group
              VI)</strong>: Walter Schellenberg</li>
              <li><strong>Office for Jewish Questions (office IV-B-4)</strong>: Adolf
              Eichmann, 1938-45</li>
            </ul>
          </li>
          <li><strong>Operational Main Office (Fuehrungshauptamt)</strong>: Hans
          Juettner, 1940-45</li>
          <li>
            <strong>Economic and Administrative Main Office (WVHA, 1942-45)</strong>:
            Oswald Pohl.
            <ul>
              <li><strong>Finance (Office Group A)</strong>: Heinz Fanslau</li>
              <li><strong>Supplies (Office Group B)</strong>: Georg Loerner</li>
              <li><strong>Construction (Office Group C)</strong>: Hans Kammler</li>
              <li><strong>Inspectorate of Concentration Camps (Office Group D)</strong>:
              Richard Gluecks</li>
              <li><strong>Economic Enterprises (Office Group W)</strong>: Oswald Pohl,
              Georg Loerner, Hans Baier</li>
            </ul>
          </li>
          <li><strong>Race and Settlement Main Office (RuSHA, Rasse- und
          Siedlungshauptamt)</strong>: Richard Hildebrandt</li>
          <li><strong>Personnel Main Office</strong>: Maximilian von Herff</li>
          <li><strong>Health Department</strong>: Dr. Ernst-Robert Grawitz,
          Reich-Physician SS</li>
          <li><strong>Ahnenerbe (Institute for Research)</strong>: Wolfram Sievers
          (manager)</li>
        </ul>
    </section>
    <section class="theme-light">
        <div class="anchor" id="nsdap"></div>
        <h2>NSDAP (National Socialist German Workers Party)</h2>
        <p class="module">(Subordinated non-party organizations are enclosed in curly braces.)<p>
        <ul>
          <li><strong>Fuehrer</strong>: Adolf Hitler</li>
          <li>
            <strong>Chief of Party Chancellery and Secretary of Fuehrer</strong>: Martin
            Bormann
            <ul>
              <li><strong>Internal affairs office</strong>: Friedrichs</li>
              <li><strong>Law office</strong>: Klopfer</li>
              <li><strong>Finance office</strong>: Winkler</li>
              <li><strong>Personnel office</strong>: Walkenhorst</li>
              <li>{<strong>Air Raid Protection League</strong>: Hirschauer}</li>
              <li>{<strong>Peoples Militia (Volksturm)</strong>: Martin Bormann, Heinrich
              Himmler}</li>
            </ul>
          </li>
          <li><strong>Fuehrer Chancellery (Hitler's personal affairs)</strong>: Philip
          Bouhler</li>
          <li><strong>SS Reichsfuehrer (Security Staff)</strong>: Heinrich Himmler. See
          section on the SS</li>
          <li><strong>SA chief of staff (Storm Troops)</strong>: Lutze; Schepmann
          (deputy: M. Juettner)</li>
          <li><strong>Propaganda</strong>: Paul Joseph Goebbels (chief of staff:
          Naumann)</li>
          <li><strong>Foreign Policy Office</strong>: Alfred Rosenberg</li>
          <li>
            <strong>Legal Office</strong>: Hans Frank
            <ul>
              <li>{<strong>League of Legal Officials</strong>: Otto Thierach}</li>
            </ul>
          </li>
          <li>
            <strong>Treasurer</strong>: Franz Schwarz
            <ul>
              <li><strong>Leiter des Kanzlai</strong>: W. Kalz</li>
            </ul>
          </li>
          <li><strong>Leader of Reichstag Delegation</strong>: Wilhelm Frick (deputy:
          Fabricius)</li>
          <li>
            <strong>Colonial Office</strong>: Franz von Epp (chief of staff: Wenig)
            <ul>
              <li><strong>Colonial Affairs</strong>: Franz von Epp (also chief of {Reich
              Colonial League})</li>
            </ul>
          </li>
          <li><strong>Delegate for Ideological Training</strong>: Alfred Rosenberg</li>
          <li><strong>Youth Education and Hitler Youth</strong>: Baldur von Schirach</li>
          <li><strong>Press Chief</strong>: Dietrich</li>
          <li><strong>Leader of the Press</strong>: Amann (chief of staff: Saur)</li>
          <li>
            <strong>Party Organization</strong>: Robert Ley (chief of staff: Simon)
            <ul>
              <li><strong>Training</strong>: Bruhn</li>
              <li><strong>Personnel</strong>: Marrenbach</li>
              <li><strong>Organization</strong>: Stegemann</li>
              <li>{<strong>German Labor Front</strong>: Robert Ley}</li>
            </ul>
          </li>
          <li>
            <strong>Delegate for Folkdom</strong>: Heinrich Himmler
            <ul>
              <li><strong>Folkdom Office</strong>: Himmler (chief of staff: Cassel}</li>
            </ul>
          </li>
          <li><strong>Supervisor for Nazi Literature</strong>: Philip Bouhler (chief of
          staff: Nederich)</li>
          <li><strong>Reichsleiter without Party Office</strong>: Hierl</li>
          <li>
            <strong>Office for Peasants</strong>: Walther Darr&eacute; (deputy: Backe}
            <ul>
              <li>{<strong>Reich Food Estate</strong>: Backe}</li>
            </ul>
          </li>
          <li><strong>Health Office</strong>: Wagner</li>
          <li>
            <strong>Public Health</strong>: Dr. Leonard Conti (deputy: Kurt Blome)
            <ul>
              <li>{<strong>League of Physicians</strong>: Conti}</li>
            </ul>
          </li>
          <li><strong>Party Supreme Court</strong>: Walter Buch (chief of staff:
          Reckmann)</li>
          <li><strong>Technical Affairs</strong>: Albert Speer (chief of staff: Karl
          Saur)</li>
          <li>{<strong>German Technological League</strong>: Speer}</li>
          <li><strong>Communal Policy (municipalities)</strong>: Fiehler (chief of staff:
          Patutschnik)</li>
          <li>{<strong>Chamber of German Municipalities</strong>: Fiehler}</li>
          <li><strong>Racial Policy</strong>: Gross</li>
          <li><strong>Genealogical Research</strong>: Mayer</li>
          <li>{<strong>German Family League</strong>: Kaiser}</li>
          <li><strong>Motor Corps (NSKK)</strong>: Kraus (chief of staff: Denk)</li>
          <li><strong>Flying Corps (NSFK)</strong>: Keller (subordinated to Ministry of
          Aviation)</li>
          <li>
            <strong>Women's League (NSF)</strong>: Gertrud Scholtz-Klink (chief of staff:
            Paul)
            <ul>
              <li>{<strong>German Women's Work</strong>: Gertrud Scholtz-Klink}</li>
            </ul>
          </li>
          <li>
            <strong>University Teachers (NSDoB)</strong>: Scheel (chief of staff: Horn)
            <ul>
              <li>{<strong>Society of German University Teachers</strong>: Scheel}</li>
            </ul>
          </li>
          <li>
            <strong>German Students (NSDSB)</strong>: Scheel (chief of staff: Horn)
            <ul>
              <li>{<strong>League of Former Corps Members</strong>: Scheel}</li>
              <li>{<strong>German Students Society</strong>: Scheel}</li>
            </ul>
          </li>
          <li>
            <strong>Public Welfare</strong>: Hilgenfeldt
            <ul>
              <li>{<strong>Public Welfare Association</strong>: Hilgenfeldt}</li>
              <li>{<strong>League of German Nurses</strong>: Hilgenfeldt}</li>
            </ul>
          </li>
          <li>
            <strong>War Victims</strong>: Aumeyer
            <ul>
              <li>{<strong>Organization for War Victims</strong>: Aumeyer}</li>
            </ul>
          </li>
          <li>
            <strong>Educators</strong>: Waechtler
            <ul>
              <li>{<strong>League of Teachers</strong>: Waechtler}</li>
            </ul>
          </li>
          <li>
            <strong>Civil Servants</strong>: Neef
            <ul>
              <li>{<strong>League of Civil Servants</strong>: Neef}</li>
            </ul>
          </li>
          <li><strong>Geographical officers</strong>: gauleiter (district or province
          leader); subordinate officers included kreisleiter (circuit leader),
          ortsgruppenleiter (local group leader), zellenleiter (cell leader), blockwart
          (block warden), parteignosse (pg, party member)</li>
        </ul>
    </section>
    <section class="theme-light">
        <div class="anchor" id="military"></div>
        <h2>Military (Wehrmacht)</h2>
        <p class="module">(The organization of the armed forces (Wehrmacht) changed from 1934 to 1941, with
    Hitler assuming more control; this list covers 1939-45.)</p><br />
        <ul>
          <li><strong>Supreme Commander, Minister of War, and Commander in Chief of the
          Army</strong>: Adolf Hitler</li>
          <li><strong>Chief of the High Command of the Armed Forces (OKW)</strong>: Gen.
          Wilhelm Keitel</li>
          <li><strong>Commander in Chief of the Army</strong>: Walther von Brauchitsch,
          1938-41; Hitler, 1941-45</li>
          <li><strong>Commander in Chief of the Navy</strong>: Erich Raeder, 1928-43;
          Admiral Karl Doenitz, 1943-45</li>
          <li><strong>Commander in Chief of the Air Force</strong>: Gen. Hermann Goering
          (also Reich Marshal)</li>
          <li><strong>Chief of the Operations Staff of the Armed Forces</strong>: Alfred
          Jodl, 1939-45</li>
        </ul>
    </section>
    <section class="theme-light">
        <div class="anchor" id="alpha"></div>
        <h2>Alphabetical List of Persons</h2>
        <p class="module">(This includes all defendants in IMT and NMT 1-4.)</p><br />
        <ul>
          <li><strong>Altstoetter, Josef (def. NMT 3)</strong>: Chief of the Civil Law
          and Procedure Division, Ministry of Justice</li>
          <li><strong>Ammon, Wilhelm von (def. NMT 3)</strong>: Criminal Legislation and
          Administration Division, Ministry of Justice</li>
          <li><strong>Baier, Hans H. (def. NMT 4)</strong>: executive officer, Office
          Group W (economic enterprises), SS Economic and Administrative Main Office</li>
          <li><strong>Barnickel, Paul (def. NMT 3)</strong>: Senior Public Prosecutor of
          the People's Court</li>
          <li><strong>Becker-Freyseng, Hermann (def. NMT 1)</strong>: Dr., Medical
          Corps</li>
          <li><strong>Beiglboeck, Wilhelm (def. NMT 1)</strong> : Dr., Prof., Medical
          Corps</li>
          <li><strong>Blome, Kurt (def. NMT 1)</strong>: Prof., deputy of Leonard Conti
          (NSDAP Public Health Office)</li>
          <li><strong>Bobermin, Hans (def. NMT 4)</strong>: office 2, Office Group W
          (economic enterprises), SS Economic and Administrative Main Office</li>
          <li><strong>Bormann, Martin (def. IMT)</strong>: chief of Party Chancellery,
          secretary to the Fuehrer</li>
          <li><strong>Bouhler, Philip</strong>: NSDAP Fuehrer Chancellery (Hitler's
          personal affairs) (d. 1945)</li>
          <li><strong>Brack, Viktor (def. NMT 1)</strong>: administrator, Reich
          Chancellery</li>
          <li><strong>Brandt, Karl (def. NMT 1)</strong>: Dr., Reich Commissioner for
          Health and Sanitation</li>
          <li><strong>Brandt, Rudolf (def. NMT 1)</strong>: aide to Himmler</li>
          <li><strong>Brauchitsch, Walther von</strong>: Commander in Chief of the Army,
          1938-41</li>
          <li><strong>Buch, Walter</strong>: Chief of NSDAP Party Supreme Court, party
          arbitrator</li>
          <li><strong>Conti, Dr. Leonard</strong>: Reich Health Office; NSDAP Public
          Health Office</li>
          <li><strong>Cuhorst, Hermann (def. NMT 3)</strong>: Chief Justice of Special
          Court, Stuttgart</li>
          <li><strong>Darr&eacute;, Walther</strong>: Minister for Nutrition and Agriculture;
          NSDAP Office for Peasants</li>
          <li><strong>Doenitz, Karl (def. IMT)</strong>: Admiral, commander in chief of
          the Navy, 1943-45; Chancellor, 1945</li>
          <li><strong>Dorpmueller, Julius</strong>: Transportation Minister, 1937-45</li>
          <li><strong>Eichmann, Adolf</strong>: Office for Jewish Questions, RSHA,
          1938-45</li>
          <li><strong>Eirenschmalz, Franz (def. NMT 4)</strong>: office 6, Office Group C
          (construction), SS Economic and Administrative Main Office</li>
          <li><strong>Engert, Karl (def. NMT 3)</strong>: Chief of Penal Administration
          Division and Inmate Transfer Division, Ministry of Justice</li>
          <li><strong>Epp, Franz von</strong>: NSDAP Colonial Office, governor of
          Bavaria</li>
          <li><strong>Fanslau, Heinz K. (def. NMT 4)</strong>: chief of Office Group A
          (finance), SS Economic and Administrative Main Office</li>
          <li><strong>Fischer, Fritz (def. NMT 1)</strong>: Dr., surgeon, Hohenlychen
          clinic</li>
          <li><strong>Frank, August (def. NMT 4)</strong>: Office Group W (economic
          enterprises), SS Economic and Administrative Main Office</li>
          <li><strong>Frank, Hans (def. IMT)</strong>: head of NS legal department;
          Governor-General of Occupied Poland</li>
          <li><strong>Frick, Wilhelm (def. IMT)</strong>: Interior Minister; leader of
          NSDAP Reichstag Delegation</li>
          <li><strong>Fritzsche, Hans (def. IMT)</strong>: chief of the radio division,
          Propaganda Ministry</li>
          <li><strong>Funk, Walther (def. IMT)</strong>: Economics Minister, president of
          Reich Bank</li>
          <li><strong>Gebhardt, Karl (def. NMT 1)</strong>: Dr., Prof.</li>
          <li><strong>Genzken, Karl (def. NMT 1)</strong>: Dr., chief of Waffen-SS
          Medical Service</li>
          <li><strong>Gluecks, Richard</strong>: Inspector of Concentration Camps</li>
          <li><strong>Goebbels, Paul Joseph</strong>: Minister for Propaganda; NSDAP
          propaganda leader</li>
          <li><strong>Goering, Hermann (def. IMT)</strong>: General of the Air Force,
          chief of the Four-Year Plan (war economy), Minister for Aviation</li>
          <li><strong>Grawitz, Dr. Ernst-Robert</strong>: Chief of SS Health Department,
          Reich-Physician SS</li>
          <li><strong>Guenther, Joel (def. NMT 3)</strong>: Legal adviser (prosecution)
          to Minister of Justice, Chief Public Prosecutor of Westphalia</li>
          <li><strong>Guertner, Franz</strong>: Minister of Justice, 1932-41</li>
          <li><strong>Handloser, Siegfried (def. NMT 1)</strong>: Dr., Prof., chief of
          medical services of the armed forces</li>
          <li><strong>Herff, Maximilian von</strong>: SS Personnel Main Office</li>
          <li><strong>Hess, Rudolf (def. IMT)</strong>: Deputy to the Fuehrer, NSDAP</li>
          <li><strong>Heydrich, Reinhardt</strong>: chief of Gestapo; chief of SS Reich
          Security Main Office (RSHA), 1939-42</li>
          <li><strong>Hildebrandt, Richard</strong>: chief of SS Race and Settlement Main
          Office (RuSHA), SS chief in Danzig</li>
          <li><strong>Himmler, Heinrich</strong>: Reichsfuehrer-SS, Chief of the
          Police</li>
          <li><strong>Hitler, Adolf</strong>: Fuehrer, Reich Chancellor, Supreme
          Commander of Armed Forces, Minister of War, commander in chief of the army,
          Fuehrer of the NSDAP, Fuehrer of the SS</li>
          <li><strong>Hoess, Rudolf F.</strong>: commandant of Auschwitz</li>
          <li><strong>Hohberg, Hans (def. NMT 4)</strong>: auditor, Office Group W
          (economic enterprises), SS Economic and Administrative Main Office</li>
          <li><strong>Hoven, Waldemar (def. NMT 1)</strong>: Dr., physician at
          Buchenwald</li>
          <li><strong>Jodl, Alfred (def. IMT)</strong>: chief of the operations staff of
          the armed forces, 1939-45</li>
          <li><strong>Juettner, Hans</strong>: SS Operational Main Office, 1940-45</li>
          <li><strong>Kaltenbrunner, Ernst (def. IMT)</strong>: chief of the Reich
          Security Main Office (RSHA), 1942-45</li>
          <li><strong>Kammler, Hans</strong>: chief of Office Group C (construction), SS
          Economic and Administrative Main Office</li>
          <li><strong>Keitel, Wilhelm (def. IMT)</strong>: General, chief of the Armed
          Forces High Command (OKW)</li>
          <li><strong>Kerrl, Hanns</strong>: Minister for Ecclesiastical Affairs (d.
          1941)</li>
          <li><strong>Kiefer, Max (def. NMT 4)</strong>: office 2, Office Group C
          (construction), SS Economic and Administrative Main Office</li>
          <li><strong>Klein, Horst (def. NMT 4)</strong>: office 8, Office Group W
          (economic enterprises), SS Economic and Administrative Main Office</li>
          <li><strong>Klemm, Herbert (def. NMT 3)</strong>: State Secretary and director
          of Legal Education and Training, Ministry of Justice</li>
          <li><strong>Lammers, Hans</strong>: chief of Reich Chancellery</li>
          <li><strong>Lautz, Ernst (def. NMT 3)</strong>: Chief Public Prosecutor of the
          People's Court</li>
          <li><strong>Ley, Robert (def. IMT)</strong>: chief of NSDAP Party Organization;
          German Labor Front</li>
          <li><strong>Loerner, Georg (def. NMT 4)</strong>: chief of Office Group B
          (supplies), SS Economic and Administrative Main Office</li>
          <li><strong>Loerner, Hans (def. NMT 4)</strong>: office 1, Office Group A
          (finance), SS Economic and Administrative Main Office</li>
          <li><strong>Mentzell, Rudolf</strong>: director in Reich Research Council</li>
          <li><strong>Mettgenberg, Wolfgang (def. NMT 3)</strong>: Criminal Legislation
          and Administration Division, Ministry of Justice</li>
          <li><strong>Milch, Erhard (def. NMT 2)</strong>: Field Marshal of the Air
          Force; state secretary in Aviation ministry, Central Planning Board</li>
          <li><strong>Mrugowsky, Joachim (def. NMT 1)</strong>: Dr., Prof., Waffen-SS
          Hygiene Institute</li>
          <li><strong>Mueller</strong>: president of Reich Treasury</li>
          <li><strong>Mueller, Heinrich</strong>: chief of Gestapo, 1939-45</li>
          <li><strong>Mummenthey, Karl (def. NMT 4)</strong>: office 1, Office Group W
          (economic enterprises), SS Economic and Administrative Main Office</li>
          <li><strong>Nebe, Arthur</strong>: chief of Reich Criminal Police</li>
          <li><strong>Nebelung, Guenther (def. NMT 3)</strong>: Chief Justice of Fourth
          Senate of the People's Court</li>
          <li><strong>Neurath, Konstantin von (def. IMT)</strong>: Privy Cabinet Council;
          Foreign Minister, 1932-38; Protector of Bohemia and Moravia, 1939-43</li>
          <li><strong>Oberheuser, Herta (def. NMT 1)</strong>: Dr., surgeon at
          Hohenlychen clinic</li>
          <li><strong>Oeschey, Rudolf (def. NMT 3)</strong>: Judge and Chief Justice of
          the Special Court, Nuremberg</li>
          <li><strong>Ohnesorge, Wilhelm</strong>: Postal Minister</li>
          <li><strong>Papen, Franz von (def. IMT)</strong>: Chancellor, 1932; Vice
          Chancellor; ambassador to Austria, 1934-38; ambassador to Turkey, 1939-44</li>
          <li><strong>Petersen, Hans (def. NMT 3)</strong>: Lay Judge of the First Senate
          of the People's Court</li>
          <li><strong>Pohl, Oswald (def. NMT 4)</strong>: chief of SS Economic and
          Administrative Main Office (WVHA), 1942-45</li>
          <li><strong>Pokorny, Adolf (def. NMT 1)</strong>: Dr., Munich</li>
          <li><strong>Pook, Hermann (def. NMT 4)</strong>: office 3, Office Group D
          (concentration camps), SS Economic and Administrative Main Office</li>
          <li><strong>Poppendick, Helmut (def. NMT 1)</strong>: Dr., surgeon, Race and
          Settlement Main Office (RuSHA)</li>
          <li><strong>Raeder, Erich (def. IMT)</strong>: commander of the navy,
          1928-43</li>
          <li><strong>Rascher, Sigmund</strong>: Dr., medical researcher at Dachau (d.
          1944)</li>
          <li><strong>Ribbentrop, Joachim von (def. IMT)</strong>: Foreign Minister,
          1938-45</li>
          <li><strong>Romberg, Hans W. (def. NMT 1)</strong>: Dr., German Experimental
          Institute for Aviation</li>
          <li><strong>Rose, Gerhardt (def. NMT 1)</strong>: Dr., Prof., Division of
          Tropical Medicine, Robert Koch Institute</li>
          <li><strong>Rosenberg, Alfred (def. IMT)</strong>: Minister for the Occupied
          Eastern Territories, 1941-45; NSDAP ideological and foreign policy offices</li>
          <li><strong>Rostock, Paul (def. NMT 1)</strong>: Dr., Prof., Medical Corps</li>
          <li><strong>Rothaug, Oswald (def. NMT 3)</strong>: Senior Public Prosecutor of
          the People's Court</li>
          <li><strong>Rothenberger, Curt (def. NMT 3)</strong>: State Secretary of the
          Ministry of Justice</li>
          <li><strong>Ruff, Siegfried (def. NMT 1)</strong>: Dr., Institute of Aviation
          Medicine</li>
          <li><strong>Rust, Bernhard</strong>: Minister for Science, Education, and
          Public Instruction; Reich Research Council</li>
          <li><strong>Sauckel, Fritz (def. IMT)</strong>: Plenipotentiary for Labor
          Allocation</li>
          <li><strong>Saur, Karl O.</strong>: director of Technical Office, Armaments
          (Speer) Ministry</li>
          <li><strong>Schacht, Hjalmar (def. IMT)</strong>: Minister of Economics,
          1934-37; Reichsbank, 1933-39</li>
          <li><strong>Schaefer, Konrad (def. NMT 1)</strong>: Dr., Schering Corp.</li>
          <li><strong>Scheide, Rudolf (def. NMT 4)</strong>: office 5, Office Group B
          (supplies), SS Economic and Administrative Main Office</li>
          <li><strong>Schellenberg, Walter</strong>: Office Group VI (Secret Service for
          Foreign Countries), RSHA</li>
          <li><strong>Schirach, Baldur von (def. IMT)</strong>: NS German Students
          League, 1929; NS Hitler Youth</li>
          <li><strong>Schlegelberger, Franz (def. NMT 3)</strong>: State Secretary and
          acting Minister of Justice, 1941-42</li>
          <li><strong>Schroeder, Oskar (def. NMT 1)</strong>: Dr., chief of Air Force
          Medical Service</li>
          <li><strong>Schwarz, Franz X.</strong>: NSDAP treasurer, Reichsleiter</li>
          <li><strong>Schwerin von Krosigk, Lutz</strong>: Minister of Finance</li>
          <li><strong>Seldte, Franz</strong>: Labor Minister</li>
          <li><strong>Seyss-Inquart, Arthur (def. IMT)</strong>: Governor of Austria;
          Commissioner for the Netherlands, 1940-45</li>
          <li><strong>Sievers, Wolfram (def. NMT 1)</strong>: Ahnenerbe (SS Institute for
          Research)</li>
          <li><strong>Sommer, Karl (def. NMT 4)</strong>: office 2, Office Group D
          (concentration camps), SS Economic and Administrative Main Office</li>
          <li><strong>Speer, Albert (def. IMT)</strong>: Minister for Armaments and War
          Production, 1942-45; NSDAP Office of Technical Affairs; Inspector General of
          Highways</li>
          <li><strong>Streicher, Julius (def. IMT)</strong>: founder of Der Stuermer</li>
          <li><strong>Thierack, Otto</strong>: Minister of Justice, 1942-45 (d.
          1946)</li>
          <li><strong>Todt, Fritz</strong>: Minister for Armaments and War Production,
          1940-42 (d. 1942)</li>
          <li><strong>Tschentscher, Erwin (def. NMT 4)</strong>: office 1, Office Group B
          (supplies), SS Economic and Administrative Main Office</li>
          <li><strong>Vogt, Josef (def. NMT 4)</strong>: office 4, Office Group A
          (finance), SS Economic and Administrative Main Office</li>
          <li><strong>Volk, Leo (def. NMT 4)</strong>: executive office of Office Group W
          (economic enterprises), SS Economic and Administrative Main Office</li>
          <li><strong>Weltz, Georg A. (def. NMT 1)</strong>: Dr., Prof., Institute of
          Aviation Medicine</li>
          <li><strong>Westphal, Carl (def. NMT 3)</strong>: Criminal Legislation and
          Administration Division, Ministry of Justice</li>
          <li><strong>Wolff, Karl</strong>: chief of staff for Himmler; military
          governor, Italy</li>
        </ul>
</section>
{% endblock %}