{% extends "base.html" %}
{% load static %}

{% block title %} Approaches to the Collection {% endblock %}

{% block body_class %}approaches{% endblock %}

{% block content %}
<section class="theme-white content-head">
  <nav class="sub-nav horizontal">
    <a href="#people">People Involved</a>
    <a href="#issues">Trial Issues &amp; Activities</a>
    <a href="#documents">Documents</a>
  </nav>
  <div class="partial-width">
    <h1> Trials </h1>
    <p class="intro">
      The Nuremberg trials were a complex set of proceedings,
      taking several years to complete. Here are some ways to
      start research with our collection.
    </p>
  </div>
</section>

<section class="theme-beige" id="people">
  <div class="sidebar-layout">
    <div class="sidebar-column">
      <h2>People Involved</h2>
      <p>
        Access documents and transcripts related to specific people&mdash;defendants, authors, prosecutors,
        and more&mdash;involved in the trials. Start with these three high-ranking officers.
      </p>
      <p>
        <a class="teaser">A full list of Who was Who</a>
      </p>
    </div>
    <div class="main-column">
      <img src="{% static 'images/approaches/people-hero.png' %}" />
    </div>
  </div>
  <h4 class="serif"> The People of the Nuremberg Trials </h4>
  <div class="three-column-layout">
    <div class="column">
      <img src="{% static 'images/approaches/people-defendants.jpg' %}" />
      <h5>Defendants</h5>
      <p>
        This section outlines the organizations and leading individuals in four overlapping spheres
        of Nazi Germany: the Reich ministries (the government); the Nazi party; the SS; and the
        Wehrmacht (the armed forces). Adolf Hitler was the head of all four of these sectors, and
        they became increasingly interconnected over time.
      </p>
    </div>
    <div class="column">
      <img src="{% static 'images/approaches/people-authors.jpg' %}" />
      <h5>Authors</h5>
      <p>
        This section outlines the organizations and leading individuals in four overlapping spheres
        of Nazi Germany: the Reich ministries (the government); the Nazi party; the SS; and the
        Wehrmacht (the armed forces). Adolf Hitler was the head of all four of these sectors, and
        they became increasingly interconnected over time.
      </p>
    </div>
    <div class="column">
      <img src="{% static 'images/approaches/people-speakers.jpg' %}" />
      <h5>Speakers</h5>
      <p>
        This section outlines the organizations and leading individuals in four overlapping spheres
        of Nazi Germany: the Reich ministries (the government); the Nazi party; the SS; and the
        Wehrmacht (the armed forces).
      </p>
      <p>
        <a> Karl Brandt </a> (something something something)
      </p>
      <p>
        <a> Rudolph Brandt </a> (something something something)
      </p>
      <p>
        <a> Karl Gebdardt </a> (something something something)
      </p>
    </div>
  </div>
</section>

<section class="theme-dark" id="issues">
  <div class="partial-width">
    <h2>Trial Issues &amp; Activities</h2>
    <p>
      Launched in 2003 at the completion of the first stage of digitization, the Nuremberg Trials
      Project presented documents from and relating to the Medical Case, which was Case 1 of the
      NMT trials. The Medical Case (U.S.A. v. Karl Brandt et al., also known as the Doctors' Trial)
      was held in 1946-1947 and involved 23 defendants accused of organizing and participating in
      war crimes and crimes against humanity in the form of harmful or fatal medical experiments
      and other medical procedures inflicted on both civilians and prisoners of war.
    </p>
  </div>
  <div class="three-column-layout">
    <div class="column">
      <p>
        <a class="trial-flag trial-nmt-1">NMT 1</a>
        <a class="trial-flag trial-nmt-2">NMT 2</a>
        <a class="trial-flag trial-nmt-4">NMT 4</a>
        <a class="trial-flag trial-imt">IMT</a>
      </p>
      <h4>
        <a>Euthenasia Program</a>
      </h4>
      <p>
        The Medical Case, U.S.A. vs. Karl Brandt, et al. (also known as the Doctors' Trial), was
        prosecuted in 1946-47 against twenty-three doctors and administrators accused of organizing
        and participating in war crimes and crimes against humanity.
      </p>
    </div>
    <div class="column">
      <p>
        <a class="trial-flag trial-nmt-1">NMT 1</a>
        <a class="trial-flag trial-nmt-2">NMT 2</a>
        <a class="trial-flag trial-nmt-4">NMT 4</a>
        <a class="trial-flag trial-imt">IMT</a>
      </p>
      <h4>
        <a>High Altitude Experiments</a>
      </h4>
      <p>
        The Medical Case, U.S.A. vs. Karl Brandt, et al. (also known as the Doctors' Trial), was
        prosecuted in 1946-47 against twenty-three doctors and administrators.
    </div>
    <div class="column">
      <p>
        <a class="trial-flag trial-nmt-1">NMT 1</a>
        <a class="trial-flag trial-nmt-2">NMT 2</a>
        <a class="trial-flag trial-nmt-4">NMT 4</a>
        <a class="trial-flag trial-imt">IMT</a>
      </p>
      <h4>
        <a>Administration &amp; Organization</a>
      </h4>
      <p>
        The Medical Case, U.S.A. vs. Karl Brandt, et al. (also known as the Doctors' Trial), was
        prosecuted in 1946-47 against twenty-three doctors and administrators accused of organizing
        and participating in war crimes.
      </p>
    </div>
  </div>
</section>

<section class="theme-light" id="documents">
  <h2> Documents Related to the Nuremberg Trials </h2>
  <div class="three-column-layout serif">
    <div class="column">
      <h3> Trial Documents </h3>
      <p>
        Trial documents, or case file documents, are briefs, transcripts of oral arguments,
        document books of evidence exhibits, and other documents that were used in the course
        of the trial (or, in a few cases, prepared for use but not finally used in the trial). The
        bulk of the trial documents are the briefs presented by the defense and prosecution
        for and against each defendant, and the document books containing texts of the
        written evidence presented as exhibits.
      </p>

      <p>
        Prosecution document books are organized by subject (e.g., euthanasia or the sterilization
        experiments in Case 1), while the defense document books are organized by individual
        defendants (e.g., Dr. Becker-Freyseng). This difference reflects the way the two sides
        presented their cases: The prosecution presented evidence about the various crimes in
        succession, citing the various defendants charged with responsibility for each one (e.g.,
        the defendants implicated in the freezing experiments), and each defendant presented a
        separate case concerning the charges he or she faced (e.g., the several charges against
        Viktor Brack).
      </p>

      <p>
        Nearly all of the prosecution exhibits, and many of the defense exhibits, were derived
        from material in the Evidence Files (see following section).
      </p>
    </div>
    <div class="column">
      <p>
        Trial documents, or case file documents, are briefs, transcripts of oral arguments,
        document books of evidence exhibits, and other documents that were used in the course
        of the trial (or, in a few cases, prepared for use but not finally used in the trial). The
        bulk of the trial documents are the briefs presented by the defense and prosecution
        for and against each defendant, and the document books containing texts of the
        written evidence presented as exhibits.
      </p>

      <h3> Evidence File Documents </h3>

      <p>
        Prosecution document books are organized by subject (e.g., euthanasia or the sterilization
        experiments in Case 1), while the defense document books are organized by individual
        defendants (e.g., Dr. Becker-Freyseng). This difference reflects the way the two sides
        presented their cases: The prosecution presented evidence about the various crimes in
        succession, citing the various defendants charged with responsibility for each one (e.g.,
        the defendants implicated in the freezing experiments), and each defendant presented a
        separate case concerning the charges he or she faced (e.g., the several charges against
        Viktor Brack).
      </p>

      <p>
        Nearly all of the prosecution exhibits, and many of the defense exhibits, were derived
        from material in the Evidence Files (see following section), so that trial documents and
        evidence file documents often provide the same text in multiple forms.
        particular trial.
      </p>
    </div>
    <div class="column">
      <p>
        Trial documents, or case file documents, are briefs, transcripts of oral arguments,
        document books of evidence exhibits, and other documents that were used in the course
        of the trial (or, in a few cases, prepared for use but not finally used in the trial). The
        bulk of the trial documents are the briefs presented by the defense and prosecution
        for and against each defendant, and the document books containing texts of the
        written evidence presented as exhibits.
      </p>

      <p>
        Prosecution document books are organized by subject (e.g., euthanasia or the sterilization
        experiments in Case 1), while the defense document books are organized by individual
        defendants (e.g., Dr. Becker-Freyseng). This difference reflects the way the two sides
        presented their cases: The prosecution presented evidence about the various crimes in
        succession, citing the various defendants charged with responsibility for each one (e.g.,
        the defendants implicated in the freezing experiments), and each defendant presented a
        separate case concerning the charges he or she faced (e.g., the several charges against
        Viktor Brack).
      </p>

      <p>
        Nearly all of the prosecution exhibits, and many of the defense exhibits, were derived
        from material in the Evidence Files (see following section).
      </p>
    </div>
  </div>
  <div class="center-text">
    <h5>Full set of documents for Evidence File NO-208</h5>
    <p class="hint">Click on each document to view it in the Document Viewer.</p>
  </div>
  <div class="four-column-layout">
    <div class="column">
      <a class="unstyled" href="/documents/1">
        <img src="{% static 'images/approaches/document-photostat.png' %}" />
      </a>
      <p class="small">Photostat of original document</p>
    </div>
    <div class="column">
      <a class="unstyled" href="/documents/1">
        <img src="{% static 'images/approaches/document-german.png' %}" />
      </a>
      <p class="small">German typescript</p>
    </div>
    <div class="column">
      <a class="unstyled" href="/documents/1">
        <img src="{% static 'images/approaches/document-english.png' %}" />
      </a>
      <p class="small">English translation</p>
    </div>
    <div class="column">
      <a class="unstyled" href="/documents/1">
        <img src="{% static 'images/approaches/document-analysis.png' %}" />
      </a>
      <p class="small">Staff analysis</p>
    </div>
  </div>

  <div class="center-text">
    <h5>Trial Document</h5>
    <p class="hint">
      This Case File Document (Trial Document) was derived from the English translation of
      <br />
      Evidence File NO-208. Click to view it in the Document Viewer.
    </p>
  </div>
  <div class="centered-column">
    <a class="unstyled" href="/documents/1">
      <img src="{% static 'images/approaches/document-exhibit.png' %}" />
    </a>
    <p class="small">Prosecution Exhibit No. 166, Medical Case</p>
  </div>
</section>
{% endblock %}
