{% extends "base.html" %}
{% load static %}

{% block title %} Approaches to the Collection {% endblock %}

{% block body_class %}approaches{% endblock %}


{% block content %}
<nav class="sub-nav horizontal">
  <li>
    <a href="#people">People Involved</a>
  </li>
  <li>
    <a href="#issues">Trial Issues &amp; Activities</a>
  </li>
  <li>
    <a href="#documents">Documents</a>
  </li>
</nav>
<section class="theme-white">
  <div class="partial-width">
    <h1> Placeholder File </h1>
    <p class="intro">
    The content for this page is still being developed.
    </p>
  </div>
</section>
{% endblock %}
