{% load search_url %}

{% for facet in labeled_facets %}
  {% if facet.label == 'Date' %}
    <nav role="search" aria-label="filter by date" class="facet">
      <div class="h5">Date</div>
      <div class="collapse">Hide</div>
      {% for value in facet.counts %}
        <p class="{% if forloop.counter > 5 %}hide{% endif %}" data-year="{{value.0|default:""}}">
          {{value.0|default:"Unknown"}}
          {% facet_exists facet.field value.0 as existing_facet %}
          {% if existing_facet %}
            <a  class="exists" href="{% remove_facet existing_facet %}" aria-label="remove {{value.0}} filter"> &times; </a>
          {% else %}
            <a href="{% add_facet facet.field value.0 %}" aria-label="show {{value.1}} results with {{facet.label}} {{value.0|default:"Unknown"}}"> ({{value.1}}) </a>
          {% endif %}
        </p>
      {% empty %}
        <p> No data </p>
      {% endfor %}
      {% if facet.counts|length > 5 %}
        <p>
          <a class="show-all">{{facet.counts|length|add:"-5"}} more</a>
        </p>
      {% endif %}
      <p> Year range: </p>
      <form class="date-filter-form" role="search" aria-label="Filter by date range" action="">
        <input type="hidden" name="q" value="{{query}}" />
        {% for filter in form.applied_filters %}
          <input type="hidden" name="f" value="{{filter.2}}" />
        {% endfor %}
        <p class="date-filter">
            <input type="number" name="year_min" title="Beginning of year range" value="{{ form.date_range.0|default:"" }}"/>
            to
            <input type="number" name="year_max" title="End of year range" value="{{ form.date_range.1|default:"" }}" />
            <button class="go-button">Filter</button>
        </p>
    </form>
      <div class="date-slider">
        <div class="ui-slider"></div>
        <div class="start-year">1898</div>
        <div class="end-year">1948</div>
      </div>
    </nav>
  {% else %}
    <nav role="search" aria-label="filter by {{facet.label}}" class="facet">
      <div class="h5">{{facet.label}}</div>
      <div class="collapse">Hide</div>
      {% for value in facet.counts %}
        <p class="{% if forloop.counter > 5 %}hide{% endif %}">
          {{value.0|default:"Unknown"}}
          {% facet_exists facet.field value.0 as existing_facet %}
          {% if existing_facet %}
            <a class="exists" href="{% remove_facet existing_facet %}" aria-label="remove {{value.0}} filter"> &times; </a>
          {% else %}
            <a href="{% add_facet facet.field value.0 %}" aria-label="show {{value.1}} results with {{facet.label}} {{value.0|default:"Unknown"}}"> ({{value.1}}) </a>
          {% endif %}
        </p>
      {% empty %}
        <p> No data </p>
      {% endfor %}
      {% if facet.counts|length > 5 %}
        <p>
          <a class="show-all">{{facet.counts|length|add:"-5"}} more</a>
        </p>
      {% endif %}
    </nav>
  {% endif %}
{% endfor %}
