{% extends "base.html" %}
{% load static %}

{% block title %} People {% endblock %}

{% block body_class %}about{% endblock %}

{% block header %}
  {{ block.super }}
  <nav  aria-label="Topics for NMT-3" class="sub-nav horizontal">
    <li>
      <a href="#summary">Summary</a>
    </li>
    <li>
      <a href="#chronology_overview">Chronology Overview</a>
    </li>
    <li>
      <a href="#persons">Persons Involved</a>
    </li>
    <li>
      <a href="#indictments">Indictments</a>
    </li>
    <li>
      <a href="#chronology_detailed">Detailed Chronology</a>
    </li>
  </nav>
{% endblock %}

{% block content %}
<div id="content"></div>
<section class="theme-light">
    <div class="partial-width">
        <h1>NMT Case 3</h1>
        <p class="intro">The Justice Case<p>
    </div>
</section>
<section class="theme-light">
  <div class="anchor" id="summary"></div>
  <h2>Summary</h2>

  <p>In the Justice Case, the United States prosecuted sixteen officials of the German
  Ministry of Justice, senior prosecutors, and judges for war crimes, crimes against
  humanity, conspiracy, and membership in criminal organizations. The specific crimes
  charged included the imprisonment or murder of political opponents of the Nazi regime
  and members of persecuted ethnic and religious groups, the sterilization of
  &ldquo;racially impure&rdquo; or disabled persons, the euthanizing of those unable to
  work, deportation and enslavement of workers, the plundering of private property, and
  torture. These crimes were committed through the regular state courts, which had been
  systematically converted into instruments of Nazi policy, and also through
  &ldquo;special courts&rdquo; and &ldquo;people&rsquo;s courts&rdquo; that handled
  political cases and executed summary judgments and punishments. Seven defendants were
  charged with membership in the Nazi Leadership Corps, the SS (Himmler&rsquo;s security
  agencies), or the SD (the Security Service), all of which had been ruled criminal
  organizations by the International Military Tribunal.</p>

  <p>The trial lasted eleven months, and the evidence included more than 600 prosecution
  exhibits, 1400 defense exhibits, and the testimony of more than 100 witnesses. Of the
  sixteen defendants, one committed suicide, one mistrial was declared due to illness,
  four were acquitted, and ten received prison sentences.</p>
</section>
<section class="theme-light">
  <div class="anchor" id="chronology_overview"></div>
  <h2>Chronology Overview</h2></p>

  4 Jan 1947 Indictment filed</p>

  17 Feb 1947 Arraignment</p>

  5 Mar 1947 Prosecution opening statement</p>

  23 June 1947 Defense opening statements</p>

  13-14 Oct 1947 Prosecution closing statement</p>

  14-18 Oct 1947 Defense closing statements</p>

  18 Oct 1947 Prosecution rebuttal closing</p>

  18 Oct 1947 Defendants&rsquo; final statements</p>

  3-4 Dec 1947 Judgment of Tribunal</p>

  4 Dec 1947 Sentences</p>

  18 Jan 1949 Sentences affirmed by military governor</p>

  2 May 1949 Writs of habeas corpus denied by U.S. Supreme Court</p>
</section>
<section class="theme-light">
    <div class="anchor" id="persons"></div>
    <h2>Persons Involved</h2>
  <h3>Tribunal</h3>
  <p class="list">
  Carrington T. Marshall, presiding judge<br />

  James T. Brand, judge<br />

  Mallory B. Blair, judge<br />

  Justin W. Harding, alternate<br />

  (Marshall retired due to illness in June; Brand became presiding judge and Harding
  became member judge)<br />
</p>

  <h3>Defendants</h3>

  <p class="list">Josef Altstoetter, chief of civil law and procedure division, Ministry of Justice;
  SS<br />

  Wilhelm von Ammon, counsellor of criminal legislation and administration division,
  Ministry of Justice<br />

  Paul Barnickel, senior public prosecutor, People&rsquo;s Court; SA<br />

  Hermann Cuhorst, chief justice of special court and criminal senate, Stuttgart;
  SS<br />

  Karl Engert, chief of penal administration division, Ministry of Justice; SS<br />

  Guenther Joel, legal adviser to Minister of Justice; chief prosecutor, Westphalia;
  SS and SD<br />

  Herbert Klemm, state secretary, Ministry of Justice; SA<br />

  Ernst Lautz, chief public prosecutor, People&rsquo;s Court<br />

  Wolfgang Mettgenberg, representative, criminal legislation and administration
  division, Ministry of Justice<br />

  Guenther Nebelung, chief justice of fourth senate, People&rsquo;s Court; SA<br />

  Rudolf Oeschey, judge and chief justice of Special Court, Nuremberg (after
  Rothaug)<br />

  Hans Petersen, lay judge of first senate and special senate, People&rsquo;s Court;
  SA<br />

  Oswald Rothaug, senior public prosecutor, People&rsquo;s Court; chief justice,
  Special Court<br />

  Curt Rothenberger, state secretary, Ministry of Justice<br />

  Franz Schlegelberger, state secretary, acting Minister of Justice<br />

  Carl Westphal, counsellor, criminal legislation and administration, Ministry of
  Justice (committed suicide<br />

  before trial began)<br />
</p>

  <h3>Prosecution</h3>

  <p class="list">
  Telford Taylor, chief of counsel<br />

  Charles M. LaFollette, deputy chief<br />

  Robert D. King, associate<br />

  Alfred M. Wooleyhan, associate<br />

  Sadie B. Arbuthnot, assistant<br />

  Defense counsel:<br />

  Rudolf Aschenauer, for Petersen<br />

  Richard Brieger, for Cuhorst<br />

  Karl Doetzer, for Nebelung<br />

  Heinrich Grube, for Lautz<br />

  Carl Haensel, for Joel<br />

  Rudolf Koessl, for Rothaug<br />

  Egon Kubuschok, for Von Ammon and Schlegelberger<br />

  Heinrich Link, for Engert (from July 31, 1947)<br />

  Hanns Marx, for Engert (to July 31, 1947)<br />

  Hermann Orth, for Altstoetter<br />

  Alfred Schilf, for Klemm and Mettenberg<br />

  Werner Schubert, for Oeschey<br />

  Edmund Tipp, for Barnickel<br />

  Erich Wandschneider, for Rothenberger<br />
</p>
</section>
<section class="theme-light">
  <div class="anchor" id="indictments"></div>
  <h2>Indictments</h2>

  <strong>Count 1</strong>
  <ol class="list">
    <li>Common Design and Conspiracy: all defendants, from January 1933 to April
  1945, to commit</li>

  <li>war crimes and crimes against humanity</li>
  </ol>

  <strong>Count 2</strong>
  <ol class="list">
    <li>War Crimes, from September 1939 to April 1945, against persons under German
  military control, including:</li>

  <li>Use of irregular courts to suppress opposition (all defendants)</li>

  <li>Special Court actions against targeted nationalities (von Ammon, Engert, Klemm,
  Schlegelberger,</li>

  <li>Mettgenberg, Rothenberger, Westphal)</li>

  <li>Imposition of German law to oppress occupied populations (Barnickel, Cuhorst, Klemm,
  Lautz,</li>

  <li>Mettgenberg, Nebelung, Oeschey, Petersen, Rothaug, Rothenberger, Schlegelberger,
  Westphal)</li>

  <li>Annexation of occupied territories (Klemm, Lautz, Mettgenberg, Schlegelberger,
  Westphal)</li>

  <li>Enforcement of Night and Fog decree (Altstoetter, von Ammon, Engert, Joel,
  Klemm,</li>

  <li>Mettgenberg, Schlegelberger)</li>

  <li>Execution of prisoners (Engert, Joel, Klemm, Lautz, Mettgenberg, Rothenberger,
  Westphal)</li>

  <li>Sterilization and euthanasia (Lautz, Schlegelberger, Westphal)</li>

  <li>Discriminatory prosecutions (von Ammon, Joel, Klemm, Rothenberger,
  Schlegelberger)</li>

  <li>Actions against Jews in Bohemia and Moravia (Altstoetter and Schlegelberger)</li>

  <li>Incitement of murder of Allied airmen (Klemm and Lautz)</li>
</ol>

  <strong>Count 3, Crimes against Humanity, from September 1939 to April 1945, against German
  civilians and nationals of occupied territories, including:</strong>
<ol class="list">
  <li>Use of irregular courts to suppress opposition (all defendants)</li>
  <li>Special Courts used against targeted nationalities (von Ammon, Engert, Klemm,
  Schlegelberger, Mettenberg, Rothenberger, Westphal)</li>

  <li>Use of German criminal laws against targeted nationalities (Barnickel, Cuhorst,
  Klemm, Lautz, Mettgenberg, Nebelung, Oeschey, Petersen, Rothaug, Rothenberger, Schlegelberger,
  Westphal)</li>

  <li>Annexation of occupied territories (Klemm, Lautz, Mettgenberg, Schlegelberger,
  Westphal)</li>

  <li>Enforcement of Nigth and Fog decree (Altstoetter, von Ammon, Engert, Joel,
  Klemm, Mettenberg, Schlegelberger)</li>

  <li>Abuse and murder of prisoners (Engert, Joel, Klemm, Lautz, Mettgenberg,
  Rothenberger, Westphal)</li>

  <li>Sterilization and euthanasia (Lautz, Schlegelberger, Westphal)</li>

  <li>Discriminatory prosecutions (von Ammon, Joel, Klemm, Mettgenberg, Rothenberger, Schlegelberger)</li>

  <li>Abuse of family and property, and citizenship laws against Jews and Poles
  (Altstoetter and Schlegelberger)</li>

  <li>Incitement of murder of Allied airmen (Klemm and Lautz)</li>
</ol>
  <strong>Count 4, Membership in Criminal Organizations:</strong>
<ol class="list">
  <li>Altstoetter, Cuhorst, Engert, and Joel for membership in the SS</li>

  <li>Cuhorst, Oeschey, Nebelung, and Rothaug for membership in the Leadership Corps of
  the Nazi Party</li>

  <li>Joel for membership in the SD</li>
</ol>

  <strong>Verdicts:</strong>
  <ol class="list">

  <li>Acquitted: Barnickel, Cuhorst, Nebelung, and Petersen</li>

  <li>Convicted: Altstoetter, von Ammon, Joel, Klemm, Lautz, Mettgenberg, Oeschey,
  Rothaug, Rothenberger, and Schlegelberger all were given prison sentences</li>

  <li>Mistrial, due to illness: Engert</li>

  <li>Westphal was indicted but not tried because he committed suicide before the trial
  began</li>
</ol>
</section>
<section class="theme-light">
     <div class="anchor" id="chronology_detailed"></div>
    <h2>Detailed Chronology</h2>
    <table class="table-trial-chronology">
<tr><td>Date</td><td>Content</td><td>Pages</td></tr>
<tr><td>17 Feb 1947</td><td>Arraignment</td><td>1-23</td></tr>
<tr><td>05 Mar</td><td>Rules of procedure; prosecution opening statement</td><td>24-139</td></tr>
<tr><td>6-7 Mar</td><td>Pros. evidence, Doc book 1A</td><td>140-230</td></tr>
<tr><td>7-10 Mar</td><td>Doc book 1B (and some of 1A)</td><td>230-344</td></tr>
<tr><td>10-11 Mar</td><td>Doc book 1C</td><td>345-405</td></tr>
<tr><td>11 Mar</td><td>Doc book 1D and 1E</td><td>406-439</td></tr>
<tr><td>17 Mar</td><td>Doc book 1 corrections and supplements, book 2 (NG715)</td><td>440-489</td></tr>
<tr><td>17 Mar</td><td>Doc book 3A</td><td>489-519</td></tr>
<tr><td>18 Mar</td><td>Doc book 3A; Conrad Behltestimony</td><td>520-588</td></tr>
<tr><td>19-20 Mar</td><td>Behl testimony</td><td>589-754</td></tr>
<tr><td>21 Mar</td><td>Behl testimony; Doc book 3A</td><td>755-843</td></tr>
<tr><td>24 Mar</td><td>Doc books 3A, 3B, 3C</td><td>844-935</td></tr>
<tr><td>25 Mar</td><td>Doc book 3C</td><td>936-1021</td></tr>
<tr><td>26 Mar</td><td>Irene Seiler testimony, Doc book 3C, 3D, 3E</td><td>1022-1112</td></tr>
<tr><td>27 Mar</td><td>Doc book 3D, 3E, 3F, 3G</td><td>1113-1205</td></tr>
<tr><td>28 Mar</td><td>Doc book 3E, 3G, 3H; Hugo Goeringer testimony</td><td>1206-1298</td></tr>
<tr><td>29 Mar</td><td>(missing; apparently covered showing of movie (NG 1019))</td><td>(1299-1303)</td></tr>
<tr><td>31 Mar</td><td>Karl Ferber testimony</td><td>1304-1389</td></tr>
<tr><td>01 Apr</td><td>Ferber testimony; doc book 3H</td><td>1390-1480</td></tr>
<tr><td>02 Apr</td><td>Doc book 3H, 3K, 3I</td><td>1481-1575</td></tr>
<tr><td>03 Apr</td><td>Karl Ferber testimony; Doc book 3I, 3L</td><td>1576-1664</td></tr>
<tr><td>08 Apr</td><td>Ferber testimony</td><td>1665-1749</td></tr>
<tr><td>09 Apr</td><td>Friedrich Doebig testimony</td><td>1750-1836</td></tr>
<tr><td>10 Apr</td><td>Doebig testimony; Robert Havemann testimony</td><td>1837-1920</td></tr>
<tr><td>11 Apr</td><td>Havemann testimony; Berthold Schwarz testimony</td><td>1921-2007</td></tr>
<tr><td>14 Apr</td><td>Schwarz testimony; Rinatus Rimelin testimony</td><td>2008-2096</td></tr>
<tr><td>15 Apr</td><td>Mark Schaefer testimony; HannaSolf testimony</td><td>2097-2187</td></tr>
<tr><td>16 Apr</td><td>Solf testimony</td><td>2188-2239</td></tr>
<tr><td>17 Apr</td><td>Documents for judicial notice (exhibits 248-251); Eberhard Schwarz testimony; Julius Diessem testimony</td><td>2240-2340</td></tr>
<tr><td>18 Apr</td><td>Diessem testimony; Doc books 4A, 4B, 4C; Robert Hecker testimony; Doc books 7A, 7B</td><td>2341-2410</td></tr>
<tr><td>21 Apr</td><td>Doc books 7B, 6</td><td>2411-2455</td></tr>
<tr><td>22 Apr</td><td>Doc books 6, 5A, 5C, Lorenz Eitner testimony</td><td>2456-2537</td></tr>
<tr><td>23 Apr</td><td>Doc books 5C, 5D; reports on Czech. & Poland (ex 379), Geneva & Hague conventions (ex 380); Rudolf Lehmann testimony</td><td>2538-2622</td></tr>
<tr><td>24 Apr</td><td>Lehmann testimony; Josef Hachtestimony</td><td>2623-2674</td></tr>
<tr><td>28 Apr</td><td>Benedict Wein testimony; Doc book 8A</td><td>2675-2742</td></tr>
<tr><td>29 Apr</td><td>Edinger Ancker testimony; Hague convention; IMT judgment; Doc books 8A, 9A</td><td>2743-2801</td></tr>
<tr><td>30 Apr</td><td>testimony: J. Hlavac; F. Gros; F.Elkar</td><td>2802-2902</td></tr>
<tr><td>01 May</td><td>Elkar testimony; IMT documents; Henry Einstein testimony</td><td>2903-2976</td></tr>
<tr><td>02 May</td><td>Doc book 9B</td><td>2977-3012</td></tr>
<tr><td>06 May</td><td>Miscellaneous business</td><td>3013-3020</td></tr>
<tr><td>09 May</td><td>Luitpold Schosser testimony; Robert Hecker testimony; Eugen Eggensberger testimony; Doc book 1 Supplement A</td><td>3021-3110</td></tr>
<tr><td>12 May</td><td>testimony: Hecker; R. Klees;  M.Dorfmueller</td><td>3111-3197</td></tr>
<tr><td>13 May</td><td>Dorfmueller testimony; John McLendon testimony; Doc book 4 Supplement; supplementary docs for books 1, 5, 6-8</td><td>3198-3282</td></tr>
<tr><td>14 May</td><td>Supplementary docs; Doc book 3 Supplement A; Horst Schmitt testimony; Doc book 3 Supplement B</td><td>3283-3348</td></tr>
<tr><td>19 May</td><td>Karl Filbig testimony; Thomas Hodges testimony; misc supplementary docs; Doc book 3 Supplement B; Anni Muench testimony</td><td>3349-3433</td></tr>
<tr><td>21 May</td><td>Misc documents; IMT opinion on slave labor</td><td>3434-3467</td></tr>
<tr><td>22 May</td><td>Defense cross-examination of prosecution affiants: Eichinger, Kroher, Ostermayer, Rauh, Grueb, Brem</td><td>3468-3564</td></tr>
<tr><td>23 May</td><td>Cross-exam. of Mayer, Kunz, Baur, Schroeder, Groben, Escher</td><td>3565-3641</td></tr>
<tr><td>27 May</td><td>Cross-exam. of Pfaff, Hofmann,Markl, Wizigmann, Engert,Froboese, Buchholz</td><td>3642-3725</td></tr>
<tr><td>28 May</td><td>Cross-exam. of Buchholz, Lipps, Mueller, Paulus, Kern</td><td>3726-3811</td></tr>
<tr><td>02 Jun</td><td>Conference on witnesses</td><td>3812-3816</td></tr>
<tr><td>03 Jun</td><td>Cross exam. of Baeumler, Suchomel, Wergin, Gruenwald, Miethsam</td><td>3817-3916</td></tr>
<tr><td>04 Jun</td><td>Cross-exam. of Miethsam, Kern, Hoffmann, Schirmer, Prey, Huemmer, Roeder, Kassing</td><td>3917-4018</td></tr>
<tr><td>05 Jun</td><td>Cross-exam. of Roeder, Mayer; planning for defense cases</td><td>4019-4052</td></tr>
<tr><td>23 Jun</td><td>General planning; Dr. Kubuschokon general defense theory; opening statements for Schlegelberger, Klemm, Rothenberger, Lautz,Mettgenberg, von Ammon, Rothaug, Barnickel</td><td>4053-4155</td></tr>
<tr><td>24 Jun</td><td>Opening statements for Joel, Petersen, Nebelung, Cuhorst, Oeschey, Altstoetter</td><td>4156-4227</td></tr>
<tr><td>25 Jun</td><td>Motion against Count 1; Jahrreis testimony</td><td>4228-4299</td></tr>
<tr><td>26 Jun</td><td>Jahrreis testimony; Schlegelberger case begins</td><td>4300-4372</td></tr>
<tr><td>27 Jun</td><td>Schlegelberger</td><td>4373-4439</td></tr>
<tr><td>30 Jun</td><td>Schlegelberger</td><td>4440-4511</td></tr>
<tr><td>01 Jul</td><td>Rosenau testimony; Schlegelberger docs</td><td>4512-4605</td></tr>
<tr><td>02 Jul</td><td>Meissner testimony; Schlegelberger docs</td><td>4606-4699</td></tr>
<tr><td>03 Jul</td><td>H. Gramm testimony; Schlegelberger docs; Klemm case begins (4784)</td><td>4700-4788</td></tr>
<tr><td>07 Jul</td><td>Klemm; testimony: R. Hecker, Wilhelm Miethsam</td><td>4789-4876</td></tr>
<tr><td>08 Jul</td><td>Miethsam testimony; Klemm</td><td>4877-4952</td></tr>
<tr><td>10 Jul</td><td>Klemm</td><td>4953-5025</td></tr>
<tr><td>11 Jul</td><td>Ruling on Count 1 (conspiracy); Klemm</td><td>5026-5092</td></tr>
<tr><td>14 Jul</td><td>Klemm cross-examination</td><td>5093-5186</td></tr>
<tr><td>15 Jul</td><td>Klemm; testimony: Hans Fritscheand Hans Altmeyer</td><td>5187-5290</td></tr>
<tr><td>16 Jul</td><td>testimony: Altmeyer, Eugen Eggensperger; Klemm ends (5324);Rothenberger begins</td><td>5291-5378</td></tr>
<tr><td>17 Jul</td><td>Rothenberger</td><td>5379-5454</td></tr>
<tr><td>18 Jul</td><td>Rothenberger</td><td>5455-5487</td></tr>
<tr><td>21 Jul</td><td>Rothenberger</td><td>5488-5575</td></tr>
<tr><td>22 Jul</td><td>Rothenberger; testimony: H.Lammers, W. von Steinaecker, E.Drescher, P. Eiffe</td><td>5576-5674</td></tr>
<tr><td>23 Jul</td><td>Eiffe testimony; Rothenberger ends (5692); Lautz begins</td><td>5675-5777</td></tr>
<tr><td>24 Jul</td><td>Lautz</td><td>5778-5870</td></tr>
<tr><td>25 Jul</td><td>Lautz</td><td>5871-5958</td></tr>
<tr><td>28 Jul</td><td>Lautz</td><td>5959-6054</td></tr>
<tr><td>29 Jul</td><td>Proceedings re Dr. Marx</td><td>6055-xxxx</td></tr>
<tr><td>30 Jul</td><td>Marx</td><td>zzzz-xxxx</td></tr>
<tr><td>31 Jul</td><td>Marx (6206); Lautz case ends;Mettgenberg begins (p6235)</td><td>xxxx-6291</td></tr>
<tr><td>01 Aug</td><td>Mettgenberg and O. Ehrhardt testimony, Mettgenberg ends; von Ammon case begins (p6377)</td><td>6292-6380</td></tr>
<tr><td>04 Aug</td><td>von Ammon ends (p6473); Joel (p6474)</td><td>6381-6478</td></tr>
<tr><td>05 Aug</td><td>Joel</td><td>6479-6566</td></tr>
<tr><td>06 Aug</td><td>Joel; Otto Lenz testimony; Joel docs</td><td>6567-6657</td></tr>
<tr><td>07 Aug</td><td>Klemm docs; Lautz docs</td><td>6658-6747</td></tr>
<tr><td>08 Aug</td><td>Lautz docs</td><td>6748-6753</td></tr>
<tr><td>11 Aug</td><td>Rothaug case</td><td>6754- 6827</td></tr>
<tr><td>12 Aug</td><td>Rothaug</td><td>6828-xxxx</td></tr>
<tr><td>13 Aug</td><td>Rothaug</td><td>xxxx-zzzz</td></tr>
<tr><td>14 Aug</td><td>Rothaug; Karl Schroeder testimony</td><td>7001-7089</td></tr>
<tr><td>15 Aug</td><td>Testimony: Schroeder, L. Denzler, H. Zimmermann, P. Ohler; docs</td><td>7090-7178</td></tr>
<tr><td>18 Aug</td><td>Rothaug</td><td>7179-7268</td></tr>
<tr><td>19 Aug</td><td>Rothaug</td><td>7269-7357</td></tr>
<tr><td>20 Aug</td><td>Rothaug; hearing on Engert(mistrial declared)</td><td>7358-7405</td></tr>
<tr><td>21 Aug</td><td>Rothaug; Arnold Buchthal testimony</td><td>7406-7491</td></tr>
<tr><td>22 Aug</td><td>Rothaug</td><td>7492-7540</td></tr>
<tr><td>25 Aug</td><td>Rothaug</td><td>7541-7637</td></tr>
<tr><td>26 Aug</td><td>Hearing on Rothenberger's health; Rothaug; Barnickel begins (p7649)</td><td>7637-7731</td></tr>
<tr><td>27 Aug</td><td>Barnickel; Suchomel testimony</td><td>7732-7827</td></tr>
<tr><td>28 Aug</td><td>Barnickel ends (p7901); defense doc books (Lautz 4A)</td><td>7829-7915</td></tr>
<tr><td>29 Aug</td><td>Defense doc books (Lautz 4A-B, 5, Nebelung 1, Rothaug 2-5B, Lautz4Suppl); Cuhorst case begins (p7958)</td><td>7916-8000</td></tr>
<tr><td>02 Sep</td><td>Cuhorst</td><td>8001-8093</td></tr>
<tr><td>03 Sep</td><td>Cuhorst; Otto Kuestner testimony</td><td>8094-8182</td></tr>
<tr><td>04 Sep</td><td>Testimony: Kuestner and W.Schoek (for Cuhorst); H.Loduchowski and W. Wiskott(prosecution)</td><td>8183-8290</td></tr>
<tr><td>05 Sep</td><td>Defense docs: Rothenberger, Klemm, Joel, Oeschey, Petersen</td><td>8291-8354</td></tr>
<tr><td>08 Sep</td><td>Pros. docs; Cuhorst: Max Hegele & Max Stuber testimony, Cuhorstdocs, Arnulf Klett testimony</td><td>8355-8436</td></tr>
<tr><td>09 Sep</td><td>H. Azesdorfer testimony, Cuhorstends (8510); Oeschey begins (8510)</td><td>8437-8517</td></tr>
<tr><td>10 Sep</td><td>Oeschey; G. Dechant testimony for Petersen; Oeschey</td><td>8518-8595</td></tr>
<tr><td>11 Sep</td><td>Oeschey</td><td>8596-8684</td></tr>
<tr><td>12 Sep</td><td>Oeschey</td><td>8685-8785</td></tr>
<tr><td>15 Sep</td><td>Oeschey, H. Markl and H. Hoffmann testimony, Oeschey docs (p8841); Altstoetter case begins (8841)</td><td>8786-8878</td></tr>
<tr><td>16 Sep</td><td>Altstoetter case; Nebelung docs</td><td>8879-8968</td></tr>
<tr><td>17 Sep</td><td>Witnesses: Werner Becher, Hans Hartmann, Hans Gramm</td><td>8969-9074</td></tr>
<tr><td>18 Sep</td><td>Witnesses: W., W. Ohlckens, E.Wentzensen, E. Waldow</td><td>9075-9164</td></tr>
<tr><td>19 Sep</td><td>Witnesses: Wentzensen, Waldow, Herbert Skok, Hans Timmermann, Wilhelm Weiss, Hans Willens, Isaac Waller</td><td>9165-9262</td></tr>
<tr><td>22 Sep</td><td>Witnesses: H. Franke, H.Hagemann, G. Mitzschke, F. Ludwig, A. Helm, F. Herget; docs for Petersen, Lautz, Barnickel, Rothenberger, prosecution</td><td>9263-9352</td></tr>
<tr><td>23 Sep</td><td>Docs for Petersen, Altstoetter,Rothaug</td><td>9353-zzzz</td></tr>
<tr><td>25 Sep</td><td>Defense docs</td><td></td></tr>
<tr><td>26 Sep</td><td>Defense docs</td><td>9578-9590</td></tr>
<tr><td>13 Oct</td><td>Defense docs</td><td>9591-9620</td></tr>
<tr><td>13-14 Oct</td><td>Pros. closing argument</td><td>9620-9798</td></tr>
<tr><td>14 Oct</td><td>Closing argument appendices</td><td>9798A-98PP</td></tr>
<tr><td></td><td>Defense final statements: Schlegelberger</td><td>9799-9872</td></tr>
<tr><td>15 Oct</td><td>Defense final: Klemm, Lautz, Joel, Nebelung</td><td>9873-10040</td></tr>
<tr><td>16 Oct</td><td>Defense final: Barnickel, Altstoetter, Oeschey, Petersen</td><td>10041-10261</td></tr>
<tr><td>17 Oct</td><td>Defense final: Mettgenberg, Rothenberger, Rothaug, Cuhorst; prosecution amended appendices 3 and 5</td><td>10262-10487</td></tr>
<tr><td>18 Oct</td><td>Defense final: Cuhorst,</td><td>10488-</td></tr>
<tr><td>3-4 Dec</td><td>Judgment of the Tribunal</td><td>10606-10932a</td></tr>
<tr><td> 4 Dec</td><td>Partial dissent by Judge Blair</td><td>10933-10933bb</td></tr>
<tr><td>04 Dec</td><td>Sentences imposed on those found guilty</td><td>10934-10937</td></tr>
</table>
</section>
{% endblock %}
