{% load search_url %}

<tr class="document-row">
  <td>
    <p>
      {% for case in document.cases.all %}
        <div class="trial-flag trial-{{case.short_name|slugify}}">{{case.short_name}}</div>
      {% endfor %}
    </p>
    <a class="unstyled" href="{% url 'documents:show' document_id=document.id %}">
      <h3>{{document.title}}</h3>
      <h5>{{document.literal_title}}</h5>
    </a>

    <p>
      <strong>Language of text:</strong>
      {{document.language.name}}
    </p>

    {% if document.defendants.count %}
      <p>
        <strong>Defendant{{document.defendants.count|pluralize}}:</strong>
        {% for defendant in document.defendants.all %}
            <a href="{% search_url defendant.full_name %}">{{defendant.first_name}} {{defendant.last_name}}</a>
        {% endfor %}
      </p>
    {% endif %}
  </td>
  <td>
    {% for author in document.personal_authors.all %}
      <p>
        <a href="{% search_url author.full_name %}">{{author.first_name}} {{author.last_name}}</a>
      </p>
    {% endfor %}
  </td>
  <td>
    <h5 class="date">
        {% if document.date %}
          {{document.date|date:'d M Y'}}
        {% else %}
          Unknown
        {% endif %}
      </h5>
  </td>
  <td>
    {{document.images.first.image_type.name}}
  </td>
</tr>
