{% load search_url %}

<tr class="document-row {% if document.personal_authors.count <= 2 %}extra-padding{% endif %}">
  <td>
    <p class="trial-flags">
      <div class="inline-type document-type-icon type-{{document.images.first.image_type.name|slugify}}">
      {{document.images.first.image_type.name}}</div>
      {% for case in document.cases.all %}
        <span class="trial-flag trial-{{case.short_name|slugify}}">{{case.short_name}}</span>
      {% endfor %}
    </p>
    <a class="unstyled" href="{% url_with_query 'documents:show' document.id query=query %}">
      <h3>{{document.title}}</h3>
      {% if document.literal_title %}
        <p>{{document.literal_title}}</p>
      {% endif %}
    </a>

    <p>
      <strong>Language of text:</strong>
      {{document.language.name}}
    </p>

    {% if document.defendants.count %}
      <p>
        <strong>Defendant{{document.defendants.count|pluralize}}:</strong>
        {% for defendant in document.defendants.all %}
            <a href="{% search_url defendant.full_name %}">{{defendant.first_name}} {{defendant.last_name}}</a>
        {% endfor %}
      </p>
    {% endif %}
  </td>
  <td>
    {% for author in document.personal_authors.all %}
      <p>
        <a href="{% search_url author.full_name %}">{{author.first_name}} {{author.last_name}}</a>
      </p>
    {% endfor %}
  </td>
  <td>
    <h5 class="date">
        {% if document.date %}
          {{document.date|date:'d F Y'}}
        {% else %}
          Unknown
        {% endif %}
      </h5>
  </td>
  <td class="type-col">
    <div class="document-type-icon type-{{document.images.first.image_type.name|slugify}}">
    {{document.images.first.image_type.name}}</div>
  </td>
</tr>
