{% load search_url %}
<tr class="document-row {% if result.authors|length <= 2 %}extra-padding{% endif %}">
  <td>
    <p class="trial-flags">
      <div class="inline-type document-type-icon type-{{result.material_type|slugify}}">
      {{result.material_type}}</div>
      {% for case in result.case_tags %}
        <span class="trial-flag trial-{{case|slugify}}">{{case}}</span>
      {% endfor %}
    </p>
    {% if result.material_type == 'Document' %}
      <a class="unstyled" href="{% url 'documents:show' document_id=result.pk slug=result.slug %}{% if query %}?q={% encode_string query %}{% endif %}">
        <h3>{{result.title}}</h3>
        {% if result.literal_title %}
          <p>{{result.literal_title}}</p>
        {% endif %}
      </a>
    {% elif result.material_type == 'Transcript' %}
      <a class="unstyled" href="{% url 'transcripts:search' transcript_id=result.transcript_id slug=result.slug %}{% if query %}?q={% encode_string query %}{% endif %}">
        <h3>{{result.title}}</h3>
        <p>{{group.hits}} result{{ group.hits|pluralize }} in this transcript</p>
        <p class="snippets">
          {% if group.hits == 1 %}
            {% for snippet in result.highlighted.text %}
              <span class="ellipsis">[ ... p. {{ result.page_label|default:"unlabeled" }} ]</span>
              {{ snippet|trim_snippet }}
            {% empty %}
              <span class="ellipsis">[ p. {{ result.page_label|default:"unlabeled" }} ]</span>
              {{ result.text|slice:":150"|trim_snippet }}
            {% endfor %}
          {% else %}
            {% for document in group.documents %}
              <span class="ellipsis">[ ... p. {{ document.page_label|default:"unlabeled" }} ]</span>
              {% if document.highlighted %}
                {{ document.highlighted.text.0|trim_snippet }}
              {% else %}
                {{ document.text|slice:":150"|trim_snippet }}
              {% endif %}
            {% endfor %}
          {% endif %}
          <span class="ellipsis">[ ... ]</span>
        </p>
      </a>
    {% endif %}

    <p>
      <strong>Language of Text:</strong>
      {{result.language}}
    </p>
    {% if result.source %}
      <p>
        <strong>Source of Text:</strong>
        {{result.source}}
      </p>
    {% endif %}
    {% if result.evidence_codes|length %}
      <p>
        <strong>Evidence Code{{ result.evidence_codes|length|pluralize }}{% if result.material_type == 'Transcript' %} Referenced{% endif %}:</strong>
        {% for code in result.evidence_codes %}
          {{code}}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
    {% endif %}
    {% if result.exhibit_codes|length %}
      <p>
        <strong>Exhibit Code{{ result.exhibit_codes|length|pluralize }}{% if result.material_type == 'Transcript' %} Referenced{% endif %}:</strong>
        {% for code in result.exhibit_codes %}
          {{code}}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
    {% endif %}

    {% if result.defendants|length %}
      <p>
        <strong>Defendant{{result.defendants|pluralize}}:</strong>
        {% for defendant in result.defendants %}
            <a href="{% search_query defendant=defendant %}">{{defendant}}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </p>
    {% endif %}
  </td>
  <td>
    {% for author in result.authors %}
      <p>
        <a href="{% search_query author=author %}">{{author}}</a>
      </p>
    {% endfor %}
  </td>
  <td>
    <h5 class="date">
        {% if result.date %}
          {{result.date}}
        {% else %}
          Unknown
        {% endif %}
      </h5>
  </td>
  <td class="type-col">
    <div class="document-type-icon type-{{result.material_type|slugify}}">
    {{result.material_type}}</div>
  </td>
</tr>
