{% extends base_template|default:"base.html" %}
{% load search_url %}

{% block title %} Document Search Results {% endblock %}

{% block body_class %}document-search{% endblock %}

{% block javascript_module %}search{% endblock %}

{% block content %}
<section class="theme-beige thin">
  <div class="full-width">
    <form class="results-search" action='{% url 'search:search' %}' method='GET'>
      {% include 'search/search-bar.html' %}
      <div class="show-advanced-search"><a>Advanced Search</a></div>
    </form>
    {% include 'search/advanced-search-help.html' %}
</section>
<section class="theme-light results">
  <div class="sidebar-layout">
    <div class="sidebar-column search-facets">
      <h4>Filter Results</h4>
      {% include 'search/search_facets.html' %}
    </div>
    <div class="main-column search-results">
      <div class="results-summary">
        <div class="loading-indicator hide">
          Loading results...
        </div>
        <div class="results-count">
          <p class="hint">
            Results {{page_obj.start_index}}-{{page_obj.end_index}} of {{paginator.count}} for
            <strong>
              {{form.auto_query|default:"*"}}
            </strong>

            {% for field_query in form.field_queries %}
              <span class="field-query {{field_query.2}}">
                {% if field_query.0 %}{{field_query.0}}:{% endif %}<strong>{{field_query.1}}</strong>
              </span>
            {% endfor %}
          </p>
        </div>
        <div class="results-sort">
          <label>
            Sort by
            <select>
              <option value="{% sort_results 'relevance' %}" {% if form.sort_results == 'relevance' %}selected{% endif %}>Relevance</option>
              <option value="{% sort_results 'date-asc' %}" {% if form.sort_results == 'date-asc' %}selected{% endif %}>Earliest Date</option>
              <option value="{% sort_results 'date-desc' %}" {% if form.sort_results == 'date-desc' %}selected{% endif %}>Latest Date</option>
              <option value="{% sort_results 'pages-asc' %}" {% if form.sort_results == 'pages-asc' %}selected{% endif %}>Fewest Pages</option>
              <option value="{% sort_results 'pages-desc' %}" {% if form.sort_results == 'pages-desc' %}selected{% endif %}>Most Pages</option>
            </select>
          </label>
        </div>
      </div>
      {% if form.applied_filters %}
        <div class="applied-filters">
          {% for filter in form.applied_filters %}
            <a href="{% remove_facet filter.2 %}" class="applied-filter">
              <strong>{{filter.0}}</strong>
              {{filter.1}}
              <span class="remove-button">&times;</span>
            </a>
          {% endfor %}
          <a href="{% clear_facets %}" class="clear-all"> Clear All Filters </a>
        </div>
      {% endif %}
      {% if paginator.count == 0 %}
        <div class="no-results">
          <p>
            No documents found for your query. Try removing some filters or search terms.
          </p>
        </div>
      {% else %}
        <table>
          <thead>
            <tr>
              <th class="material-col"> Material </th>
              <th class="author-col"> Authors </th>
              <th> Date </th>
              <th class="type-col"> Type </th>
            </tr>
          </thead>
          <tbody>
            {% for group in page_obj.object_list %}
              {% with group.documents.0 as result %}
                {% include 'search/document-row.html' %}
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      <div class="spacing" style="height: 20px"></div>
      {% include 'search/pagination.html' %}
    </div>
  </div>
</section>
{% endblock %}
