// Import bootstrap mixins, but don't include any bootstrap CSS in our bundle
@import (reference) "bootstrap/bootstrap";
@import "bootstrap/normalize";
@import "bootstrap/scaffolding";

@import "grid";
@import "nav";
@import "content";
@import "fonts";
@import "text";
@import "forms";
@import "colors";
@import "mixins";
@import "footer";

// body, html {
// 	height: 100%;
// }

// body {
// 	background-position: top;
// 	background-repeat: no-repeat;
// }
// section, header, footer {
// 	opacity: 0.8;
// }
//
// body.landing-page {
// 	background-image: url('@{image_url}/landing-mockup.png');
// }
//
// body.approaches {
// 	background-image: url('@{image_url}/approaches-mockup.png');
// }
// body.document-viewer {
// 	background-image: url('@{image_url}/document-viewer-mockup.png');
// }

body.document-viewer {
  @import "documents";
}

body.document-search {
  @import "search";
}

body {
  color: black;
  margin: 0px;
  padding: 0px;
  .center-block();
  max-width: 1200px;
  border-left: 1px solid @light-gray;
  border-right: 1px solid @light-gray;
}
