.sidebar-layout {
  .sidebar-column {
    .make-md-column(2.5);
  }
  .main-column {
    .make-md-column(9.5);
    .make-md-column-offset(0);
  }
}

section.results {
  padding-top: 20px;
}

.results-summary {
  .make-row();

  margin-bottom: 18px;

  .results-count {
    .make-md-column(5);
    padding-left: 30px;
    .pull-left();

    margin-top: 2px;

    .hint {
      font-size: 14px;
    }
  }
  .results-sort {
    .make-md-column(6);
    .pull-right();

    padding-right: 6px;

    label {
      float: right;
      padding: 9px 0;
      .sans-serif(bold, 14px, 12px);
    }
    select {
      width: 130px;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

.search-facets {
  h4 {
    font-size: 18px;
  }
  p {
    &:extend(p.module);
  }
  .facet {
    margin: 20px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid @light-gray;

    h5 {
      margin: 0 0 10px;
    }

    h6 {
      .sans-serif(normal, 14px, 19px);
      color: @black;
      margin: 5px 0;
    }

    p {
      .sans-serif(normal, 14px, 19px);
    }

    position: relative;
    .collapse {
      position: absolute;
      right: 8px;
      top: 5px;
      width: 10px;
      height: 7px;
      color: transparent;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url('@{image_url}/search/facet-collapse.png');
      cursor: pointer;
    }

    transition: max-height 0.3s;
    // overflow: hidden;
    max-height: 300px;
    &.collapsed {
      max-height: 39px;
      > p, > h6 {
        visibility: hidden;
      }
      .collapse {
        background-image: url('@{image_url}/search/facet-uncollapse.png');
      }
      &:after {
        content: ' ';
        background-color: white;
        position: absolute;
        bottom: 0;
        height: 10px;
        left: 0;
        right: 0;
      }
    }
  }

  .date-filter {
    input {
      width: 40px;
      padding: 1px 6px;
      margin: 0 3px;
      &:first-child {
        margin-left: 0;
      }
    }

  }

  .date-slider {
    margin: 25px 0px 25px;
  }
  .start-year, .end-year {
    &:extend(p.small);
    margin-top: 16px;
  }
  .start-year {
    float: left;
  }
  .end-year {
    float: right;
  }
}

.applied-filters {
  padding-left: 15px;
  .sans-serif(@light, 14px, 20px);
  .clear-all {
    margin-left: 5px;
  }
}

.material-col {
  width: 59%;
}
.author-col {
  width: 22%;
}

.search-results table {
  margin-top: 30px;
}

.document-row {
  &.extra-padding > td {
    padding-top: 26px;
    &:first-child {
      padding-top: 7px;
    }
  }
  > td {
    padding-top: 7px;
  }
  p.trial-flags {
    margin-top: -5px;
  }
  p {
    &:extend(p.module);
    margin: 4px 0;
    strong {
      font-weight: @medium;
      color: @gray;
    }
  }
  h3 {
    font-size: 18px;
    margin: 10px 0 4px;
  }
  .date {
    color: @gray;
    font-weight: normal;
    font-size: 16px;
  }
  .document-type-icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 26px;
    height: 26px;
    font-size: 0px;
    margin-top: -4px;
    color: transparent;
    &.type-text {
      background-image: url('@{image_url}/documents/icon-type-text.png');
    }
  }
}

.pagination-row {
  .make-row();
}
.pagination-controls {
  .make-md-column(6);
  .make-md-column-offset(3);

  .sans-serif(@light, 17px, 20px);
  a {
    height: 24px;
    display: inline-block;
    margin: 3px 10px;
  }
  .page-number {
    text-decoration: none;
    &.current {
      color: @black;
    }
  }
  .next-page, .prev-page {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 11px;
    color: transparent;
    vertical-align: top;
    margin-top: 0px;
  }
  .page-arrow(@dir) {
    background-image: url('@{image_url}/search/page-arrow-@{dir}.png');
    &:hover {
      background-image: url('@{image_url}/search/page-arrow-@{dir}-over.png');
    }
  }
  .prev-page {
    .page-arrow('left');
  }
  .next-page {
    .page-arrow('right');
  }
}
