<div class="footer-about">
  <h3> Harvard Law School Library Nuremberg Trials Project </h3>
  The Nuremberg Trials Project is an open-access initiative to create and present
  digitized images or full-text versions of the Library's Nuremberg documents,
  descriptions of each document, and general information about the trials.
  <br />
  <a href="mailto:specialc@law.harvard.edu" class="email">specialc@law.harvard.edu</a>
  <div class="copyright">
    Copyright 2015 &copy; The President and Fellows of Harvard College. Last reviewed: June 2016.
  </div>
</div>
<ul class="footer-nav-col offset">
  <li>
    <a href="{% url 'content:about' %}">About the Project </a>
  </li>
  <li>
    <a href="{% url 'content:trials' %}">Trials </a>
  </li>
  <li>
    <a href="{% url 'content:people' %}">People </a>
  </li>
</ul>
<ul class="footer-nav-col">
  <li>
    <a href="{% url 'content:documents' %}">Documents</a>
  </li>
  <li>
    <a href="/search#advanced">Advanced Search</a>
  </li>
</ul>
