<nav class="site-nav">
  <div class="site-brand">
    <a class="unstyled" href="{% url 'content:landing' %}">
      <div class="brand-harvard"> Harvard Law School Library </div>
      <div class="brand-harvard-abbr"> HLS </div>
      <div class="brand-project"> Nuremberg Trials Project </div>
    </a>
  </div>
  <ul class="nav-links">
    <li class="has-menu"> <a href="#" data-toggle="dropdown"
      {% if request.resolver_match.url_name == 'trials' %}class="active"{% endif %}
      > Trials </a>
        <ul class="menu">
          <li><a href="{% url 'content:people' %}">People</a></li>
          <li><a href="{% url 'content:trials' %}">Trials</a></li>
        </ul>
    </li>

    <li> <a href="{% url 'content:documents' %}"
      {% if request.resolver_match.url_name == 'documents' %}class="active"{% endif %}
      >  Documents </a> </li>

    <li class="has-menu"> <a href="#" data-toggle="dropdown"
      {% if request.resolver_match.url_name == 'about' %}class="active"{% endif %}
      > About the Project </a>
        <ul class="menu">
          <li><a href="{% url 'content:intro' %}">Intro</a></li>
          <li><a href="{% url 'content:funding' %}">Funding</a></li>
          <li><a href="https://guides.library.harvard.edu/NurembergLibGuide">Guide</a></li>
        </ul>
    </li>
  </ul>
</nav>
