{% extends "base.html" %}
{% load search_url static cache %}

{% block title %} Document Viewer - {{document.title}} {% endblock %}

{% block body_class %}document-viewer{% endblock %}

{% block javascript_module %}documents{% endblock %}

{% block javascript %}
{{block.super}}
{% endblock %}

{% block content %}
<section class="theme-light flush">
  {% block document_tools %}
    {% if query %}
      <div class="document-tools">
        <form class="document-search-inline" method='GET'>
          {% include 'search/search-bar.html' %}
          {% if page_obj %}
            <label><strong>{{ paginator.count }}</strong> pages with results</label>
            <a href="{% sort_results 'page' %}" {% if form.sort_results == 'page' %}class="active"{% endif %}>Order by Page</a>
            <a href="{% sort_results 'relevance' %}" {% if form.sort_results == 'relevance' %}class="active"{% endif %}>Order by Relevance</a>
          {% endif %}
        </form>
        <div class="return-link">
          <a href="{% search_url query %}"> &larr; Back to search results </a>
        </div>
      </div>
      <hr />
    {% endif %}
    {% block document-nav %}
      <div class="document-tools">
        {% block document_controls %}
          <div class="zoom-buttons">
            <button class="zoom-in">
              Zoom In
            </button>
            <button class="zoom-out">
              Zoom Out
            </button>
          </div>
        {% endblock %}
        <div class="page-buttons">
          {% block page_selection %}
          {% endblock %}
          <button class="first-page">
            First Page
          </button>
          <button class="prev-page">
            Previous Page
          </button>
          <button class="next-page">
            Next Page
          </button>
          <button class="last-page">
            Last Page
          </button>
          <a class="download-page">
            Download Page
          </a>
        </div>
      </div>
    {% endblock %}
  {% endblock %}
  <hr />
  <div class="sidebar-layout">
    <div class="sidebar-column document-info">
      {% block document_info %}

      {% endblock %}
    </div>
    <div id="document-viewport" class="main-column">
      <div class="viewport-content">
        {% block viewport %}
        {% endblock %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
