{% extends "base.html" %}
{% load search_url static cache %}

{% block title %} Document Viewer - {{document.title}} {% endblock %}

{% block body_class %}document-viewer{% endblock %}

{% block javascript_module %}documents{% endblock %}

{% block javascript %}
{{block.super}}
{% endblock %}

{% block content %}
<section class="theme-light flush">
  {% block document_tools %}
    {% if query %}
      <div class="document-tools">
        <form class="document-search-inline" action="{% url 'search:search' %}" method='GET'>
          {% include 'search/search-bar.html' %}
        </form>
        <div class="return-link">
          <a href="{% search_url query %}"> &larr; Back to search results </a>
        </div>
      </div>
      <hr />
    {% endif %}
    <div class="document-tools">
      {% block document_controls %}
        <div class="zoom-buttons">
          <button class="zoom-in">
            Zoom In
          </button>
          <button class="zoom-out">
            Zoom Out
          </button>
        </div>
      {% endblock %}
      <div class="page-buttons">
        {% block page_selection %}
          <select title="Jump to document page">
            {% for page in document.page_range %}
              <option value="{{page}}">Sequence No. {{page}} </option>
            {% endfor %}
          </select>
        {% endblock %}
        <button class="first-page">
          First Page
        </button>
        <button class="prev-page">
          Previous Page
        </button>
        <button class="next-page">
          Next Page
        </button>
        <button class="last-page">
          Last Page
        </button>
        <a class="download-page">
          Download Page
        </a>
      </div>
    </div>
  {% endblock %}
  <hr />
  <div class="sidebar-layout">
    <div class="sidebar-column document-info">
      <div class="material-icon small material-documents"></div>
      <p class="trial-flags">
        {% for case in document.cases.all %}
          <span class="trial-flag trial-{{case.tag_name|slugify}}">{{case.tag_name}}</span>
        {% endfor %}
        &nbsp;
      </p>
      <div class="print-controls">
        <div>
          <button class="download-pdf">PDF</button>
          <div class="download-options hide">
            Page
            <input type="number" class="page-range" name="from-page" title="First page to export" min="1" max="{{document.image_count}}"/>
            to
            <input type="number" class="page-range" name="to-page" title="Last page to export" min="1" max="{{document.image_count}}"/>
            <a class="do-download">Save PDF</a>
          </div>
          <div class="pdf-loading hide">Downloading images for PDF... <span class="progress"></span></div>
        </div>
      </div>
      <h1 class="h3" aria-role="heading" aria-level="1">{{document.title}}</h1>
      <div class="h5">{{document.literal_title}}</div>
      {% block document_details %}
        <p class="date">
          {% with document.date as date %}
          {% if date %}
            <a href="{% search_query date=date|date:'d F Y' %}">{{date|date:'d F Y'}}</a>
          {% else %}
            <a href="{% search_query date='unknown' %}">Date Unknown</a>
          {% endif %}
          {% endwith %}
        </p>
        {% with document.personal_authors.all as personal_authors %}
        <div class="h6">Author{{personal_authors|length|pluralize}}</div>
        {% for author in personal_authors %}
          <p>
            <a href="{% search_query author=author.full_name %}" aria-label="search for author {{author.full_name}}">{{author.first_name}} {{author.last_name}}</a>
            ({{author.title}})
          </p>
        {% empty %}
          <p> Unknown </p>
        {% endfor %}
        {% endwith %}
        {% with document.group_authors.all as group_authors %}
        {% if group_authors %}
          <div class="h6">Institutional Author{{group_authors|length|pluralize}}</div>
          {% for author in group_authors %}
            <p>
              <a href="{% search_query author=author.short_name %}" aria-label="search for author {{author.name}}">{{author.name}}</a>
            </p>
          {% endfor %}
        {% endif %}
        {% endwith %}

        {% with document.defendants.all as defendants %}
        {% if defendants %}
          <div class="h6">Defendant{{defendants|length|pluralize}}</div>
          {% for defendant in defendants %}
            <p>
              <a href="{% search_query defendant=defendant.full_name %}" aria-label="search for defendant {{defendant.full_name}}">{{defendant.first_name}} {{defendant.last_name}}</a>
            </p>
          {% endfor %}
        {% endif %}
        {% endwith %}
        <br />
        <p>
          <strong>Total Pages:</strong>
          {{document.image_count}}
        </p>
        <p>
          <strong>Language of Text:</strong>
          {{document.language.name}}
        </p>
        <p>
          <strong>Source of Text:</strong>
          {{document.source.name}}
        </p>
        {% with document.evidence_codes.all as evidence_codes %}
        {% if evidence_codes %}
          <p>
            <strong>Evidence Code{{ evidence_codes|length|pluralize }}:</strong>
            {% for code in evidence_codes %}
              <a href="{% search_query evidence=code %}">{{code}}</a> {% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
        {% endif %}
        {% endwith %}
        {% with document.exhibit_codes.all as exhibit_codes %}
        {% if exhibit_codes %}
          <p>
            <strong>Exhibit Code{{ exhibit_codes|length|pluralize }}:</strong>
            {% for code in exhibit_codes %}
              {% if code.prosecution_number or code.defense_number %}
                <a href="{% search_query exhibit=code %}">{{code}}</a>{% if not forloop.last %}, {% endif %}
              {% endif %}
            {% endfor %}
          </p>
        {% endif %}
        {% endwith %}
        <p>
          <strong>HLSL Item No.:</strong>
          {{document.id}}
        </p>
      {% endblock %}
      {% with document.activities.all as activities %}
      {% if activities %}
        <div class="h6">Trial Issue{{activities|length|pluralize}}</div>
        <p>
          {% for activity in activities %}
              <a class="tag-button" href="{% search_query issue=activity.short_name %}">{{activity.short_name}}</a>
          {% endfor %}
        </p>
      {% endif %}
      {% endwith %}
    </div>
    <div id="document-viewport" class="main-column">
      <div class="viewport-content scrollable" data-document-id="{{document.id}}">
        {% block viewport %}
          <div class="document-image-layout">
            {% if document.images_screen == "no images" %}
              <div class="no-image-block"><p class="no-image-note">Images for this document are not yet available.</p></div>
            {% else %}
              {% for image in document.images_screen %}
                <div data-screen-url="{{image.url}}" data-thumb-url="{{image.thumb_url|default_if_none:""}}"  data-full-url="{{image.full_url|default_if_none:""}}" data-width="{{image.width}}" data-height="{{image.height}}" class="document-image {% if not image.url %}image-missing loading{% else %}loaded{% endif %}" data-page="{{forloop.counter}}" style="width: {{image.width}}px; height: {{image.height}}px;" data-alt="Document page {{forloop.counter}}">
                  {% if image.url %}
                    <noscript><img src="{{image.url}}" alt="Scanned document page {{forloop.counter}}" /></noscript>
                    <div class="image-label">
                      {{image.page_number}}
                    </div>
                  {% else %}
                    <div class="image-label">
                      Missing Image No. {{image.page_number}}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            {% endif %}
          </div>
        {% endblock %}
      </div>
      {% block tools_overlay %}
        <div class="document-tools-overlay">
          <div class="tool-buttons">
            <button class="magnify">magnify</button>
            <button class="scroll">scroll</button>
            <button class="expand">expand</button>
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
</section>
{% endblock %}
