{% extends "base.html" %}
{% load search_url static %}

{% block title %} Document Viewer - {{document.title}} {% endblock %}

{% block body_class %}document-viewer{% endblock %}

{% block javascript_module %}documents{% endblock %}

{% block javascript %}
{{block.super}}
{% endblock %}

{% block content %}
<section class="theme-light flush">
  {% block document_tools %}
    {% if query %}
      <div class="document-tools">
        <form class="document-search-inline" action='{% url 'transcripts:search' document.id %}' method='GET'>
          {% include 'search/search-bar.html' %}
          {% if results %}
            <label><strong>{{results|length}}</strong> results in this transcript</label>
            <a>Order by Page</a>
            <a class="active">Order by Relevance</a>
          {% endif %}
        </form>
        <div class="return-link">
          <a href="{% search_url query %}"> &larr; Back to search results </a>
        </div>
      </div>
      <hr />
    {% endif %}
    <div class="document-tools">
      {% block document_controls %}
        <div class="zoom-buttons">
          <button class="zoom-in">
            Zoom In
          </button>
          <button class="zoom-out">
            Zoom Out
          </button>
        </div>
      {% endblock %}
      <div class="page-buttons">
        {% block page_selection %}
          <select>
            {# {% for image in document.images %}#}
            {% for image in document.images_screen %}
              <option value="{{image.page_number}}">Sequence No. {{image.page_number}}
                {% if image.physical_page_number %}  (p. {{image.physical_page_number}}){% endif %}
              </option>
            {% endfor %}
          </select>
        {% endblock %}
        <button class="first-page">
          First Page
        </button>
        <button class="prev-page">
          Previous Page
        </button>
        <button class="next-page">
          Next Page
        </button>
        <button class="last-page">
          Last Page
        </button>
        <a class="download-page">
          Download Page
        </a>
      </div>
    </div>
  {% endblock %}
  <hr />
  <div class="sidebar-layout">
    <div class="sidebar-column document-info">
      <div class="material-icon small material-documents"></div>
      <p class="trial-flags">
        {% for case in document.cases.all %}
          <span class="trial-flag trial-{{case.short_name|slugify}}">{{case.short_name}}</span>
        {% endfor %}
        &nbsp;
      </p>
      <div class="print-controls">
        <div>
          <button class="download-pdf">PDF</button>
          <div class="download-options hide">
            Page
            <input type="number" class="page-range" name="from-page" min="1" max="{{document.image_count}}"/>
            to
            <input type="number" class="page-range" name="to-page" min="1" max="{{document.image_count}}"/>
            <a class="do-download">Save PDF</a>
          </div>
          <div class="pdf-loading hide">Downloading images for PDF... <span class="progress"></span></div>
        </div>
      </div>
      <h3>{{document.title}}</h3>
      <h5>{{document.literal_title}}</h5>
      {% block document_details %}
        <p class="date">
          {% if document.date %}
            <a>{{document.date|date:'d F Y'}}</a>
          {% else %}
            <a>Date Unknown</a>
          {% endif %}
        </p>
        <h6>Author{{document.personal_authors.count|pluralize}}</h6>
        {% if document.personal_authors.count %}
          {% for author in document.personal_authors.all %}
            <p>
              <a href="{% search_url author.full_name %}">{{author.first_name}} {{author.last_name}}</a>
              ({{author.title}})
            </p>
          {% endfor %}
        {% else %}
          <p> Unknown </p>
        {% endif %}
        {% if document.group_authors.count %}
          <h6>Institutional Author{{document.group_authors.count|pluralize}}</h6>
          {% for author in document.group_authors.all %}
            <p>
              <a href="{% search_url author.short_name %}">{{author.name}}</a>
            </p>
          {% endfor %}
        {% endif %}
        {% if document.defendants.count %}
          <h6>Defendant{{document.defendants.count|pluralize}}</h6>
          {% for defendant in document.defendants.all %}
            <p>
              <a href="{% search_url defendant.full_name %}">{{defendant.first_name}} {{defendant.last_name}}</a>
            </p>
          {% endfor %}
        {% endif %}
        <br />
        <p>
          <strong>Total Pages:</strong>
          {{document.image_count}}
        </p>
        <p>
          <strong>Language of Text:</strong>
          {{document.language.name}}
        </p>
        <p>
          <strong>Source of Text:</strong>
          {{document.source.name}}
        </p>
        <p>
          <strong>HLSL Item No.:</strong>
          {{document.id}}
        </p>
      {% endblock %}
      {% if document.activities.count %}
        <h6>Trial Activities</h6>
        <p>
          {% for activity in document.activities.all %}
              <a class="tag-button" href="{% search_url activity.short_name %}">{{activity.short_name}}</a>
          {% endfor %}
        </p>
      {% endif %}
    </div>
    <div id="document-viewport" class="main-column">
      <div class="viewport-content scrollable" data-document-id="{{document.id}}">
        {% block viewport %}
          <div class="document-image-layout">
            {% for image in document.images_screen %}
              <div data-screen-url="{{image.url}}" data-full-url="{{image.full_url|default_if_none:""}}" data-width="{{image.width}}" data-height="{{image.height}}" class="document-image loaded {% if not image.url %}image-missing{% endif %}" data-page="{{forloop.counter}}" style="width: {{image.width}}px; height: {{image.height}}px;">
                {% if image.url %}
                  <noscript><img src="{{image.url}}" /></noscript>
                  <div class="image-label">
                    {{image.page_number}}
                  </div>
                {% else %}
                  <div class="image-label">
                    Missing Image No. {{image.page_number}}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endblock %}
      </div>
      <div class="document-tools-overlay">
        <div class="tool-buttons">
          <button class="magnify">magnify</button>
          <button class="scroll">scroll</button>
          <button class="expand">expand</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
