.zoom-buttons {

  button {
    &:extend(.hide-text);

    background-color: @white;
    border: 1px solid @light-gray;
    .border-radius(0);

    width: 47px;
    height: 35px;
    margin: 0;

    &.zoom-in {
      background-image: url('@{image_url}/icon-zoom-in.png');
    }
    &.zoom-out {
      background-image: url('@{image_url}/icon-zoom-out.png');
    }
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right: none;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

#document-viewport {
  cursor: default;
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
}

.document-image {
  display: block;
  margin: 10px;
  max-width: 100%;
  position: relative;
  zoom:1;
  width: auto;
  max-height: 850px;
  max-width: 650px;

  text-align: center;
  .sans-serif(bold, 45px, 85px);
  background-color: @light-black;
  color: @dark-gray;

  img {
    margin: 0;
    position: relative;
    z-index: 1;
    // width: 100%;
    // height: auto;
    zoom:1;
  }
  &.small-image {
    max-width: 150px;
  }
  .image-label {
    position: absolute;
    bottom: 50%;
    z-index: 0;
    width: 100%;
  }
}
