@static_url: '/static';
@font_url: '@{static_url}/fonts';
@image_url: '@{static_url}/images';

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.box-sizing(@boxmodel) {
	-webkit-box-sizing: @boxmodel;
		 -moz-box-sizing: @boxmodel;
	box-sizing: @boxmodel;// ~"; *behavior: url(/static/scripts/ie7/boxsizing.htc)";
}
