@navbar-border-radius: 0;
@navbar-height: 62px;
@navbar-margin-bottom: 0;
@navbar-padding-vertical: 12px;
@navbar-padding-horizontal: 50px;

body {
    &.fixed-nav {
      > header {
        .navbar-fixed-top();
        nav {
          .navbar-fixed-width();
          border-left: 1px solid @light-gray;
          border-right: 1px solid @light-gray;
        }
      }
      padding-top: @navbar-height;
    }
}
.navbar-fixed-width {
  margin-left: auto;
  margin-right: auto;

  @media all and (min-width: @screen-lg-min) {
    width: @screen-lg-min;
  }

  width: 100%
}

.site-nav {
  .navbar();
  padding: 22px @navbar-padding-horizontal 0;
  min-height: inherit;

  background-color: @black;
  color: white;
  border: none;
  .border-radius(0);

  .site-brand {
    .navbar-header();
    .sans-serif(normal, 20px, 20px);
    div {
      display: inline-block;
    }
    .brand-harvard {
      display: none;
    }
    .brand-harvard-abbr {
      color: @dark-gray;
    }
    .brand-project {
      letter-spacing: 1px;
      margin-left: 2px;
    }
    text-transform: uppercase;
  }

  ul.nav-links {
    .nav();
    .navbar-nav();
    .pull-right();

    .sans-serif(@light, 18px, 18px);

    margin: 0;
    margin-bottom: 13px !important;

    li {
      float: left;
      margin: 0 0 0 30px;
      > a {
        @underline-color: #424D56;
        padding: 7px 0 14px;
        line-height: 0px;
        color: white;
        border: none;
        &:hover {
          color: @dark-blue;
          background-color: transparent;
        }
        &:focus {
          background-color: transparent;
        }
        &:active {
          color: @dark-gray;
        }
        &.active {
          border-bottom: 5px solid @underline-color;
          cursor: pointer;
          pointer-events: none;
        }
      }
    }
  }
}
