# After updating this file, run
#
# `pip-compile && pip-compile requirements.in nuremberg/core/tests/requirements.in -o nuremberg/core/tests/requirements.txt`
#
# to update requirements.txt and nuremberg/core/tests/requirements.txt

coverage==5.5
django_coverage_plugin==1.8.0
pyquery==1.4.3
pytest==6.2.2
pytest-django==4.1.0
pytest-cov==2.11.1
pytest-instafail==0.4.2
selenium==3.141.0
sure==1.4.11
