{% extends "base.html" %}
{% load search_url static cache %}

{% block title %} Photographs - {{document.title}} {% endblock %}

{% block body_class %}photographs{% endblock %}

{% block javascript_module %}{% endblock %}

{% block javascript %}
{{block.super}}
{% endblock %}

{% block content %}
<section class="theme-light flush">
  {% block document_tools %}
    {% if query %}
      <div class="document-tools">
        <form class="document-search-inline" action="{% url 'search:search' %}" method='GET'>
          {% include 'search/search-bar.html' %}
        </form>
        <div class="return-link">
          <a href="{% search_url query %}"> &larr; Back to search results </a>
        </div>
      </div>
      <hr />
    {% endif %}
  {% endblock %}
  <div class="full-width">
    <h6>
      Photograph
    </h6>
    <h3 class="photograph-title">
      {{document.title}}
    </h3>
    <p class="photograph-date">
      {{ document.year_taken|default:"Undated" }}
    </p>
    <p>
      <img src="{{document.image_url}}" />
    </p>
    <div class="photograph-inscription">
      <h6>Inscription</h6>
      <p>{{document.inscription}}</p>
      <p>
        <a href="{{document.image_url}}" download="HLSL NTP Photographic Archive #{{ document.id }}">
          Download Image
        </a>
      <p>
    </div>
  </div>
</section>
{% endblock %}
